---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/fake/repository/contents/PITCH.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1525202856'
      X-Github-Media-Type:
      - github.v3; param=html
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/contents/#get-contents"}'
  recorded_at: Tue, 01 May 2018 18:50:16 GMT
- request:
    method: get
    uri: https://api.github.com/repos/fake/repository/contents/README.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1525202856'
      X-Github-Media-Type:
      - github.v3; param=html
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/contents/#get-contents"}'
  recorded_at: Tue, 01 May 2018 18:50:16 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/contents/README.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.html; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1525202856'
      Etag:
      - '"06ba001b49a7c9eb032b3809a62db448f8558073"'
      Last-Modified:
      - Tue, 01 May 2018 11:39:30 GMT
      X-Github-Media-Type:
      - github.v3; param=html
    body:
      encoding: UTF-8
      string: |-
        <div id="file" class="announce instapaper_body md" data-path="README.md"><article class="markdown-body entry-content" itemprop="text"><p><a href="https://travis-ci.org/AgileVentures/LocalSupport" rel="nofollow"><img src="https://camo.githubusercontent.com/d16061b38261e29c60358f72cacd60e9ff7d8c49/68747470733a2f2f7472617669732d63692e6f72672f4167696c6556656e74757265732f4c6f63616c537570706f72742e706e67" alt="Build Status" data-canonical-src="https://travis-ci.org/AgileVentures/LocalSupport.png" style="max-width:100%;"></a> <a href="https://codeclimate.com/github/AgileVentures/LocalSupport/maintainability" rel="nofollow"><img src="https://camo.githubusercontent.com/f8b663b417ebde32e165904a32a4c2129ff3c662/68747470733a2f2f6170692e636f6465636c696d6174652e636f6d2f76312f6261646765732f33343438663635346164636466653334623030372f6d61696e7461696e6162696c697479" alt="Maintainability" data-canonical-src="https://api.codeclimate.com/v1/badges/3448f654adcdfe34b007/maintainability" style="max-width:100%;"></a> <a href="https://codeclimate.com/github/AgileVentures/LocalSupport/test_coverage" rel="nofollow"><img src="https://camo.githubusercontent.com/54876f91c8630fc0af13a1ce7ea6a7b437e2ffde/68747470733a2f2f6170692e636f6465636c696d6174652e636f6d2f76312f6261646765732f33343438663635346164636466653334623030372f746573745f636f766572616765" alt="Test Coverage" data-canonical-src="https://api.codeclimate.com/v1/badges/3448f654adcdfe34b007/test_coverage" style="max-width:100%;"></a></p>
        <h1><a id="user-content-localsupport" class="anchor" aria-hidden="true" href="#localsupport"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>LocalSupport</h1>
        <p>LocalSupport is the software that runs the <a href="https://www.harrowcn.org.uk/" rel="nofollow"[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/contents/PITCH.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1525202856'
      X-Github-Media-Type:
      - github.v3; param=html
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/contents/#get-contents"}'
  recorded_at: Tue, 01 May 2018 18:50:18 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/nisevi/nisevi/contents/PITCH.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.html; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '15252028[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/contents/PITCH.md?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4810'
      X-Ratelimit-Reset:
      - '1525259263'
      X-Github-Media-Type:
      - github.v3; param=html
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/contents/#get-contents"}'
  recorded_at: Wed, 02 May 2018 11:00:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/contents/README.md?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.html; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limi[...]
- request:
    method: get
    uri: https://api.github.com/repos/fake/repository/contents/PITCH.md?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4808'
      X-Ratelimit-Reset:
      - '1525259263'
      X-Github-Media-Type:
      - github.v3; param=html
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/contents/#get-contents"}'
  recorded_at: Wed, 02 May 2018 11:00:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/fake/repository/contents/README.md?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4807'
      X-Ratelimit-Reset:
      - '1525259263'
      X-Github-Media-Type:
      - github.v3; param=html
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/contents/#get-contents"}'
  recorded_at: Wed, 02 May 2018 11:00:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/nisevi/nisevi/contents/PITCH.md?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.html; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '50[...]
