<% @event_instances.each_with_index do |hangout, index| %>
  <% present hangout do |hangout_presenter| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render partial: 'index_basic_info', locals: { hangout: hangout_presenter, index: index}  %>
      </div>
      <div id="<%= "collapse#{index}" %>" class="panel-collapse collapse">
        <div class="panel-body">
          <%= render partial: 'index_extra_info', locals: { hangout: hangout_presenter }  %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
