<div class="row flex-center">
  <div class="col-lg-8 col-md-6 hidden-xs hidden-sm">
    <h1 class="text-center">Hangouts</h1>
  </div>
  <div class='col-lg-4 col-md-6 col-sm-12'>
    <div class="pull-right-lg">
      <button id="btn-hg-toggle" type="button" class="btn btn-default">toggle summary</button>
      <%= link_to 'show all/live', hangouts_path(live: !(params[:live]=='true')), class: 'btn btn-default' %>
    </div>
  </div>
</div>
