<% provide :title, 'Hangouts' %>
<section class="live-hangouts">
  <div class='container-fluid'>
    <div class='row hg-toggles'>
        <button id="btn-hg-toggle" type="button" class="btn-hg-toggle">toggle summary</button>
        <%= link_to 'show all/live', hangouts_path(live: !(params[:live]=='true')), class: 'btn-hg-live' %>
    </div>
  </div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-info hidden-xs">
      <div class="panel-heading hg-headings">
        <%= render 'index_header' %>
      </div>
    </div>
    <% if @event_instances.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading empty">
          We are sorry, but it seems that there are no live sessions at this moment.<br>
          Please come back later or click 'Show all/live' button to browse older sessions.
        </div>
      </div>
    <% else  %>
      <div id='hg-container'>
        <%= render 'hangouts' %>
      </div>
    <% end %>
  </div>
</section>
<%=javascript_include_tag 'event_instances.js' %>
