<% provide :title, 'Hangouts' %>
<section class="live-hangouts">

  <%= render 'index_header' %>

  <div class="clearfix"></div>
  <div class="row is-flex" id="hg-container">
    <% if @event_instances.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading empty">
          We are sorry, but it seems that there are no live sessions at this moment.<br>
          Please come back later or click 'Show all/live' button to browse older sessions.
        </div>
      </div>
    <% else  %>
      <%= render 'hangouts', event_instances: @event_instances %>
    <% end %>
  </div>
  <%= will_paginate @event_instances, page_links: false %>
</section>
<%=javascript_include_tag 'event_instances.js' %>
