---
http_interactions:
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A55024%2F&or=http%3A%2F%2F127.0.0.1%3A55024&ref=&title=Home+%7C+AgileVentures&pw=640&ph=640&ism=false&cloc=undefined&sd=640&st=3311&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A55024%2F&targcv%5Bdoctitle%5D=Home+%7C+AgileVentures&targcv%5Blptitle%5D=Home+%7C+AgileVentures&targcv%5Blpurl%5D=http%3A%2F%2F127.0.0.1%3A55024%2F&targcv%5B%24browser%5D%5Bwebkit%5D=true&targcv%5B%24browser%5D%5Bversion%5D=538.1&targcv%5B%24browser%5D%5Bsafari%5D=true&targcv%5BuserAgent%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bmobchua%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bref%5D=&targcv%5Bnv%5D=true&isvp=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"noinspectlet":"crawlbot"}'
  recorded_at: Wed, 04 Nov 2020 00:05:20 GMT
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A62065%2Fevents&or=http%3A%2F%2F127.0.0.1%3A62065&ref=&title=Events+%7C+AgileVentures&pw=640&ph=640&ism=true&cloc=undefined&sd=640&st=1449&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A62065%2Fevents&targcv%5Bdoctitle%5D=Events+%7C+AgileVentures&targcv%5Blptitle%5D=Events+%7C+AgileVentures&targcv%5Blpurl%5D=http%3A%2F%2F127.0.0.1%3A62065%2Fevents&targcv%5B%24browser%5D%5Bwebkit%5D=true&targcv%5B%24browser%5D%5Bversion%5D=532.9&targcv%5B%24browser%5D%5Bsafari%5D=true&targcv%5BuserAgent%5D=Mozilla%2F5.0+(iPhone%3B+U%3B+CPU+iPhone+OS+4_0+like+Mac+OS+X%3B+en-us)+AppleWebKit%2F532.9+(KHTML%2C+like+Gecko)+Version%2F4.0.5+Mobile%2F8A293+Safari%2F6531.22.7&targcv%5Bmobchua%5D=Mozilla%2F5.0+(iPhone%3B+U%3B+CPU+iPhone+OS+4_0+like+Mac+OS+X%3B+en-us)+AppleWebKit%2F532.9+(KHTML%2C+like+Gecko)+Version%2F4.0.5+Mobile%2F8A293+Safari%2F6531.22.7&targcv%5Bref%5D=&targcv%5Bnv%5D=true&isvp=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"screencapture":"yes","pagemethod":"client","oid":32453344,"cenai":false,"rid":2341675650,"key":"26883961","sid":1790493773,"uid":1900034850,"pad":1,"ert":"no","ea":"no","dfa":false,"inspv":3}'
  recorded_at: Wed, 04 Nov 2020 11:31:54 GMT
[...]
