---
http_interactions:
- request:
    method: get
    uri: http://gdata.youtube.com/feeds/api/videos/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      X-Gdata-User-Country:
      - US
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: No longer available
  recorded_at: Thu, 06 Feb 2014 07:00:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?forUsername=&part=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "dailyLimitExceededUnreg",
            "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup.",
            "extendedHelp": "https://code.google.com/apis/console"
           }
          ],
          "code": 403,
          "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup."
         }
        }
  recorded_at: Thu, 06 Feb 2014 07:00:01 GMT
[...]
- request:
    method: post
    uri: https://api.chatlio.com/v1/v/visitor/register
    body:
      encoding: UTF-8
      string: '{"vsUuid":"09d284ac-c122-4b9b-a01d-f762408070c0","ceUuid":"8a54fdee-6747-4ce9-4d69-f03c2af664f2","page":"http://127.0.0.1:64502/events/repeat-scrum","loaderVersion":"459dc1d-1489104113585","widgetVersion":"18ea608-1495785511396"}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjZVVVSUQiOiI4YTU0ZmRlZS02NzQ3LTRjZTktNGQ2OS1mMDNjMmFmNjY0ZjIiLCJleHAiOjE1MDE2NDkwMzYsImlhdCI6MTUwMTY0MTgzNiwidnNVVUlEIjoiMDlkMjg0YWMtYzEyMi00YjliLWEwMWQtZjc2MjQwODA3MGMwIn0.x9WTtj9sVmFa8DKPmhh4LtiziRrGt7g5exMC1Ifq5OA
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"off":false,"maxVisitorInactiveMins":3,"status":"online","hideWhenOffline":false,"showAvatarPreChat":false,"showTeamAvatarPreChat":false,"newMsgNotifications":true,"playSound":true,"activeAgentAvatar":"","forwardSlackUserName":false,"titleColor":"#3f51b5","titleFontColor":"#fff","onlineTitle":"How
        can we help you?","offlineTitle":"Contact Us","agentLabel":"Support","browserSideAuthorLabel":"","onlineMessagePlaceholder":"Type
        message here...","whiteLabel":false,"trackPresence":false,"offlineGreeting":"Sorry
        we are away, but we would love to hear from you and chat soon!","offlineEmailPlaceholder":"Email","offlineMessagePlaceholder":"Your
        message here","offlineNamePlaceholder":"Name (optional but helpful)","offlineSendButton":"Send","offlineThankYouMessage":"Thanks
        for your message. We will be in touch soon!","requireInfo":false,"requireInfoGreeting":"Enter
        your name and email to start chatting!","requireInfoSubmitBtn":"Start","requestScreenshotText":"Operator
        would like to take a screenshot of your browser. Confirm below.","requestScreenshotAllowLabel":"Take
        screenshot","requestScreenshotDeclineLabel":"Decline","teamAvatarOn":false,"collapsedMode":"chip","defaultOkBtnLabel":"Ok","defaultSendBtnLabel":"Send","defaultCancelBtnLabel":"Cancel","defaultYesBtnLabel":"Yes","defaultNoBtnLabel":"No","showConversationEnd":false,"showConversationRating":true,"conversationEndLabel":"Your
        chat session has ended. Thanks for chatting!","conversationRatingLabel":"How
        would you rate this chat?","conversationRatingThankYou":"Thanks for rating
        your chat session!","conversationRatingPlaceholder":"How can we improve?","conversationEndTranscriptPlaceholder":"Email
        to send transcript of chat","conversationEndConfirmationQuestion":"Are you
        sure you want to end this chat?","blacklistedUrls":"","triggerJson":"","useSgmt":false,"autoResponseMessage":"Question?
        Just type it below and we are online and ready to answer."}'
  recorded_at: Thu, 06 Feb 2014 07:00:01 GMT
- request:
    method: post
    uri: https://api.chatlio.com/v1/v/visitor/m
    body:
      encoding: UTF-8
      string: '{"page":"http://127.0.0.1:64502/events/repeat-scrum"}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjZVVVSUQiOiI4YTU0ZmRlZS02NzQ3LTRjZTktNGQ2OS1mMDNjMmFmNjY0ZjIiLCJleHAiOjE1MDE2NDkwMzYsImlhdCI6MTUwMTY0MTgzNiwidnNVVUlEIjoiMDlkMjg0YWMtYzEyMi00YjliLWEwMWQtZjc2MjQwODA3MGMwIn0.x9WTtj9sVmFa8DKPmhh4LtiziRrGt7g5exMC1Ifq5OA
      Content-Type:
      - application/xml
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Feb 2014 07:00:01 GMT
[...]
- request:
    method: post
    uri: https://api.chatlio.com/v1/v/visitor/m
    body:
      encoding: UTF-8
      string: '{"page":"http://127.0.0.1:64502/events/repeat-scrum"}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjZVVVSUQiOiI4YTU0ZmRlZS02NzQ3LTRjZTktNGQ2OS1mMDNjMmFmNjY0ZjIiLCJleHAiOjE1MDE2NDkwMzYsImlhdCI6MTUwMTY0MTgzNiwidnNVVUlEIjoiMDlkMjg0YWMtYzEyMi00YjliLWEwMWQtZjc2MjQwODA3MGMwIn0.x9WTtj9sVmFa8DKPmhh4LtiziRrGt7g5exMC1Ifq5OA
      Content-Type:
      - application/xml
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Feb 2014 07:25:00 GMT
recorded_with: VCR 3.0.3
