---
http_interactions:
- request:
    method: get
    uri: http://gdata.youtube.com/feeds/api/videos/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      X-Gdata-User-Country:
      - US
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: No longer available
  recorded_at: Tue, 04 Feb 2014 06:59:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?forUsername=&part=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "dailyLimitExceededUnreg",
            "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup.",
            "extendedHelp": "https://code.google.com/apis/console"
           }
          ],
          "code": 403,
          "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup."
         }
        }
  recorded_at: Tue, 04 Feb 2014 06:59:01 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?forUsername=&part=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "dailyLimitExceededUnreg",
            "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup.",
            "extendedHelp": "https://code.google.com/apis/console"
           }
          ],
          "code": 403,
          "message": "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup."
         }
        }
  recorded_at: Tue, 04 Feb 2014 06:59:17 GMT
recorded_with: VCR 3.0.1
