---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/MetPlus_PETS/languages?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1537285804'
      Etag:
      - W/"643d4e8a4aa5860da372250eeb6b528d"
      Last-Modified:
      - Sat, 01 Sep 2018 20:49:02 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":968034,"HTML":242428,"Gherkin":170330,"JavaScript":133574,"CSS":15886,"CoffeeScript":4977}'
  recorded_at: Tue, 18 Sep 2018 15:38:37 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/languages?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1537285804'
      Etag:
      - W/"bcc13f4dabe80a4792919c6929fb58ed"
      Last-Modified:
      - Mon, 25 Jan 2016 08:13:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":63828,"HTML":20808,"CSS":4529,"CoffeeScript":844,"JavaScript":661}'
  recorded_at: Tue, 18 Sep 2018 15:38:38 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/languages?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1537285804'
      Etag:
      - W/"a362c859c7b68b0bc2bb5929d762c46d"
      Last-Modified:
      - Mon, 17 Sep 2018 09:20:12 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":579172,"HTML":572370,"Gherkin":216269,"CSS":151726,"JavaScript":55614,"Shell":1292,"Dockerfile":751,"CoffeeScript":422}'
  recorded_at: Tue, 18 Sep 2018 15:38:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/languages?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1537285804'
      Etag:
      - W/"94738d8504dfb2d55dafeab70c4aeee0"
      Last-Modified:
      - Tue, 18 Sep 2018 08:56:23 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":512304,"Gherkin":204609,"HTML":99844,"CSS":25129,"JavaScript":21318,"CoffeeScript":1284,"Dockerfile":855,"Shell":684}'
  recorded_at: Tue, 18 Sep 2018 15:38:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/roschaefer/rundfunk-mitbestimmen/languages?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1537285804'
      Etag:
      - W/"9d048e106be2e31f781e9f401069c18d"
      Last-Modified:
      - Thu, 13 Sep 2018 17:02:16 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":308197,"JavaScript":190475,"HTML":113228,"PLpgSQL":37862,"Gherkin":34911,"CSS":2358,"Dockerfile":1206}'
  recorded_at: Tue, 18 Sep 2018 15:38:40 GMT
recorded_with: VCR 4.0.0
