---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/MetPlus_PETS/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"e598949b9cde9ae0b03accc9acbaafbb"
      Last-Modified:
      - Mon, 15 Oct 2018 16:47:50 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":968642,"HTML":249299,"Gherkin":171665,"JavaScript":138408,"CSS":15886,"CoffeeScript":4977}'
  recorded_at: Tue, 16 Oct 2018 21:10:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"bcc13f4dabe80a4792919c6929fb58ed"
      Last-Modified:
      - Mon, 25 Jan 2016 08:13:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":63828,"HTML":20808,"CSS":4529,"CoffeeScript":844,"JavaScript":661}'
  recorded_at: Tue, 16 Oct 2018 21:10:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"c9f7125664ade4233b8abebaf3725d1f"
      Last-Modified:
      - Tue, 16 Oct 2018 15:39:57 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"HTML":573300,"Ruby":570255,"Gherkin":219190,"CSS":151725,"JavaScript":55588,"Shell":1292,"Dockerfile":751,"CoffeeScript":422}'
  recorded_at: Tue, 16 Oct 2018 21:10:54 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"b20b63ab0e3c4f307c4ee6c04b1a67b1"
      Last-Modified:
      - Tue, 16 Oct 2018 08:14:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":512102,"Gherkin":204841,"HTML":99844,"CSS":25129,"JavaScript":21318,"CoffeeScript":1284,"Dockerfile":855,"Shell":684}'
  recorded_at: Tue, 16 Oct 2018 21:10:54 GMT
- request:
    method: get
    uri: https://api.github.com/repos/roschaefer/rundfunk-mitbestimmen/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"2f1cb78d3e5a8da4baa899e4dd7d1361"
      Last-Modified:
      - Mon, 15 Oct 2018 22:35:47 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":308150,"JavaScript":193189,"HTML":116920,"PLpgSQL":37862,"Gherkin":34911,"CSS":2358,"Dockerfile":1222}'
  recorded_at: Tue, 16 Oct 2018 21:10:55 GMT
recorded_with: VCR 4.0.0
