---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/MetPlus_PETS/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"e598949b9cde9ae0b03accc9acbaafbb"
      Last-Modified:
      - Mon, 15 Oct 2018 16:47:50 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":968642,"HTML":249299,"Gherkin":171665,"JavaScript":138408,"CSS":15886,"CoffeeScript":4977}'
  recorded_at: Tue, 16 Oct 2018 21:10:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"bcc13f4dabe80a4792919c6929fb58ed"
      Last-Modified:
      - Mon, 25 Jan 2016 08:13:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":63828,"HTML":20808,"CSS":4529,"CoffeeScript":844,"JavaScript":661}'
  recorded_at: Tue, 16 Oct 2018 21:10:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"c9f7125664ade4233b8abebaf3725d1f"
      Last-Modified:
      - Tue, 16 Oct 2018 15:39:57 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"HTML":573300,"Ruby":570255,"Gherkin":219190,"CSS":151725,"JavaScript":55588,"Shell":1292,"Dockerfile":751,"CoffeeScript":422}'
  recorded_at: Tue, 16 Oct 2018 21:10:54 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"b20b63ab0e3c4f307c4ee6c04b1a67b1"
      Last-Modified:
      - Tue, 16 Oct 2018 08:14:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":512102,"Gherkin":204841,"HTML":99844,"CSS":25129,"JavaScript":21318,"CoffeeScript":1284,"Dockerfile":855,"Shell":684}'
  recorded_at: Tue, 16 Oct 2018 21:10:54 GMT
- request:
    method: get
    uri: https://api.github.com/repos/roschaefer/rundfunk-mitbestimmen/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"2f1cb78d3e5a8da4baa899e4dd7d1361"
      Last-Modified:
      - Mon, 15 Oct 2018 22:35:47 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":308150,"JavaScript":193189,"HTML":116920,"PLpgSQL":37862,"Gherkin":34911,"CSS":2358,"Dockerfile":1222}'
  recorded_at: Tue, 16 Oct 2018 21:10:55 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/MetPlus_resumeCruncher/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1558389368'
      Etag:
      - W/"1ccd24157b71d1f6b5634659e3a86ec4"
      Last-Modified:
      - Mon, 08 Apr 2019 13:19:19 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Kotlin":262918,"Java":24229,"Shell":634,"JavaScript":144,"HTML":80,"Dockerfile":79}'
  recorded_at: Mon, 20 May 2019 20:57:29 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/sfn-client/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1558389368'
      Etag:
      - W/"5b7ae5d67cb4ad1b69a5032986db84a2"
      Last-Modified:
      - Mon, 20 May 2019 15:22:54 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":65544,"CSS":28299,"HTML":1562,"Dockerfile":453,"Gherkin":144}'
  recorded_at: Mon, 20 May 2019 20:57:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/PhoenixOne/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1558389368'
      Etag:
      - '"6961f4d79549351b722116051f20c52a"'
      Last-Modified:
      - Fri, 26 Apr 2019 19:42:13 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Gherkin":7071}'
  recorded_at: Mon, 20 May 2019 20:57:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/sing_for_needs/languages?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1558389368'
      Etag:
      - W/"93fa34260fc6c4a1b1ea041c4ac662a2"
      Last-Modified:
      - Sun, 12 May 2019 13:36:07 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"Elixir":38213,"CSS":10893,"JavaScript":3832,"HTML":2218,"Dockerfile":1035,"Shell":69}'
  recorded_at: Mon, 20 May 2019 20:57:31 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/MetPlus_PETS/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30877d0f38aaf68eb2f5b7dafa15a76fa178cdfcbc309b532d130844e1f2b016"
      Last-Modified:
      - Wed, 23 Sep 2020 19:08:48 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4897'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '103'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":975154,"HTML":249239,"Gherkin":177651,"JavaScript":138691,"CSS":15937,"CoffeeScript":4977}'
  recorded_at: Sun, 30 May 2021 18:52:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/MetPlus_resumeCruncher/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a821d719587b185cfd6817184d59b3d54c43953148fae5ba53ccf1b292715696"
      Last-Modified:
      - Mon, 08 Apr 2019 13:19:19 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4896'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '104'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"Kotlin":262918,"Java":24229,"Shell":634,"JavaScript":144,"HTML":80,"Dockerfile":79}'
  recorded_at: Sun, 30 May 2021 18:52:42 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8100269be1940f2600d0cabf73f8c1a72e04a13bbf64c4c750af9e9b3afdfcca"
      Last-Modified:
      - Mon, 14 Dec 2020 04:14:02 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4893'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '107'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":42032,"TypeScript":1421,"CSS":118}'
  recorded_at: Sun, 30 May 2021 18:52:43 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eed0dce004519141974cb37dd2b1607d56c217d33fe16af6aebfad25b28ac9c7"
      Last-Modified:
      - Sun, 23 May 2021 16:17:59 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4892'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '108'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":697566,"HTML":574186,"Gherkin":226745,"SCSS":154933,"JavaScript":55658,"Shell":1383,"Dockerfile":967,"CoffeeScript":211}'
  recorded_at: Sun, 30 May 2021 18:52:43 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fe33b195257be994b29ccd931da5986cf757160f27fa30d03d26b5539380e81b"
      Last-Modified:
      - Mon, 18 Jan 2021 17:13:09 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4891'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '109'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":553138,"Gherkin":216378,"HTML":112466,"JavaScript":23361,"CSS":15305,"SCSS":6804,"Less":2875,"Dockerfile":1385,"CoffeeScript":1284,"Shell":1241}'
  recorded_at: Sun, 30 May 2021 18:52:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/roschaefer/rundfunk-mitbestimmen/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27768299b1493efa1014cefa8ad84c257f212e751cbb1f8bc5f8f99c013193e9"
      Last-Modified:
      - Sat, 27 Mar 2021 13:40:25 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4890'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '110'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"Ruby":311901,"JavaScript":185792,"Handlebars":82121,"PLpgSQL":37592,"HTML":35242,"Gherkin":34943,"CSS":2656,"Dockerfile":1222,"Shell":859}'
  recorded_at: Sun, 30 May 2021 18:52:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/sfn-client/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b1c8b12b417594d876d2cbcd6912e9cfab4208059352bbcffe091b18d0bf650"
      Last-Modified:
      - Fri, 29 May 2020 13:40:13 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4889'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '111'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":149895,"CSS":62105,"HTML":1238,"Gherkin":713,"Dockerfile":453}'
  recorded_at: Sun, 30 May 2021 18:52:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/PhoenixOne/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"61d2558212f00d8f17fc33f5b5e4e4082d8a05066b25151df7ff78f8acaed800"'
      Last-Modified:
      - Fri, 26 Apr 2019 19:42:13 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4888'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '112'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"Gherkin":7071}'
  recorded_at: Sun, 30 May 2021 18:52:45 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/sing_for_needs/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d8cebb6179a0e1b687916728512a4448b26670311f242163337ce84b03ad0bc"
      Last-Modified:
      - Sat, 16 May 2020 15:45:32 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4887'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '113'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"Elixir":104402,"CSS":10893,"JavaScript":3832,"HTML":2218,"Dockerfile":1035,"Shell":69}'
  recorded_at: Sun, 30 May 2021 18:52:45 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/sing_for_needs/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION_HEADERS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d8cebb6179a0e1b687916728512a4448b26670311f242163337ce84b03ad0bc"
      Last-Modified:
      - Sat, 16 May 2020 15:45:32 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4884'
      X-Ratelimit-Reset:
      - '1622403614'
      X-Ratelimit-Used:
      - '116'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"Elixir":104402,"CSS":10893,"JavaScript":3832,"HTML":2218,"Dockerfile":1035,"Shell":69}'
  recorded_at: Sun, 30 May 2021 18:52:46 GMT
recorded_with: VCR 6.0.0
