<%= provide :title, "Dashboard" %>
<div id="page-box">
  <div id="page-overview">
    <h1>AgileVentures Activity and Statistics</h1>
  </div>
  <div>
    <p><%= @stats[:articles][:count] %> Articles Published</p>
    <p><%= @stats[:projects][:count] %> Active Projects</p>
    <p><%= @stats[:members][:count]  %> AgileVentures Members</p>
  </div>
</div>
