<!-- IMPORTANT Note that this is a copy of a file that is currently stored in the database IMPORTANT -->
<!-- IMPORTANT Changes here will have no effect on the site itself, this is a record in source control IMPORTANT -->
<!-- IMPORTANT And yes, we are condsidering whether to switch to make this the single source of truth IMPORTANT -->


<div>Do you want to:</div><div><br></div><div>
  <details open="">
    <summary><b>Level up on the latest hot technologies:&nbsp;Elixir/Phoenix, React/Redux and RSpec 3?</b></summary>
    <p></p>
    <p>Join our mob programming sessions in the latest tech which work through&nbsp;the latest paid courses and texts&nbsp;for free or with significant discounts.  Instructor Stephen Grider has donated his extremely popular Udemy <a href="https://www.udemy.com/the-complete-elixir-and-phoenix-bootcamp-and-tutorial/">Elixir/Phoenix</a> and <a href="udemy.com/react-redux">React/Redux</a> courses free to Premium Mob members, while author Shankar Devy&nbsp;has done the same with his popular <a href="https://shankardevy.com/phoenix-book/">Phoenix InsideOut book series</a>.  Pragmatic Programmers have also made the <a href="https://pragprog.com/book/rspec3/effective-testing-with-rspec-3">new RSpec 3 book</a> available at a 25% discount for use in the RSpec mob sessions.</p>
  </details>
  <br>
  <details open="">
    <summary><b>Create a personalised professional development plan to achieve your goals?</b></summary>
    <p></p>
    <p>A senior Agile Ventures&nbsp;<a href="http://www.agileventures.org/mentors">mentor</a>&nbsp;will work with you to understand your professional development goals, and create&nbsp;a personalized plan to help you achieve them. &nbsp;Professional Development Planning support includes&nbsp;reviewing your skill set and experiences, and talking through your professional development goals.&nbsp; Your AV&nbsp;mentor will&nbsp;guide you in creating a plan of activities to help you achieve your professional development goals, such as which books to study, what courses to take, what projects to join and contribute to etc.</p>
  </details>
  <br>
  <details open="">
    <summary><b>Master mob programming online?</b></summary>
    <p></p>
    <p>AgileVentures&nbsp;<a href="http://www.agileventures.org/mentors">Mentors</a>&nbsp;are experienced&nbsp;programmers who will invite you to a <a href="https://en.wikipedia.org/wiki/Mob_programming">mob programming</a> session.&nbsp;Over the&nbsp;course of an&nbsp;hour session you'll get to participate in mob coding on a fundamental topics such as 'confident coding', Test Driven Development (TDD), SOLID principles and the latest tech stacks such as Elixir/Phoenix and React/Redux.&nbsp;</p>
    <p>Premium Mob members also get access to the archive of previous mobbing sessions and shared C9 environment in order to allow you to quickly get up to speed with whatever the mobs happen to be working on this week.</p>
  </details>
  <br>

  <div>
    <i>Mobs are currently running for <b>React</b>&nbsp;(following</i><i>&nbsp;<a href="https://www.udemy.com/react-redux/">React/Redux Udemy course</a>),</i><i>&nbsp;<b>Elixir</b> (following the</i>&nbsp;<i><a href="https://www.udemy.com/the-complete-elixir-and-phoenix-bootcamp-and-tutorial/">Complete Elixir &amp; Phoenix Bootcamp course</a></i><i>) and <b>RSpec</b> (following&nbsp;</i><a href="https://pragprog.com/book/rspec3/effective-testing-with-rspec-3" style="background-color: rgb(248, 248, 248);">Effective Testing with RSpec 3 book</a><i>).&nbsp; We're also happy to start mobs in other&nbsp;languages or stacks that have sufficient member interest. &nbsp;If you'd like to try a single mob session for free check out our <a href="https://www.agileventures.org/premium-mob-offer"><b>special offer</b></a>.</i>
  </div>
  <div><i><br></i></div>
  <div>
    <div class="text-center"><span class="btn btn-primary btn-block" style="padding: 5px; width: 60%; border-color: #ee7335; background: #ee7335; display: inline-block; font-size: 1.4em;"><a href="http://www.agileventures.org/subscriptions/new?plan=premiummob"><b><font color="#ffffff">Get Started with Premium Mob</font></b></a></span></div>
    <div><br></div>
    <div>Plan Pricing&nbsp;<a href="http://www.agileventures.org/pricing">Overview</a>
    </div>
  </div>
</div>
<div>
  <p><br></p>
  <a name="faq"><h1>Frequently Asked Questions</h1></a>
  <br>
  <details open="">
    <summary><b>Don't free-tier and premium members get mob programming time with AV Mentors already?</b></summary>
    <p></p>
    <p>Agile Ventures supports ad-hoc pairing and mobbing all round the world, but we can't guarantee that any free-tier or premium member will necessarily get pairing or mobbing time with a senior AV mentor. &nbsp;We've had feedback from members that it would be easier to progress&nbsp;if they could rely on having a senior AV mentor available at a particular time and date specified in advance. &nbsp;If we're going to ask senior AV mentors to commit to being available&nbsp;in advance we need to be able to compensate them for their efforts. &nbsp; We've tried operating on a purely ad-hoc basis for several years, and&nbsp;Premium Mob&nbsp;membership&nbsp;is designed to increase the chances of successful learning and good progress on the charitable projects that we support by compensating senior AV members for committing their time.</p>
  </details>
  <br>
  <details open="">
    <summary><b>Can I use time in mobbing sessions with my Mentor to talk about Professional Development rather than coding?</b></summary>
    <p></p>
    <p>Mob sessions are focused on&nbsp;coding skills.&nbsp; Usually the professional development support will&nbsp;be handled over Slack and email text chat, with the Mentor and Premium Mob member passing back and forth a planning document. &nbsp;If you would like face to face time with a Mentor please consider upgrading to <a href="/premium_f2f">Premium&nbsp;F2F</a>.</p>
  </details>
  <br>
  <details open="">
    <summary><b>Premium Mob&nbsp;is more than twice the&nbsp;cost of Premium. &nbsp;How come?</b></summary>
    <p></p>
    <p>The main cost of Premium Mob&nbsp;is the time of the Senior&nbsp;AgileVentures Mentor who will work with you in mobbing sessions to improve your pairing, coding and project management skills; as well as discussing your professional development needs. &nbsp;We need to compensate the Mentors who put in their time to help you.</p>
  </details>
  <br>
  <details open="">
    <summary><b>Will my Premium Mob&nbsp;membership&nbsp;auto-renew each month?</b></summary>
    <p></p>
    <p>Yes, you'll be charged each month automatically - please email&nbsp;<a href="http://www.agileventures.org/info@agileventures.org">info@agileventures.org</a>&nbsp;if you would like to cancel your subscription.</p>
  </details>
  <br>
  <details open="">
    <summary><b>£25/month is a lot of money for me, surely you want Premium Mob&nbsp;to be affordable to everyone, everywhere?</b></summary>
    <p></p>
    <p>Of course we do; however we also want to make our operation sustainable. &nbsp;If you can't afford&nbsp;£25/month please contact&nbsp;<a href="mailto:info@agileventures.org">info@agileventures.org</a>&nbsp;and we will see if we can find sponsorship to cover some or all of the costs of your Premium Mob&nbsp;membership.</p>
  </details>
</div>