<div>
  <h2><b>Agile Ventures Premium F2F</b></h2>
  <p><br></p>
  <p>Get all the benefits of&nbsp;<a href="http://www.agileventures.org/premium">Premium</a>&nbsp;and <a href="/premium-mob">Premium Mob</a> membership&nbsp;AND&nbsp;</p>
  <p></p>
  <ul>
    <li>One hour&nbsp;of pair programming time with an AV&nbsp;<a href="http://www.agileventures.org/mentors">Mentor</a>&nbsp;on an AV project each month</li>
    <li>Voting rights in AV general meetings&nbsp;</li>
  </ul>
  <div><br></div>
  <div>
    <div class="text-center"><span class="btn btn-primary btn-block" style="padding: 5px; width: 60%; border-color: #ee7335; background: #ee7335; display: inline-block; font-size: 1.4em;"><a href="http://www.agileventures.org/subscriptions/new?plan=premiumf2f"><b><font color="#ffffff">Get Started with Premium F2F</font></b></a></span></div>
    <div><br></div>
    <div>Plan Pricing&nbsp;<a href="http://www.agileventures.org/pricing">Overview</a>
    </div>
  </div>
</div><div>
  <div><h3>Details of Plan&nbsp;Benefits:<br>
  </h3></div>
  <p></p>
  <p><b>Pair Programming with an AV Mentor</b></p>
  <p>AgileVentures&nbsp;<a href="http://www.agileventures.org/mentors">Mentors</a>&nbsp;are experienced pair programmers who will pair program with you over the course of an&nbsp;hour session to help you improve your pairing style, your coding skills and your Agile development technique. &nbsp;Coding will be on an AgileVentures project.</p>
  <p></p>
  <p>Any project can become an AgileVentures project given that it meets the following criteria:</p>
  <p></p>
  <ul>
    <li>Open Source<br>
    </li>
    <li>Open Development<br>
    </li>
    <li>Charitable Objective (as assessed by board of Trustees)</li>
  </ul>
  <p>Additional pairing hours can also be purchased.&nbsp;</p>
  <p><br></p>
</div><div>
  <div><b>Voting rights in AV general meetings</b></div>
  <div><br></div>
  <div>AgileVentures is registering as&nbsp;an official UK charity and as such is bound by regulations relating voting rights for members at Annual General meetings. &nbsp;Becoming an Agile Ventures Premium F2F&nbsp;member registers you as a full official member of the UK charity with voting rights in General meetings where you can influence the high level direction of the charity, selection of charity Trustees and so forth.</div>
</div><div><br></div><div>
  <p><a href="http://www.agileventures.org/subscriptions/new?plan=premiumf2f">Sign up for Premium F2F&nbsp;Membership</a></p>
  <p><br></p>
  <h3>Frequently Asked Questions</h3>
  <p></p>
  <div><b><br>Don't free-tier and premium members get pair programming time with AV Mentors already?</b></div>
  <div><b><br></b></div>
  <div>Agile Ventures supports ad-hoc pairing all round the world, but we can't guarantee that any free-tier or premium member will necessarily get pairing time with a senior AV Mentor. &nbsp;We've had feedback from members that it would be easier to pair if they could rely on having a senior AV Mentor available at a particular time and date specified in advance. &nbsp;If we're going to ask senior AV mentors to commit to pairing times in advance we need to be able to compensate them for their efforts. &nbsp; We've tried operating on a purely ad-hoc basis for several years, and Premium F2F&nbsp;membership&nbsp;is designed to increase the chances of successful learning and good progress on the charitable projects that we support&nbsp;by compensating&nbsp;senior AV members for committing their time.&nbsp;</div>
  <div><br></div>
  <div><b>Can I use time with my Mentor to talk about Professional Development rather than coding?</b></div>
  <div><br></div>
  <div>
    <p>Face to face support is often&nbsp;all&nbsp;about coding skills, but there is flexibility.&nbsp; Usually the professional development support can be handled
      over Slack and email text chat, with the mentor and premium member
      passing back and forth a planning document.&nbsp; Naturally you could use
      part of the F2F session to talk about the professional development
      support if there are ambiguities or concerns that were left over from
      any text communication.</p>
    <p><br></p>
    <p><b>Can I choose who is my Mentor?</b></p>
    <p>You can request to work with a
      particular mentor from our <a href="http://www.agileventures.org/mentors">Mentors list</a>. Unfortunately&nbsp;we&nbsp;cannot
      guarantee that any individual mentor will have availability, since this
      will depend on time-zones and other factors.</p>
  </div>
  <div><br></div>
  <div><b>Premium&nbsp;F2F&nbsp;is five&nbsp;times the cost of Premium. &nbsp;How come?</b></div>
  <div><br></div>
  <div>The main cost of Premium F2F&nbsp;is the time of the Senior&nbsp;AgileVentures Mentor who will work with you for an hour a month&nbsp;helping you hone your pairing, coding and project management skills; as well as discussing your professional development needs. &nbsp;We need to compensate the mentors who put in their time to help you.</div>
  <div><br></div>
  <div>
    <div><b>Will my Premium&nbsp;F2F membership&nbsp;auto-renew each month?</b></div>
    <div><br></div>
    <div>Yes, you'll be charged each month automatically - please email&nbsp;<a href="http://www.agileventures.org/info@agileventures.org">info@agileventures.org</a>&nbsp;if you would like to cancel your subscription.</div>
  </div>
  <div><b><br></b></div>
  <div><b>£50/month is a lot of money for me, surely you want Premium F2F&nbsp;to be affordable to everyone, everywhere?</b></div>
  <div><br></div>
  <div>Of course we do; however we also want to make our operation sustainable. &nbsp;If you can't afford&nbsp;£50/month please contact&nbsp;<a href="mailto:fellowship@agileventures.org">fellowship@agileventures.org</a>&nbsp;and we will see if we can find sponsors&nbsp;to fund a fellowship to support&nbsp;of your Premium F2F&nbsp;membership.</div>
</div>