<!-- IMPORTANT Note that this is a copy of a file that is currently stored in the database IMPORTANT -->
<!-- IMPORTANT Changes here will have no effect on the site itself, this is a record in source control IMPORTANT -->
<!-- IMPORTANT And yes, we are condsidering whether to switch to make this the single source of truth IMPORTANT -->


<div>Do you want to:</div><div><br></div><div>
  <details>
    <summary><b>Get personalised individual support to improve your coding and pairing skills?</b></summary>
    <p></p>
    <p>AgileVentures&nbsp;<a href="http://www.agileventures.org/mentors">Mentors</a>&nbsp;are experienced pair programmers who will pair program with you over the course of an&nbsp;hour session to help you improve your pairing style, your coding skills and your Agile development technique. &nbsp;Coding will be on an AgileVentures project.</p>
    <p></p>
    <p>Any project can become an AgileVentures project given that it meets the following criteria:</p>
    <p></p>
    <ul>
      <li>Open Source<br>
      </li>
      <li>Open Development<br>
      </li>
      <li>Charitable Objective (as assessed by board of Trustees)</li>
    </ul>
  </details>
  <br>
  <details>
    <summary><b>Influence the future direction of the AgileVentures charity?</b></summary>
    <p></p>
    <p>AgileVentures is registered as an official UK charity and as such is bound by regulations relating to voting rights for members at Annual General meetings. &nbsp;Becoming an Agile Ventures Premium F2F&nbsp;member registers you as a full official member of the UK charity with voting rights in General meetings where you can influence the high level direction of the charity, selection of charity Trustees and so forth.</p>
  </details>
  <br>

  <div>
    <div class="text-center"><span class="btn btn-primary btn-block" style="padding: 5px; width: 60%; border-color: #ee7335; background: #ee7335; display: inline-block; font-size: 1.4em;"><a href="http://www.agileventures.org/subscriptions/new?plan=premiumf2f"><b><font color="#ffffff">Get Started with Premium F2F</font></b></a></span></div>
    <div><br></div>
    <div>Plan Pricing&nbsp;<a href="http://www.agileventures.org/pricing">Overview</a>
    </div>
  </div>

  <div>
    <p><br></p>
    <a name="faq"><h1>Frequently Asked Questions</h1></a>
    <br>
    <details>
      <summary><b>Don't free-tier and premium members get pair programming time with AV Mentors already?</b></summary>
      <p></p>
      <p>Agile Ventures supports ad-hoc pairing all round the world, but we can't guarantee that any free-tier or premium member will necessarily get pairing time with a senior AV mentor. &nbsp;We've had feedback from members that it would be easier to progress&nbsp;if they could rely on having a senior AV mentor available at a particular time and date specified in advance. &nbsp;If we're going to ask senior AV mentors to commit to being available&nbsp;in advance we need to be able to compensate them for their efforts. &nbsp; We've tried operating on a purely ad-hoc basis for several years, and&nbsp;Premium F2F&nbsp;membership&nbsp;is designed to increase the chances of successful learning and good progress on the charitable projects that we support by compensating senior AV members for committing their time.</p>
    </details>
    <br>
    <details>
      <summary><b>Can I use time with my Mentor to talk about Professional Development rather than coding?</b></summary>
      <p></p>
      <p>Face to face support is often&nbsp;all&nbsp;about coding skills, but there is flexibility.&nbsp; Usually the professional development support can be handled
        over Slack and email text chat, with the mentor and premium member
        passing back and forth a planning document.&nbsp; Naturally you could use
        part of the F2F session to talk about the professional development
        support if there are ambiguities or concerns that were left over from
        any text communication.</p>
    </details>
    <br>
    <details>
      <summary><b>Can I choose my Mentor?</b></summary>
      <p></p>
      <p>You can request to work with a
        particular mentor from our <a href="http://www.agileventures.org/mentors">Mentors list</a>. Unfortunately&nbsp;we&nbsp;cannot
        guarantee that any individual mentor will have availability, since this
        will depend on time-zones and other factors.</p>
    </details>
    <br>
    <details>
      <summary><b>Premium&nbsp;F2F&nbsp;is five&nbsp;times the cost of Premium. &nbsp;How come?</b></summary>
      <p></p>
      <p>The main cost of Premium F2F&nbsp;is the time of the Senior&nbsp;AgileVentures Mentor who will work with you for an hour a month&nbsp;helping you hone your pairing, coding and project management skills; as well as discussing your professional development needs. &nbsp;We need to compensate the mentors who put in their time to help you.</p>
    </details>
    <br>
    <details>
      <summary><b>Will my Premium F2F&nbsp;membership&nbsp;auto-renew each month?</b></summary>
      <p></p>
      <p>Yes, you'll be charged each month automatically - please email&nbsp;<a href="http://www.agileventures.org/info@agileventures.org">info@agileventures.org</a>&nbsp;if you would like to cancel your subscription.</p>
    </details>
    <br>
    <details>
      <summary><b>£50/month is a lot of money for me, surely you want Premium F2F&nbsp;to be affordable to everyone, everywhere?</b></summary>
      <p></p>
      <p>Of course we do; however we also want to make our operation sustainable. &nbsp;If you can't afford&nbsp;£50/month please contact&nbsp;<a href="mailto:info@agileventures.org">info@agileventures.org</a>&nbsp;and we will see if we can find sponsorship to cover some or all of the costs of your Premium F2F&nbsp;membership.</p>
    </details>
  </div>
</div>