<div>Do you want to:</div><div><br></div><div>
<ul>
<li>Find great developer jobs? Get help on the job search process?</li>
<li>Ace technical tests required to get interviews?</li>
<li>Accelerate your professional development?</li>
<li>Improve your coding and development skills?</li>
<li>Really understand Agile software development?</li>
<li>Put paid coding projects on your resume?</li>
<li>Make the world the better place?</li>
<li>Feel confident asking technical questions online?</li>
<li>Get discounts on important software and services for developers?</li>
</ul>
<div><br></div>
<div>
<div class="text-center"><span class="btn btn-primary btn-block" style="padding: 5px; width: 50%; border-color: rgb(238, 115, 53); background: rgb(238, 115, 53); display: inline-block; font-size: 1.5em; white-space: normal;"><a href="http://www.agileventures.org/subscriptions/new?plan=premium"><b><font color="#ffffff">Get Started with Premium</font></b></a></span></div>
<div><br></div>
<div>Plan Pricing <a style="display: inline-block;" href="http://www.agileventures.org/pricing">Overview</a>
</div>
<div><hr></div>
<h3>Details of Plan&nbsp;Benefits:</h3>
<div></div>
<div><br></div>
<div>
<b>Finding great developer jobs,&nbsp;getting help with the job search process,&nbsp;acing technical tests and accelerating your professional development:</b>
</div>
<div><b><br></b></div>
<div>Many AgileVentures have leveraged the skills they've learnt through working in teams on our open source projects to land great tech jobs, get promotions and develop themselves professionally. See&nbsp;<a href="http://www.agileventures.org/grow">http://www.agileventures.org/grow</a>&nbsp;for testimonials. Premium membership helps you learn from senior members'&nbsp;experience to help you&nbsp;&nbsp;in the AV private Slack&nbsp;channels for jobs, tech tests, devops and professional development.</div>
<div><br></div>
<div>
<b>Improve your coding and development skills; understand agile software development:&nbsp;</b><br>
</div>
<div><br></div>
<div>
<div>AgileVentures mission is to develop quality software for charities and other non-profits whilst also supporting the learning and development of individuals wishing to improve their teamwork and coding skills. &nbsp;AgileVentures software projects are all open source and open development. &nbsp;Contributions are submitted via an open code submission process or "pull request" (PR). &nbsp;Becoming an AgileVentures Premium member entitles you to a priority code review, that is a professional code review of your code submission to any AgileVentures project, within 2 working days (excludes weekends and UK national holidays) of submission.</div>
<div><br></div>
<div>Want a better idea of what a professional code review looks like? Check out the following three examples of previous professional code reviews offered to premium members:</div>
</div>
</div>
<div><br></div>
<div>
<ul>
<li><a href="https://github.com/AgileVentures/WebsiteOne/pull/1474">Review 1</a></li>
<li><a href="https://github.com/AgileVentures/LocalSupport/pull/429">Review 2</a></li>
<li><a href="https://github.com/AgileVentures/WebsiteOne/pull/1519">Review 3</a></li>
</ul>
<div><br></div>
<div>Any project can become an AgileVentures project given that it meets the following criteria:</div>
<div><br></div>
<p></p>
<ul>
<li>
<span style="line-height: 1.4em;">Open Source</span><br>
</li>
<li>
<span style="line-height: 1.4em;">Open Development&nbsp;</span><br>
</li>
<li>
<span style="line-height: 1.4em;">Charitabl</span><span style="line-height: 1.4em;">e Objective (as assessed by board of Trustees)</span><br>
</li>
</ul>
<div><br></div>
<div><br></div>
<div>
<b>Put paid coding projects on your resume:</b>
</div>
<div><br></div>
<div>Becoming an AgileVentures premium member makes you eligible for "paid" projects; those AgileVenture projects where a charity customer has funds for (or a donation covers) paid software development. &nbsp;Premium membership&nbsp;does not entitle&nbsp;&nbsp;the premium member to participate in any particular paid&nbsp;project, but does make them eligible for consideration. &nbsp;Participation in any particular project is at the discretion of the project team lead, or project team consortium, as appropriate to the individual project.</div>
<div><br></div>
<div><b>Make the world a better place:</b></div>
<div><b><br></b></div>
<div>In addition to all the other benefits your subscription to a premium plan helps AgileVentures in its ongoing mission to support charities around the world with IT solutions and also make learning resources available globally to developers trying to level up and make the world a better place. &nbsp;We have to pay for server hosting etc. and every little helps cover our costs.</div>
<div><br></div>
<p></p>
<div><b>Feel confident asking technical questions online:</b></div>
<div><b><br></b></div>
<div>Posting to StackOverflow or similar forums is a fantastic way to get quick feedback on any coding problem you may have. &nbsp;You'll need to follow the <a href="http://stackoverflow.com/help/how-to-ask">guidelines</a>&nbsp;on how to ask a good question, but assuming you do and you post a link to your question into the #techtalk channel, and follow any instructions from AV mentors on how to improve your question, then we'll do our best to answer it, including starring it and up-voting to help attract the attention of others in case we cannot provide a direct answer ourselves.</div>
<p><br></p>
<div><b>Get discounts on important software and services for developers:</b></div>
<div><br></div>
<div>By becoming an AgileVentures Premium member you become part of our NonProfit organisation and thus become eligible for a $10 discount on the CodeSchool monthly fee of $29.</div>
<div><br></div>
<div>You'll also get licenses for great development software from JetBrains, such as the RubyMine integrated development environment (IDE). &nbsp;These are for use on AgileVentures OpenSource projects, as approved by JetBrains. &nbsp;The usual price is&nbsp;£15 a month.<br>
</div>
<div><br></div>
<div><hr></div>
<p></p>
<div>Premium cost is currently £10 a month, and comes with a 7-day free trial. &nbsp;Please alert <a href="mailto:info@agileventures.org" style="background-color: rgb(248, 248, 248);">info@agileventures.org</a> within your first 7 days to cancel your subscription at no cost.<br>
</div>
<p><a href="http://www.agileventures.org/subscriptions/new">Sign up for AgileVentures Premium</a><br></p>
<p>Want even more benefits including scheduled pair programming time with senior AV <a href="http://www.agileventures.org/mentors">mentors</a>? &nbsp;Check out our <a href="http://www.agileventures.org/premiumplus">Premium Plus membership</a>.</p>
<hr>
<a name="faq"><h1>Frequently Asked Questions</h1></a>
<br>
<details>
  <summary><b>Why would I want my Pull Request (PR) reviewed quickly?</b></summary>
  <p><br></p>
<p>Premium membership guarantees a pull request will be reviewed promptly and thoroughly. &nbsp;Pull requests that wait for a long time before a review&nbsp;often require more work to be merged in, and may be discarded if no one is willing to do that additional work. &nbsp;Also, it's great to get feedback when the code you have just created is still fresh in your mind. &nbsp;If it takes a long time to get feedback you may not be able to learn as much as you would otherwise.</p>
</details>
<br>
<details>
  <summary><b>Does being a Premium member mean that my PR is going to be accepted even if it doesn’t seem relevant?</b></summary>
  <p><br></p>
<p>No it doesn't mean it will be accepted - but being a Premium member&nbsp;means we'll try harder to work with you to get it into a shape where it can be accepted. &nbsp;Even if it ultimately doesn't make sense to merge it in, we'll be doing our best to ensure that you derive the maximum learning benefit from the experience.</p>
  <p></p>
</details>
<br>
<details>
  <summary><b>If my PR might not get merged why is the issue that my PR attempts to address an open issue?</b></summary>
  <p><br></p>
<p>It's an open issue because it's something that needs to be addressed, however that does not mean that the way that you tried to address it is necessarily compatible with other aspects of the project. &nbsp;We'll do our best to help you make it compatible, but ultimately if you don't follow our suggestions for changes to your PR and we don't have the resources to make them ourselves, or the process has taken so long that it's no longer efficient to work with your PR, then it might well be discarded and the issue will be fixed by a PR from another member.</p>
</details>
<br>
<details>
  <summary><b>In the case where multiple Premium members have submitted PR’s, how will they be prioritized?</b></summary>
  <p><br></p>
<p>Given PRs from multiple Premium members&nbsp;project priorities&nbsp;come&nbsp;into play. &nbsp;Exploring the interplay between delivering value to the end client, use of different technologies and team collaboration is precisely what the AgileVentures experience is all about. &nbsp;If there are&nbsp;many&nbsp;Premium members submitting PRs&nbsp;and we don't have enough reviewers to meet the demand we will need to recruit and or hire&nbsp;more reviewers, or possibly adjust the pricing model.</p>
</details>
<br>
<details>
  <summary><b>For non Premium members, if your PR never gets reviewed because AV doesn't have the resources to review them, then why would a non Premium member bother submitting a PR?</b></summary>
  <p><br></p>
<p>The same is true for any open source project - open source projects live or die depending on whether the maintainers have the resources to review the incoming PRs. &nbsp;In other projects if you see that the maintainers are very busy dealing with lots of other PRs, it may be that your PR will be&nbsp;overlooked. In AgileVentures&nbsp;non-Premium members may still be intrigued by an open issue they have noticed&nbsp;and be interested in submitting a speculative PR and they may still get comments, and/or be merged in,&nbsp;depending on how busy things are at a given time. &nbsp;Reviewing PRs consumes AV resources and the presence of a PR doesn't necessarily provide benefit to AV. &nbsp;Getting feedback on the PR is a great learning experience, and the Premium model is designed to allow us to focus that effort on the most committed members, as well as increasing the likelihood that we have sufficient resources to keep reviewing incoming PRs.</p>
</details>
<br>
<details>
  <summary><b>Doesn't the presence of Premium membership and associated benefits negatively impact the free AgileVentures experience?</b></summary>
  <p><br></p>
<p>Free tier members still get the fundamental AgileVentures benefits, including access to AgileVentures Slack, the ability to attend AgileVentures scrums, client meetings and pairing sessions, and access to the full video archive of all AgileVentures development. &nbsp;AgileVentures is committed to following&nbsp;"open development"; a level above simple "open source" in which not only the source code, but all aspects of the development process are made visible to anybody who is interested. &nbsp;The idea being to make it possible for anyone to start participating in an Agile project at any point, and to maximise the opportunities for real and authentic learning. &nbsp;Making all these free resources available is demanding, and so Premium membership is a mechanism to help the ongoing provision of those services. &nbsp;In the long run Premium membership should serve free tier members by ensuring they have access to all the basic AgileVentures benefits for many years to come.</p>
  <p>Also to the extent that Premium membership encourages ongoing PR submissions from more committed members and supports a more organised PR review process, this should lead to improved code quality and project maintainability, which then indirectly benefits all members.</p>
</details>
<br>
<details>
  <summary><b>But aren't you a charity? &nbsp;Shouldn't you just be relying purely&nbsp;on donations?</b></summary>
  <p><br></p>
<p>AgileVentures is a registered UK&nbsp;charity, and donations are very welcome. &nbsp;If you're keen to donate then please check out our <a href="http://www.agileventures.org/associate">Associate</a> membership. &nbsp;To the extent we could continue to provide all our services purely based on donations we would. &nbsp;However donations by themselves&nbsp;are&nbsp;insufficient at this time. &nbsp;Being a charity does not mean expending all available resources to the point of bankruptcy. &nbsp;It is perfectly reasonable for a charity to provide Premium services to members who are in a position to contribute a little extra. &nbsp;In any community there is a danger that some members will consume&nbsp;more resources than others to the overall detriment of the&nbsp;community. &nbsp;Particularly as regards PRs, even well-meaning attempts at fixing issues can actually be dangerous red-herrings that require lots of effort to get into shape. &nbsp;Premium membership provides a mechanism for AgileVentures project&nbsp;managers to focus their effort on submission from the more committed members and ultimately to get fairly compensated for the work that they put in to help members learn about how to participate effectively in the Agile development process.</p>
</details>
<br>
<details>
  <summary><b>There are plenty of other open source projects out there crying out for contributors, why should I submit PRs to AgileVentures?</b></summary>
  <p><br></p>
<p>Because we are a good cause, and we're trying to help other good causes around the world, as well as all developers improve their Agile project and coding&nbsp;skills. &nbsp;Please do submit PRs to other open source projects - there's lots of other great causes, but you won't necessarily get the specific support for understanding the Agile development process, or be guaranteed full visibility to the complete development process. &nbsp;What AgileVentures offers that's different from other open source projects is full access to the entire development process, and a commitment to help everyone learn about Agile development, not just code.&nbsp; Our project maintainers are committed to your development as an Agile software developer, as well as to the success of their project. &nbsp;They'll try to help everyone, but will prioritize helping&nbsp;Premium members.</p>
</details>
<br>
<details>
  <summary><b>Will my Premium membership&nbsp;auto-renew each month?</b></summary>
  <p><br></p>
<p>Yes, you'll be charged each month automatically - please email&nbsp;<a href="http://www.agileventures.org/info@agileventures.org">info@agileventures.org</a>&nbsp;if you would like to cancel your subscription.</p>
</details>
<br>
<details>
  <summary><b>£10/month is a lot of money for me, surely you want membership to be affordable to everyone, everywhere?</b></summary>
  <p><br></p>
<p>Of course we do; however we also want to make our operation sustainable. If you can't afford £10/month please contact <a href="mailto:info@agileventures.org">info@agileventures.org</a> and we will see if we can find sponsorship to cover some or all of the costs of your premium membership.</p>
</details>
<div></div>
</div>
<p><span class="s2"></span></p>
</div>