<% provide :title, @page.title %>

<div id="ancestry">
  <strong><%= link_to 'Agile Ventures', root_path %></strong><i class="fa fa-angle-double-right"></i>
  <% @ancestry.each do |page| %>
    <strong><%= link_to page, static_page_path(page) %></strong>
    <% unless @ancestry.last == page %>
      <i class="fa fa-angle-double-right"></i>
    <% end %>
  <% end %>
</div>

<div id="static_page_body"><%= clean_html(@page.body) %></div>
