#   This file contains an example of a .pryrc file which is run when Pry
#   initializes. To use this file, create a copy of this file and rename it to
#   .pryrc

if !defined?(Rails) || defined?(Rails::Console)
  # required when running in rails console or normal pry
  Pry::Commands.delete 'c'
  Pry::Commands.delete 'n'
  Pry::Commands.delete 's'
end

#   Uncomment the following to enable Hirb on Pry for pretty table formatting of
#   ActiveRecord objects
#
# require 'hirb'
#
# # monkey patch obtained from https://github.com/pry/pry/wiki/FAQ#how-can-i-use-the-hirb-gem-with-pry
# Hirb::View.instance_eval do
#   def enable_output_method
#     @output_method = true
#     @old_print = Pry.config.print
#     Pry.config.print = proc do |output, value|
#       Hirb::View.view_or_page_output(value) || @old_print.call(output, value)
#     end
#   end
#
#   def disable_output_method
#     Pry.config.print = @old_print
#     @output_method = nil
#   end
# end
#
# Hirb.enable
