language: ruby
rvm:
- 2.1.1

# to enable javascript testing with X server and firefox
before_install:
  - gem install bundler
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

before_script:
- bundle exec rake db:create:all
- bundle exec rake db:migrate
- bundle exec rake db:test:prepare

script:
- bundle exec rake cucumber
- bundle exec rake spec
- bundle exec rake jasmine:ci
deploy:
  provider: heroku
  api_key:
    secure: qjGSUm5TSMjgarhzvBnZhNVyMcLCXpszb68D+aj9rKtNwHggz2dmCyqATr3Ynl38I193/QEaOUEarHguI7ABSW6SCmdAIoAEP/h7bbyOgLAYV9+ct/qhk8N4PdjnKUYUYZ9lsd5UcErMMgD03USQg3CeG1X1LwSX18jcScBHkss=
  strategy: git
  app:
      develop: websiteone-develop
      staging: websiteone-staging
      master: websiteone-production
  run: "rake db:migrate"
notifications:
  email:
    - thomas@nocebo.se
    - info@agileventures.org
