language: ruby
rvm:
  - 2.0.0-p247
  #- 2.1.0
before_script:
- bundle exec rake db:create:all
- bundle exec rake db:migrate
- bundle exec rake db:test:prepare
# to enable javascript testing with X server and firefox
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

script:
- bundle exec rake cucumber
- bundle exec rake spec

