version: '3'
services:
  db:
    image: postgres
    volumes:
      - dbVolume:/var/lib/postgresql/data
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
    volumes:
      - .:/WebsiteOne
      - javascript_vendors:/vendor/assets/javascripts
      - scripts:/scripts
volumes:
  dbVolume:
  javascript_vendors:
  scripts:
