---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/embed/hx7c0P0qKWc?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="robots" content="noindex"><style name="www-roboto" >@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}</style><script name="www-roboto" >if (document.fonts && document.fonts.load) {document.fonts.load("400 10pt Roboto", "");document.fonts.load("500 10pt Roboto", "");}</script>  <link rel="stylesheet" href="/yts/cssbin/www-player-vflgAo4Qu.css" name="www-player">
        <style>html {overflow: hidden;          }body {font: 12px Roboto, Arial, sans-serif;background-color: #000;color: #fff;height: 100%;width: 100%;overflow: hidden;position: absolute;margin: 0;padding: 0;}#player {width: 100%;height: 100%;}h1 {text-align: center;color: #fff;}.hid {display: none;}h3 {margin-top: 6px;margin-bottom: 3px;}.player-unavailable {position: absolute;top: 0;left: 0;right: 0;bottom: 0;padd[...]
- request:
    method: get
    uri: https://www.youtube.com/api/stats/qoe?bh=0.000:0.000&c=WEB_EMBEDDED_PLAYER&cbr=Safari&cl=212852013&cmt=0.000:0.000,0.000:0.000&cplayer=UNIPLAYER&cpn=oaNObXYnGAI--FG4&cver=20180913&docid=hx7c0P0qKWc&ei=QmehW4nEJceMxgTk2YfwDw&el=embedded&error=0.000:html5.missingapi:0.000:nocodecs.1&event=streamingstats&fexp=23710476,23711320,23721698,23721898,23722139,23733751,23735282,23737573,23744176,23749071,23749835,23750984,23751767,23752869,23753283,23753597,23755781,23755886,23755898,23756192,23756721,23759694,23760498,23760606,23762063,23762602,23762813,23763127,23763475,23764670,23764790,23764815,23764993,23764995,23765253,23765261,9441388,9449243,9485000&ns=yt&seq=1&vis=0.000:0&vps=0.000:N,0.000:ER
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Sep 2018 09:15:03 GMT
- request:
    method: post
    uri: https://www.youtube.com/ad_data_204
    body:
      encoding: UTF-8
      string: dt=1537304387417&flash=0&frm=2&u_tz=0&u_his=1&u_java=false&u_h=768&u_w=1024&u_ah=768&u_aw=1024&u_cd=32&u_nplug=0&u_nmime=0&ca_type=image&bid=ANyPxKoCCESPT6SR6P9SaelxmdNX2OlmTgbg4_DY6CFvnrUxUL743M94iy5SFVKt6khX2PQ4oCQV&bsq=0&session_token=QUFFLUhqbFVPdGg3UW5ZdWdfNVFwck9qREJ0dUtJS3RvQXxBQ3Jtc0ttaDRQOU9iMjBhZWNVM2ZVZkFRMGFZNDdQWTBTSVNkVlEzZFhTbjFwenRFT3ZNWEpNLXlVTzEwMFhuUnBnX2JBdklVamxkWkU4Q25qRDZNNFlCRnRYdEs1Y25ITmhUdWpPcVhmNnc2bG5LQU9faGs1NFB2TG14MGZHUFY2bmgtamU1ajEzbzBCY0M1Wk0ybWVSa3MxaWE5cUNKVmc%3D
    headers:
      X-Youtube-Utc-Offset:
      - '0'
      X-Youtube-Client-Name:
      - '56'
      X-Youtube-Client-Version:
      - '20180913'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Sep 2018 09:15:03 GMT
- request:
    method: get
    uri: https://www.youtube.com/api/stats/qoe?bh=0.000:0.000&c=WEB_EMBEDDED_PLAYER&cbr=Safari&cl=212852013&cmt=0.000:0.000,0.000:0.000&cplayer=UNIPLAYER&cpn=4lvIPjY1BlMhCAze&cver=20180913&docid=hx7c0P0qKWc&ei=QmehW4nEJceMxgTk2YfwDw&el=embedded&error=0.000:html5.missingapi:0.000:nocodecs.1&event=streamingstats&fexp=23710476,23711320,23721698,23721898,23722139,23733751,23735282,23737573,23744176,23749071,23749835,23750984,23751767,23752869,23753283,23753597,23755781,23755886,23755898,23756192,23756721,23759694,23760498,23760606,23762063,23762602,23762813,23763127,23763475,23764670,23764790,23764815,23764993,23764995,23765253,23765261,9441388,9449243,9485000&ns=yt&seq=1&vis=0.000:0&vps=0.000:N,0.000:ER
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Sep 2018 09:15:05 GMT
recorded_with: VCR 4.0.0
