---
http_interactions:
- request:
    method: get
    uri: https://accounts.youtube.com/accounts/CheckConnection?pmpo=https://accounts.google.com&timestamp=1537304433764&v=-914986404
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <html><head><script nonce="cmggOQw7B/YQRO6LBAgytnBOTBk">"use strict";this.identity_AccountsDomaincookiesCheckconnectionJs=this.identity_AccountsDomaincookiesCheckconnectionJs||{};(function(_){var window=this;
        try{
        var aa=aa||{},h=this,l=function(a){return void 0!==a},m=function(a){return"string"==typeof a},p=function(a){a=a.split(".");for(var b=h,c=0;c<a.length;c++)if(b=b[a[c]],null==b)return null;return b},q=function(){},t=function(a){var b=typeof a;if("object"==b)if(a){if(a instanceof Array)return[...]
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A63670%2Fevents&or=http%3A%2F%2F127.0.0.1%3A63670&ref=&title=Events+%7C+AgileVentures&pw=1024&ph=768&ism=false&cloc=undefined&sd=768&st=2573&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A63670%2Fevents&targcv%5Bdoctitle%5D=Events+%7C+AgileVentures&targcv%5Blptitle%5D=Events+%7C+AgileVentures&targcv%5Blpurl%5D=http%3A%2F%2F127.0.0.1%3A63670%2Fevents&targcv%5B%24browser%5D%5Bwebkit%5D=true&targcv%5B%24browser%5D%5Bversion%5D=538.1&targcv%5B%24browser%5D%5Bsafari%5D=true&targcv%5BuserAgent%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bmobchua%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bref%5D=&targcv%5Bnv%5D=true&isvp=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"noinspectlet":"crawlbot"}'
  recorded_at: Sat, 01 Feb 2014 09:15:01 GMT
- request:
    method: get
    uri: https://accounts.youtube.com/accounts/CheckConnection?pmpo=https://accounts.google.com&timestamp=1607378073866&v=-914986404
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <html><head><script nonce="1DMdg0bG0/Gq5FC7FhoDeA">"use strict";this.default_AccountsDomaincookiesCheckconnectionJs=this.default_AccountsDomaincookiesCheckconnectionJs||{};(function(_){var window=this;
        try{
        /*

         Copyright The Closure Library Authors.
         SPDX-License-Identifier: Apache-2.0
        */
        var k=function(a){if(Error.captureStackTrace)Error.captureStackTrace(this,k);else{var b=Error().stack;b&&(this.stack=b)}a&&(this.message=String(a))},aa=function(a,b){a:{for(var c=a.length,d="string"===typeof a?a.split(""):a,e=0;e<c;e++)if(e in d&&b.call(void 0,d[e],e,a)){b=e;break a}b=-1}return 0>b?null:"string"===typeof a?a.charAt(b):a[b]},ca=function(a,b){b=ba(a,b);var c;(c=0<=b)&&Array.prototype.splice.call(a,b,1);return c},da=function(a){l(a)},ha=function(){var[...]
[...]
- request:
    method: get
    uri: https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20140203T070000Z/20140203T093000Z&details=Daily%20scrum%20meeting&location=online&sprop=name:AgileVentures&text=Scrum
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://accounts.google.com/ServiceLogin?service=cl&passive=1209600&osid=1&continue=https://calendar.google.com/calendar/render?action%3DTEMPLATE%26dates%3D20140203T070000Z/20140203T093000Z%26sprop%3Dwebsite:Daily%2Bscrum%2Bmeeting%26text%3DScrum%26location%3Donline%26sprop%3Dname:AgileVentures%26details%3DDaily%2Bscrum%2Bmeeting&followup=https://calendar.google.com/calendar&scc=1
    body:
      encoding: UTF-8
      string: |
        <HTML>
        <HEAD>
        <TITLE>Moved Temporarily</TITLE>
        </HEAD>
        <BODY BGCOLOR="#FFFFFF" TEXT="#000000">
        <H1>Moved Temporarily</H1>
        The document has moved <A HREF="https://accounts.google.com/ServiceLogin?service=cl&amp;passive=1209600&amp;osid=1&amp;continue=https://calendar.google.com/calendar/render?action%3DTEMPLATE%26dates%3D20140203T070000Z/20140203T093000Z%26sprop%3Dwebsite:Daily%2Bscrum%2Bmeeting%26text%3DScrum%26location%3Donline%26sprop%3Dname:AgileVentures%26details%3DDaily%2Bscrum%2Bmeeting&amp;followup=https://calendar.google.com/calendar&amp;scc=1">here</A>.
        </BODY>
        </HTML>
  recorded_at: Sat, 01 Feb 2014 09:15:01 GMT
- request:
    method: get
    uri: https://accounts.google.com/ServiceLogin?continue=https://calendar.google.com/calendar/render?action=TEMPLATE%26dates=20140203T070000Z/20140203T093000Z%26sprop=website:Daily%2Bscrum%2Bmeeting%26text=Scrum%26location=online%26sprop=name:AgileVentures%26details=Daily%2Bscrum%2Bmeeting&followup=https://calendar.google.com/calendar&osid=1&passive=1209600&scc=1&service=cl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Link:
      - <https://www.google.com/intl/sv/calendar/about/>; rel="canonical"
      X-Auto-Login:
      - realm=com.google&args=service%3Dcl%26continue%3Dhttps%253A%252F%252Fcalendar.google.com%252Fcalendar%252Frender%253Faction%253DTEMPLATE%2526dates%253D20140203T070000Z%252F20140203T093000Z%2526sprop%253Dwebsite%253ADaily%252Bscrum%252Bmeeting%2526text%253DScrum%2526location%253Donline%2526sprop%253Dname%253AAgileVentures%2526details%253DDaily%252Bscrum%252Bmeeting
    body:
      encoding: UTF-8
      string: "\n<!DOCTYPE html>\n<html lang=\"sv\">\n  <head>\n  <meta charset=\"utf-8\">\n
        \ <meta content=\"width=300, initial-scale=1\" name=\"viewport\">\n  <meta
        name=\"description\" content=\"Med Googles kostnadsfria onlinekalender är
        det enkelt att samla alla viktiga händelser på ett ställe.\">\n  <meta name=\"google-site-verification\"
        content=\"LrdTUW9psUAMbh4Ia074-BPEVmcpBxF6Gwf0MSgQXZs\">\n  <title>Google
        Kalender</title>\n  <style>\n  @font-face {\n  font-family: 'Open Sans';\n
        \ font-style: normal;\n  font-weight: 300;\n  src: url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhsKKSTjw.ttf)
        format('truetype');\n}\n@font-face {\n  font-family: 'Open Sans';\n  font-style:
        normal;\n  font-weight: 400;\n  src: url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0ef8pkAg.ttf)
        format('truetype');\n}\n  </style>\n  <style>\n  h1, h2 {\n  -webkit-animation-duration:
        [...]
- request:
    method: get
    uri: https://ssl.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_112x36dp.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Tue, 22 Oct 2019 18:15:00 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAAHAAAAAkCAYAAABR/76qAAAJWElEQVR42u1be4wdVRk/sHu3W5QGeagoBRILKNHa3ZnZLqUyd2a221UIpeBW8REaIDQaBBWjRpQb9j6qf5SohIchBmMUcGOCr6Ds3aUSq7xKEQFbZGntY9u9j3Z3Z+Zuuw/u+P3M3rtnzs69M3Pb7NL0fsnJvZ0z+2XO/Z3v+37f70xZUOuMjZ6tJa0NWtLeoiWsJ/WkPUDf0zR+Rd+/F02aV8Zizumsbu8uMzbbLXrc/o0eNycJKKfaiMbNvXrC+nrXT4qL2ClurY+t31Ua8uPXP8zm29RY5r0UaQ8TcEURKH8g7TeNVEFhp7DJT9zgcONP8wve5qMXU2r8dxWQRmg[...]
- request:
    method: get
    uri: https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhsKKSTjw.ttf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/ttf
      Last-Modified:
      - Wed, 11 Oct 2017 21:49:39 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAEAAAAOAIAAAwBgR0RFRgAQAN0AAD9kAAAAFkdQT1MAGQAMAAA/fAAAABBHU1VC3c7emwAAP4wAAAB0T1MvM[...]
- request:
    method: get
    uri: https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0ef8pkAg.ttf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/ttf
      Last-Modified:
      - Wed, 11 Oct 2017 21:49:47 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAEAAAAOAIAAAwBgR0RFRgAQAN0AAD+8AAAAFkdQT1MAGQAMAAA/1AAAABBHU1VC3c7emwAAP+QAAAB0T1MvMn4tI[...]
- request:
    method: get
    uri: https://ssl.gstatic.com/accounts/ui/avatar_2x.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Thu, 03 Oct 2019 10:15:00 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAAMAAAADACAAAAAB3tzPbAAACOUlEQVR4Ae3aCQrrIBRG4e5/Tz+CBAlIkIAECUjoSt48z/GZeAvnrMCvc6/38XzxAAAAYC4AAAAAAAAAAAAAAAAAAAAAAAAAAAAMCAAAAAAAAAAAAAAAAPsagz4V4rq/FmCLTj/k4vYqgCN5/TKfjlcAJKff5pJ5QPH6Y77YBiz6a4thQJ30D03VKmB3+qfcbhOwO+l+waP/+VsEBgDV6USumgNMOtVkDbDoZIstQNHpiimA1+m8JUBSQ8kO4HBqyB1mAElNJTMAr6a8FcCmxjYjgKjGohGAU2POBmBXc7sJwKrmVhOAqOaiCUBQc8EEQO0JwPMB4ADASwhAe3yR8VPiP3/M8XOaPzQd/lLyp56xSuvnUGK0yHC313idCw6umNov+bhm5aK7fdWAZQ/WbdoXnlg5Y+mvfe2SxVdWj20FAAAAAAAAAAAAwFQAAJSS0hwmfVMIc0qlmAfsOQWvP+RDyrtNQM1L0D8WllxNAWqOXifzMVcbgG3xaswv22jAFp3a6zFteYw8fQ9DM6Amr275VG8GlFmdm8uNgDzpgqZ8EyB7XZTPNwDKpAubysWAOuvi5nolYHW6PLdeBjiCbikc1wCK0025cgUg68Zyf0DUrcXegKibi30Bq25v7QnYNKCtH+BwGpA7ugFmDWnuBSgaVOkECBpU6AOoGlbtAlg1rLULIGhYoQvAaViuC0AD6wE4Xh1QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADA194CuqC6onikxXwAAAAASUVORK5CYII=
  recorded_at: Sat, 01 Feb 2014 09:15:02 GMT
- request:
    method: get
    uri: https://ssl.gstatic.com/accounts/ui/wlogostrip_230x17_1x.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Thu, 03 Oct 2019 10:15:00 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAAOYAAAARCAYAAADJ/dAaAAAQhElEQVR42u2bCVhTV9qAMyNoHcel1modtOKG1hUMVlmzkQQIhK1xZxE[...]
- request:
    method: get
    uri: https://ssl.gstatic.com/images/icons/ui/common/universal_language_settings-21.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Thu, 03 Oct 2019 10:15:00 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAjklEQVQ4y9WUjQ3AEBCFjWI0oxjFCEYxig1ePYlEVVPlpOlLXrgTX/yeAqCkrf4HTXLJWLDrQbHqIajWGt571GLM/BSUE2OM2dbaDGRbcj3wI7RdYSuOv4ZSxphTXPrM1/EQlFsb0fcr3Xam5fZDCHK3v+WdSv0o+b9/qTQ3E5ZK3yxwBOogWaRngdsq/wEQMvnqFmlRtwAAAABJRU5ErkJggg==
  recorded_at: Sat, 01 Feb 2014 09:15:02 GMT
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A59916%2Fevents%2Fscrum&or=http%3A%2F%2F127.0.0.1%3A59916&ref=http%3A%2F%2F127.0.0.1%3A59916%2Fevents&title=AgileVentures&pw=1024&ph=768&ism=false&cloc=undefined&sd=768&st=1045&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A59916%2Fevents%2Fscrum&targcv%5Bdoctitle%5D=AgileVentures&targcv%5Blptitle%5D=AgileVentures&targcv%5Blpurl%5D=http%3A%2F%2F127.0.0.1%3A59916%2Fevents%2Fscrum&targcv%5B%24browser%5D%5Bwebkit%5D=true&targcv%5B%24browser%5D%5Bversion%5D=538.1&targcv%5B%24browser%5D%5Bsafari%5D=true&targcv%5BuserAgent%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bmobchua%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bref%5D=http%3A%2F%2F127.0.0.1%3A59916%2Fevents&targcv%5Bnv%5D=true&isvp=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"noinspectlet":"crawlbot"}'
  recorded_at: Sat, 01 Feb 2014 09:15:08 GMT
recorded_with: VCR 6.0.0
