---
http_interactions:
- request:
    method: get
    uri: https://accounts.youtube.com/accounts/CheckConnection?pmpo=https://accounts.google.com&timestamp=1537304433764&v=-914986404
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <html><head><script nonce="cmggOQw7B/YQRO6LBAgytnBOTBk">"use strict";this.identity_AccountsDomaincookiesCheckconnectionJs=this.identity_AccountsDomaincookiesCheckconnectionJs||{};(function(_){var window=this;
        try{
        var aa=aa||{},h=this,l=function(a){return void 0!==a},m=function(a){return"string"==typeof a},p=function(a){a=a.split(".");for(var b=h,c=0;c<a.length;c++)if(b=b[a[c]],null==b)return null;return b},q=function(){},t=function(a){var b=typeof a;if("object"==b)if(a){if(a instanceof Array)return[...]
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A63670%2Fevents&or=http%3A%2F%2F127.0.0.1%3A63670&ref=&title=Events+%7C+AgileVentures&pw=1024&ph=768&ism=false&cloc=undefined&sd=768&st=2573&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A63670%2Fevents&targcv%5Bdoctitle%5D=Events+%7C+AgileVentures&targcv%5Blptitle%5D=Events+%7C+AgileVentures&targcv%5Blpurl%5D=http%3A%2F%2F127.0.0.1%3A63670%2Fevents&targcv%5B%24browser%5D%5Bwebkit%5D=true&targcv%5B%24browser%5D%5Bversion%5D=538.1&targcv%5B%24browser%5D%5Bsafari%5D=true&targcv%5BuserAgent%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bmobchua%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bref%5D=&targcv%5Bnv%5D=true&isvp=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"noinspectlet":"crawlbot"}'
  recorded_at: Sat, 01 Feb 2014 09:15:01 GMT
- request:
    method: get
    uri: https://accounts.youtube.com/accounts/CheckConnection?pmpo=https://accounts.google.com&timestamp=1607378073866&v=-914986404
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <html><head><script nonce="1DMdg0bG0/Gq5FC7FhoDeA">"use strict";this.default_AccountsDomaincookiesCheckconnectionJs=this.default_AccountsDomaincookiesCheckconnectionJs||{};(function(_){var window=this;
        try{
        /*

         Copyright The Closure Library Authors.
         SPDX-License-Identifier: Apache-2.0
        */
        var k=function(a){if(Error.captureStackTrace)Error.captureStackTrace(this,k);else{var b=Error().stack;b&&(this.stack=b)}a&&(this.message=String(a))},aa=function(a,b){a:{for(var c=a.length,d="string"===typeof a?a.split(""):a,e=0;e<c;e++)if(e in d&&b.call(void 0,d[e],e,a)){b=e;break a}b=-1}return 0>b?null:"string"===typeof a?a.charAt(b):a[b]},ca=function(a,b){b=ba(a,b);var c;(c=0<=b)&&Array.prototype.splice.call(a,b,1);return c},da=function(a){l(a)},ha=function(){var[...]
