<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @project_creator.display_name %>,<br></p>
    <p>
      <%= mail_to @project.user.email, "#{@project.user.email}" %> Your project "<%= @project.title %>" was succesfully created and is pending approval.<br>
    </p>
    <p> 
      On approval, you will be notified.<br>
    </p> 
    <p>
      Thanks<br>
    </p>
    <p>
      You are receiving this email because you registered at <a href="http://www.agileventures.org/">www.agileventures.org</a> and you recently created a project. 
    </p>
  </body>
</html>