---
http_interactions:
- request:
    method: post
    uri: https://api.chatlio.com/v1/v/visitor/register
    body:
      encoding: UTF-8
      string: '{"vsUuid":"15d5ee9f-242c-4a17-9ebf-f444570f44ea","ceUuid":"8a54fdee-6747-4ce9-4d69-f03c2af664f2","page":"http://127.0.0.1:56281/projects/hello-mars/documents/guides?mercury_frame=true&_=1499260918247","loaderVersion":"459dc1d-1489104113585","widgetVersion":"18ea608-1495785511396"}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjZVVVSUQiOiI4YTU0ZmRlZS02NzQ3LTRjZTktNGQ2OS1mMDNjMmFmNjY0ZjIiLCJleHAiOjE0OTkyNjgwOTcsImlhdCI6MTQ5OTI2MDg5NywidnNVVUlEIjoiMTVkNWVlOWYtMjQyYy00YTE3LTllYmYtZjQ0NDU3MGY0NGVhIn0.-I44qjX7mWlzv4pfW1ZEYvnF3W-ozpLp8oRFMDVJ0ng
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"off":false,"maxVisitorInactiveMins":3,"status":"online","hideWhenOffline":false,"showAvatarPreChat":false,"showTeamAvatarPreChat":false,"newMsgNotifications":true,"playSound":true,"activeAgentAvatar":"","forwardSlackUserName":false,"titleColor":"#3f51b5","titleFontColor":"#fff","onlineTitle":"How
        can we help you?","offlineTitle":"Contact Us","agentLabel":"Support","browserSideAuthorLabel":"","onlineMessagePlaceholder":"Type
        message here...","whiteLabel":false,"trackPresence":false,"offlineGreeting":"Sorry
        we are away, but we would love to hear from you and chat soon!","offlineEmailPlaceholder":"Email","offlineMessagePlaceholder":"Your
        message here","offlineNamePlaceholder":"Name (optional but helpful)","offlineSendButton":"Send","offlineThankYouMessage":"Thanks
        for your message. We will be in touch soon!","requireInfo":false,"requireInfoGreeting":"Enter
        your name and email to start chatting!","requireInfoSubmitBtn":"Start","requestScreenshotText":"Operator
        would like to take a screenshot of your browser. Confirm below.","requestScreenshotAllowLabel":"Take
        screenshot","requestScreenshotDeclineLabel":"Decline","teamAvatarOn":false,"collapsedMode":"chip","defaultOkBtnLabel":"Ok","defaultSendBtnLabel":"Send","defaultCancelBtnLabel":"Cancel","defaultYesBtnLabel":"Yes","defaultNoBtnLabel":"No","showConversationEnd":false,"showConversationRating":true,"conversationEndLabel":"Your
        chat session has ended. Thanks for chatting!","conversationRatingLabel":"How
        would you rate this chat?","conversationRatingThankYou":"Thanks for rating
        your chat session!","conversationRatingPlaceholder":"How can we improve?","conversationEndTranscriptPlaceholder":"Email
        to send transcript of chat","conversationEndConfirmationQuestion":"Are you
        sure you want to end this chat?","blacklistedUrls":"","triggerJson":"","useSgmt":false,"autoResponseMessage":"Question?
        Just type it below and we are online and ready to answer."}'
  recorded_at: Wed, 05 Jul 2017 13:21:59 GMT
- request:
    method: post
    uri: https://api.chatlio.com/v1/v/visitor/m
    body:
      encoding: UTF-8
      string: '{"page":"http://127.0.0.1:56281/projects/hello-mars/documents/guides?mercury_frame=true&_=1499260918247"}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjZVVVSUQiOiI4YTU0ZmRlZS02NzQ3LTRjZTktNGQ2OS1mMDNjMmFmNjY0ZjIiLCJleHAiOjE0OTkyNjgwOTcsImlhdCI6MTQ5OTI2MDg5NywidnNVVUlEIjoiMTVkNWVlOWYtMjQyYy00YTE3LTllYmYtZjQ0NDU3MGY0NGVhIn0.-I44qjX7mWlzv4pfW1ZEYvnF3W-ozpLp8oRFMDVJ0ng
      Content-Type:
      - application/xml
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Jul 2017 13:21:59 GMT
recorded_with: VCR 3.0.3
