---
http_interactions:
- request:
    method: get
    uri: http://www.youtube.com/embed/foo?wmode=transparent
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.youtube.com/embed/foo?wmode=transparent
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Apr 2016 14:58:23 GMT
- request:
    method: get
    uri: https://www.youtube.com/embed/foo?wmode=transparent
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |2-

        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><title>YouTube</title><meta name="viewport" content="width=device-width, initial-scale=1"><style name="www-roboto">@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEXYhjbSpvc47ee6xR_80Hnw.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0SwlidHJgAgmTjOEEzwu1L8.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf)format('truetype');}</style><script name="www-roboto">if (document.fonts && document.fonts.load) {document.fonts.load("400 10pt Roboto", "");document.fonts.load("500 10pt Roboto", "");}</script>  <link rel="stylesheet" href="//s.ytimg.com/yts/cssbin/www-embed-player-vfl5foy2V.css" name="www-embed-player">
        <script>__yt_experimental_now = __spf_experimental_now = true;</script><script>var ytcsi = {gt: function(n) {n = (n || '') + 'data_';return ytcsi[n] || (ytcsi[n] = {tick: {},span: {},info: {}});},now: window.performance && window.performance.timing &&window.performance.now && window['__yt_experimental_now'] ? function() {return window.performance.timing.navigationStart + window.perfor[...]
- request:
    method: get
    uri: https://s.ytimg.com/yts/jsbin/www-embed-player-vflrUjJOR/www-embed-player.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Thu, 07 Apr 2016 08:23:45 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        (function(){var g,aa=aa||{},m=this;function p(a){return void 0!==a}
        function q(a,b,c){a=a.split(".");c=c||m;a[0]in c||!c.execScript||c.execScript("var "+a[0]);for(var d;a.length&&(d=a.shift());)!a.length&&p(b)?c[d]=b:c[d]?c=c[d]:c=c[d]={}}
        function r(a,b){for(var c=a.split("."),d=b||m,e;e=c.shift();)if(null!=d[e])d=d[e];else return null;return [...]
- request:
    method: get
    uri: https://www.google.com/js/bg/j6SDDiQit5YY48GNgPpnCluJgoNCzbKlh5o6eVjReZI.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Thu, 31 Mar 2016 12:37:53 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '/* Anti-spam. Want to say hello? Contact (base64) Ym90Z3VhcmQt[...]
- request:
    method: get
    uri: https://s.ytimg.com/yts/cssbin/www-embed-player-vfl5foy2V.css
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css
      Last-Modified:
      - Sun, 10 Apr 2016 04:10:41 GMT
    body:
      encoding: UTF-8
      string: '.yt-embed-thumbnail{width:100%;height:100%;cursor:pointer;background-size:cover;background-repeat:no-repeat;background-positio[...]
