---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=random%40morerandom.com&plan=premiumplus&source=tok_18CsXM4cJkXFgrlCVkIe8qNC
    headers:
      Authorization:
      - Bearer sk_test_4O7CTmoS1jwlDAX3z1abLYWm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "You cannot use a Stripe token more than once: tok_18CsXM4cJkXFgrlCVkIe8qNC."
          }
        }
  recorded_at: Thu, 19 May 2016 15:38:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: email=random%40morerandom.com&validation_type=card&payment_user_agent=Stripe+Checkout+v3+(stripe.js%2F732b68a)&user_agent=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&device_id=c15b7206-a73a-4848-a2cf-d2cdc14f922d&referrer=http%3A%2F%2F127.0.0.1%3A53242%2Fcharges%2Fnew%3Fplan%3Dpremiumplus&time_checkout_opened=1472655151&time_checkout_loaded=1472655151&card[number]=4242+4242+4242+4242&card[cvc]=123&card[exp_month]=12&card[exp_year]=2019&card[name]=random%40morerandom.com&key=pk_test_4O7CBxlnqMFgw0BAmpKmOjTn
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18oa4q4cJkXFgrlCZenP5pmY",
          "object": "token",
          "card": {
            "id": "card_18oa4q4cJkXFgrlCBx9Uj5OT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "random@morerandom.com",
            "tokenization_method": null,
            "fingerprint": "fyjaaQ5NnzaXnYRE",
            "customer": null
          },
          "client_ip": "86.145.235.135",
          "created": 1472655152,
          "email": "random@morerandom.com",
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 31 Aug 2016 14:52:32 GMT
recorded_with: VCR 3.0.1
