---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: email=tansaku%40gmail.com&validation_type=card&payment_user_agent=Stripe+Checkout+v3+(stripe.js%2F732b68a)&user_agent=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&device_id=dd20de23-58bb-4168-8a88-bf1a25c6a2cc&referrer=http%3A%2F%2F127.0.0.1%3A56984%2Fcharges%2Fnew&time_checkout_opened=1472654752&time_checkout_loaded=1472654752&card[number]=4242+4242+4242+4242&card[cvc]=123&card[exp_month]=12&card[exp_year]=2019&card[name]=tansaku%40gmail.com&key=pk_test_4O7CBxlnqMFgw0BAmpKmOjTn
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18oZyR4cJkXFgrlCvJu6eDTK",
          "object": "token",
          "card": {
            "id": "card_18oZyR4cJkXFgrlCGMrfKzAq",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "tansaku@gmail.com",
            "tokenization_method": null,
            "fingerprint": "fyjaaQ5NnzaXnYRE",
            "customer": null
          },
          "client_ip": "100.11.244.36",
          "created": 1472654755,
          "email": "tansaku@gmail.com",
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 31 Aug 2016 14:45:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=tansaku%40gmail.com&plan=premium&source=tok_18oZyR4cJkXFgrlCvJu6eDTK
    headers:
      Authorization:
      - Bearer sk_test_4O7CTmoS1jwlDAX3z1abLYWm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_96nZ346egGQS6O",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_18oZyR4cJkXFgrlCGMrfKzAq",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_96nZ346egGQS6O",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "fyjaaQ5NnzaXnYRE",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "tansaku@gmail.com",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_96nZ346egGQS6O/cards"
          },
          "created": 1472654758,
          "currency": "gbp",
          "default_card": "card_18oZyR4cJkXFgrlCGMrfKzAq",
          "default_source": "card_18oZyR4cJkXFgrlCGMrfKzAq",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "tansaku@gmail.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18oZyR4cJkXFgrlCGMrfKzAq",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_96nZ346egGQS6O",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "fyjaaQ5NnzaXnYRE",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "tansaku@gmail.com",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_96nZ346egGQS6O/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_96nZayt7In4lFt",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1472654758,
                "current_period_end": 1473259558,
                "current_period_start": 1472654758,
                "customer": "cus_96nZ346egGQS6O",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "premium",
                  "object": "plan",
                  "amount": 1000,
                  "created": 1463668361,
                  "currency": "gbp",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "AV Premium",
                  "statement_descriptor": "AGILE VENTURES PREMIUM",
                  "trial_period_days": 7,
                  "statement_description": "AGILE VENTURES PREMIUM"
                },
                "quantity": 1,
                "start": 1472654758,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1473259558,
                "trial_start": 1472654758
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_96nZ346egGQS6O/subscriptions"
          }
        }
  recorded_at: Wed, 31 Aug 2016 14:45:59 GMT
recorded_with: VCR 3.0.1
