<div class="container">
  <p>To take part in a pair programming session, first browse the G+ Pair Programming community pairing events, and sign up for any that are at an appropriate time for you, and on a topic you want to pair on:&nbsp;</p>
  <p><a href="https://plus.google.com/communities/100279740984094902927/events">https://plus.google.com/communities/100279740984094902927/events</a></p>
  <p>If you can't see any at a good time for you then create one at a time that does suit you and click the create event button on that same page:</p>

  <div style="display:block;text-align:left"><a href="https://dl.dropboxusercontent.com/u/13196858/CreatingPairingEvent.png" imageanchor="1"><img border="0" height="130" src="https://dl.dropboxusercontent.com/u/13196858/CreatingPairingEvent.png" width="400"></a></div>
  <br>
  <p>Then set up the event as follows, ensuring that it is a "hangouts" event and that you include in the description which topic you would like to pair on:</p>
  <div style="display:block;text-align:left"><a href="https://dl.dropboxusercontent.com/u/13196858/SelectingHangout.png" imageanchor="1"><img border="0" height="289" src="https://dl.dropboxusercontent.com/u/13196858/SelectingHangout.png" width="400"></a></div>
  <br>

  <p>Then just click "invite" and when it comes time for your event click on the hangouts link which will appear in the Details section of the event page when the pairing session gets close. &nbsp;We strongly recommend using the latest version of Chrome for hangouts:</p>
  <div style="display:block;text-align:left"><a href="https://dl.dropboxusercontent.com/u/13196858/HangoutsLinkAppearsHere.png" imageanchor="1"><img border="0" height="248" src="https://dl.dropboxusercontent.com/u/13196858/HangoutsLinkAppearsHere.png" width="400"></a></div>
  <br>

  <p>There are many ways to&nbsp;<a href="https://sites.google.com/site/saasellsprojects/remote-pair-programming">pair program online</a>&nbsp;but Google Hangouts is a good default option as long as you have a reasonably fast computer and a reasonably stable internet connection. &nbsp;Even if you'd like to use a different remote pairing technology it's still worth creating or joining an event in the G+ community since you can always switch to Skype Screen Share, Screen, Tmux, Nitrous.io or other alternative once you've established the time and date that you can pair at.</p>
</div>