<div class="container">
  <div><a href="http://www.youtube.com/watch?v=NvAYh_5uBOw&amp;list=PLjbL0BCR04Q3EE8sxsLz12uiKbKUfvk7J&amp;noredirect=1">http://www.youtube.com/watch?v=NvAYh_5uBOw&amp;list=PLjbL0BCR04Q3EE8sxsLz12uiKbKUfvk7J&amp;noredirect=1</a></div>
  <div><span style="line-height:1.6;font-size:10pt">at 13min</span><span style="line-height:1.6;font-size:10pt">&nbsp;</span>and 23 min</div>
  <div><br>
  </div>
  <div><a href="http://www.youtube.com/watch?v=HOuWaTl2qAc&amp;list=PLjbL0BCR04Q3EE8sxsLz12uiKbKUfvk7J">http://www.youtube.com/watch?v=HOuWaTl2qAc&amp;list=PLjbL0BCR04Q3EE8sxsLz12uiKbKUfvk7J</a></div>
  <div>at 44min 26s&nbsp;<span style="line-height:1.6;font-size:10pt">and 59min</span></div>
  <div><span style="line-height:1.6;font-size:10pt"><br>
</span></div>
  <div><span style="line-height:1.6;font-size:10pt">Example embed:</span></div>
  <div><span style="line-height:1.6;font-size:10pt"><br>
</span></div>
  <div><span style="line-height:1.6;font-size:10pt">
<div><iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/HOuWaTl2qAc?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="480" height="270"></iframe></div>
<br>
</span></div>
</div>
