<%= provide :title, 'Pair Programming Protocols' %>

<div class="container">
  <h1>Pair Programming Protocols</h1>
  <div>
    <h2>Ping Pong Pairing between Programmer A and Programmer B:</h2>
    <div style="display:block;text-align:left">attributed to Jim Shore in his 2007 book "<a href="http://www.jamesshore.com/Agile-Book/pair_programming.html">The Art of Agile Development</a>"</div>
    <div style="display:block;text-align:left"><br>
    </div>

  </div>
  <div style="display:block;text-align:left">We pasted an <a href="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-protocols/github-pong/ping-pong">example of ping pong github commands here</a>.<br>
  </div>
  <h2>Change the Message between Programmer A and Programmer B:</h2>
  <div>
    <div style="display:block;text-align:left"><a href="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-protocols/PingPongProtocol.png?attredirects=0" imageanchor="1"><img border="0" src="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-protocols/PingPongProtocol.png"></a></div>
    <br>
  </div>
  <div>attributed to&nbsp;John Wilger</div>
  <div><br>
  </div>
  <div></div>
  <div><br>
  </div>
  <h2>One Undermanship between Programmer A and Programmer B:</h2>
  <div>
    <div style="display:block;text-align:left"><a href="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-protocols/ChangeTheMessage.png?attredirects=0" imageanchor="1"><img border="0" src="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-protocols/ChangeTheMessage.png"></a></div>
    <br>
  </div>
  <div>attributed to Sam Livingston Gray</div>
  <div><br>
  </div>
  <div>

    <br>
  </div>
  <div>
    <div style="display:block;text-align:left"><a href="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-protocols/OneUndermanShip.png?attredirects=0" imageanchor="1"><img border="0" src="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-protocols/OneUndermanShip.png"></a></div>
    <br>
  </div>
  <div style="display:block;text-align:left"><br>
  </div>
  <div><br>
  </div>
  <div><br>
  </div>
  <div>Taken from Sam Livingston-Gray's talk:</div>
  <div><br>
  </div>
  <div>
    <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/W_hsEi_UZHE?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
    <div><br>
    </div>
    <div><br>
    </div>
    <h2>App Academy apparently uses the following pair protocol in their 9 week face to face course:</h2>
    <div><br>
    </div>
    <div>
      <ul><li><span style="line-height:1.5;font-size:10pt">new pair every day</span></li>
        <li><span style="line-height:1.5;font-size:10pt">15 minute timer driver navigator swap</span></li>
        <ul><li><span style="line-height:1.5;font-size:10pt">dual keyboard setup to make swapping easier</span></li>
          <li><span style="line-height:1.5;font-size:10pt">only driver has control of the computer</span></li></ul>
        <li><span style="line-height:1.5;font-size:10pt">bite sized projects in morning, bigger projects in the afternoon</span></li>
        <li><span style="line-height:1.5;font-size:10pt">capstone projects are individual</span></li>
        <ul><li><span style="line-height:1.5;font-size:10pt">they say that learning phase is best for pairing - when later repeating for practise then pairing allegedly not so helpful</span></li></ul>
        <li><span style="font-size:10pt;line-height:1.5">TDD/BDD is not required --&gt; focused on javascript for preference</span></li></ul>
    </div>
  </div>

</div>
