<div class="container">
  <div>Please contact Sam on email "<a href="mailto:tansaku@gmail.com">tansaku@gmail.com</a>" or skype "tansaku" to get set up. &nbsp;At the moment we need the XML URL to a publicly shared Google calender to pull you into the calender. &nbsp;You can also fill out our&nbsp;<a href="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-form" style="line-height:1.6;font-size:10pt">Pair Programming Form</a></div>
  <div><br>
  </div>
  <div>Note: we are planning to divide the calendar up based on the type of project you are interesting in pairing on ...</div>
  <div></div>
  <br>
  <div><br>
  </div>
  <!-- Bryan: This seems not to be working -->
  <!--<img src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BGoogle+Gadget'%3D20'f%5Cv'a%5C%3D0'10'%3D499'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22Include+gadget+(iframe)%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D500'%3D997'dim'%5C%3D10'%3D10'%3D500'%3D997'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=1lW7NbgW0CccVFO8Vxk6jdMMLwI" data-igsrc="http://107.gmodules.com/ig/ifr?mid=107&amp;synd=trogedit&amp;url=http%3A%2F%2Fwww.gstatic.com%2Fsites-gadgets%2Fiframe%2Fiframe.xml&amp;up_iframeURL=http%3A%2F%2Ftansaku.github.io%2FPairProgrammingScheduler&amp;up_scroll=auto&amp;h=1000&amp;w=100%25" data-type="ggs-gadget" data-props="align:left;borderTitle:Include gadget (iframe);height:1000;igsrc:http#58//107.gmodules.com/ig/ifr?mid=107&amp;synd=trogedit&amp;url=http%3A%2F%2Fwww.gstatic.com%2Fsites-gadgets%2Fiframe%2Fiframe.xml&amp;up_iframeURL=http%3A%2F%2Ftansaku.github.io%2FPairProgrammingScheduler&amp;up_scroll=auto&amp;h=1000&amp;w=100%25;mid:107;scrolling:auto;showBorder:false;showBorderTitle:null;spec:http#58//www.gstatic.com/sites-gadgets/iframe/iframe.xml;up_iframeURL:http#58//tansaku.github.io/PairProgrammingScheduler;up_scroll:auto;view:default;width:100%;" width="500" height="1000" style="display:block;text-align:left;margin-right:auto;" class="igm">-->
</div>