<%= provide :title, 'Pair Programming Form' %>

<div class="container">
  <h1>Pair Programming Form</h1>
  <!-- Bryan: Again problem embedding a widget -->
  <!--<div><img src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BSpreadsheet+form'%3D20'f%5Cv'a%5C%3D0'10'%3D499'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22Untitled+form%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D500'%3D997'dim'%5C%3D10'%3D10'%3D500'%3D997'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=ufCUWLlnafDjwItQQpoWyFYBRsE" data-origsrc="1RSoLhUbL6oc5PjGChQD87ckLiOkfUXLnLsUpxbXVWcE" data-type="spreadsheet-form" data-props="align:left;borderTitle:Untitled form;doctype:freebird;height:1000;objectTitle:Untitled form;showBorder:false;showBorderTitle:false;" width="500" height="1000" style="display:block;text-align:left;margin-right:auto;"></div>-->
  <br>
</div>