<div class="container">
  Watch these videos on Pair Programming:
  <div><br>
  </div>
  <div>
    <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/OQXEzwXtzJ8?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
    <div><br>
    </div>
    <div>
      <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/Yq1qgWvSIdI?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
      <br>
    </div>
    <div>
      <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/f9ALSPlPQhg?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
      <div><br>
      </div>
      <div>
        <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/zaDk-08T8Wg?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
        <br>
      </div>
      <br>
    </div>
    <br>
  </div>

</div>
