<% provide :title, 'Preview' %>

<h1>Preview</h1>

<div style="margin: 0; padding: 0; border-style: solid; border-color: red; border-width: 1px;">
  <%= render 'article', article: @article, author: @author %>
</div>
