---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1408284764'
      Etag:
      - '"a743f6b6248d7593179681ddce23096a"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"total":1,"weeks":[{"w":1388880000,"a":0,"d":0,"c":0},{"w":1389484800,"a":0,"d":0,"c":0},{"w":1390089600,"a":0,"d":0,"c":0},{"w":1390694400,"a":0,"d":0,"c":0},{"w":1391299200,"a":0,"d":0,"c":0},{"w":1391904000,"a":0,"d":0,"c":0},{"w":1392508800,"a":0,"d":0,"c":0},{"w":1393113600,"a":16,"d":2,"c":1},{"w":1393718400,"a":0,"d":0,"c":0},{"w":1394323200,"a":0,"d":0,"c":0},{"w":1394928000,"a":0,"d":0,"c":0},{"w":1395532800,"a":0,"d":0,"c":0},{"w":1396137600,"a":0,"d":0,"c":0},{"w":1396742400,"a":0,"d":0,"c":0},{"w":1397347200,"a":0,"d":0,"c":0},{"w":1397952000,"a":0,"d":0,"c":0},{"w":1398556800,"a":0,"d":0,"c":0},{"w":1399161600,"a":0,"d":0,"c":0},{"w":1399766400,"a":0,"d":0,"c":0},{"w":1400371200,"a":0,"d":0,"c":0},{"w":1400976000,"a":0,"d":0,"c":0},{"w":1401580800,"a":0,"d":0,"c":0},{"w":1402185600,"a":0,"d":0,"c":0},{"w":1402790400,"a":0,"d":0,"c":0},{"w":1403395200,"a":0,"d":0,"c":0},{"w":1404000000,"a":0,"d":0,"c":0},{"w":1404604800,"a":0,"d":0,"c":0},{"w":1405209600,"a":0,"d":0,"c":0},{"w":1405814400,"a":0,"d":0,"c":0},{"w":1406419200,"a":0,"d":0,"c":0},{"w":1407024000,"a":0,"d":0,"c":0},{"w":1407628800,"a":0,"d":0,"c":0}],"author":{"login":"coddeys","id":4198294,"avatar_url":"https://avatars.githubusercontent.com/u/4198294?v=2","gravatar_id":"50c528dd3ada1c5d5c961828899ebca1","url":"https://api.github.com/users/coddeys","html_url":"https://github.com/coddeys","followers_url":"https://api.github.com/users/coddeys/followers","following_url":"https://api.github.com/users/coddeys/following{/other_user}","gists_url":"https://api.github.com/users/coddeys/gists{/gist_id}","starred_url":"https://api.github.com/users/coddeys/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/coddeys/subscriptions","organizations_url":"https://api.github.com/users/coddeys/orgs","repos_url":"https://api.github.com/users/coddeys/repos","events_url":"https://api.github.com/users/coddeys/events{/privacy}","received_events_url":"https://api.github.com/users/coddeys/received_events","type":"User","site_admin":false}},{"total":2,"weeks":[{"w":1388880000,"a":0,"d":0,"c":0},{"w":1389484800,"a":0,"d":0,"c":0},{"w":1390089600,"a":0,"d":0,"c":0},{"w":1390694400,"a":0,"d":0,"c":0},{"w":1391299200,"a":0,"d":0,"c":0},{"w":1391904000,"a":0,"d":0,"c":0},{"w":1392508800,"a":0,"d":0,"c":0},{"w":1393113600,"a":0,"d":0,"c":0},{"w":1393718400,"a":0,"d":0,"c":0},{"w":1394323200,"a":0,"d":0,"c":0},{"w":1394928000,"a":0,"d":0,"c":0},{"w":1395532800,"a":0,"d":0,"c":0},{"w":1396137600,"a":0,"d":0,"c":0},{"w":1396742400,"[...]
