---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/contributors?anon=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1429043333'
      Last-Modified:
      - Tue, 14 Apr 2015 08:53:59 GMT
      Etag:
      - W/"313d7266899817e2c7bafe08817460c3"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"login":"tochman","id":5248170,"avatar_url":"https://avatars.githubusercontent.com/u/5248170?v=3","gravatar_id":"","url":"https://api.github.com/users/tochman","html_url":"https://github.com/tochman","followers_url":"https://api.github.com/users/tochman/followers","following_url":"https://api.github.com/users/tochman/following{/other_user}","gists_url":"https://api.github.com/users/tochman/gists{/gist_id}","starred_url":"https://api.github.com/users/tochman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tochman/subscriptions","organizations_url":"https://api.github.com/users/tochman/orgs","repos_url":"https://api.github.com/users/tochman/repos","events_url":"https://api.github.com/users/tochman/events{/privacy}","received_events_url":"https://api.github.com/users/tochman/received_events","type":"User","site_admin":false,"contributions":954},{"login":"yggie","id":2663402,"avatar_url":"https://avatars.githubusercontent.com/u/2663402?v=3","gravatar_id":"","url":"https://api.github.com/users/yggie","html_url":"https://github.com/yggie","followers_url":"https://api.github.com/users/yggie/followers","following_url":"https://api.github.com/users/yggie/following{/other_user}","gists_url":"https://api.github.com/users/yggie/gists{/gist_id}","starred_url":"https://api.github.com/users/yggie/starred{/owner}{/repo}","subscriptions_url":"h[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1429043333'
      Etag:
      - W/"ef96c7d6f9680f7428e9c8614bdc2b5e"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"total":1,"weeks":[{"w":1388880000,"a":0,"d":0,"c":0},{"w":1389484800,"a":0,"d":0,"c":0},{"w":1390089600,"a":0,"d":0,"c":0},{"w":1390694400,"a":0,"d":0,"c":0},{"w":1391299200,"a":0,"d":0,"c":0},{"w":1391904000,"a":0,"d":0,"c":0},{"w":1392508800,"a":0,"d":0,"c":0},{"w":1393113600,"a":0,"d":0,"c":0},{"w":1393718400,"a":0,"d":0,"c":0},{"w":1394323200,"a":0,"d":0,"c":0},{"w":1394928000,"a":0,"d":0,"c":0},{"w":1395532800,"a":0,"d":0,"c":0},{"w":1396137600,"a":0,"d":0,"c":0},{"w":1396742400,"a":0,"d":0,"c":0},{"w":1397[...]
