---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?location=57.9333,12.5167&sensor=false&timestamp=1401329488
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : 3600,
           "status" : "OK",
           "timeZoneId" : "Europe/Stockholm",
           "timeZoneName" : "Central European Summer Time"
        }
  recorded_at: Thu, 29 May 2014 02:11:28 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?location=57.9333,12.5167&sensor=false&timestamp=1401411206
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : 3600,
           "status" : "OK",
           "timeZoneId" : "Europe/Stockholm",
           "timeZoneName" : "Central European Summer Time"
        }
  recorded_at: Fri, 30 May 2014 00:53:26 GMT
recorded_with: VCR 2.9.2
