---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?location=57.9333,12.5167&sensor=false&timestamp=1401729041
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : 3600,
           "status" : "OK",
           "timeZoneId" : "Europe/Stockholm",
           "timeZoneName" : "Central European Summer Time"
        }
  recorded_at: Mon, 02 Jun 2014 17:10:42 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?location=0,0&sensor=false&timestamp=1401729043
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 02 Jun 2014 17:10:43 GMT
recorded_with: VCR 2.9.2
