---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?location=40.7127,-74.0059&sensor=false&timestamp=1401728082
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "dstOffset" : 3600,
           "rawOffset" : -18000,
           "status" : "OK",
           "timeZoneId" : "America/New_York",
           "timeZoneName" : "Eastern Daylight Time"
        }
  recorded_at: Mon, 02 Jun 2014 16:54:42 GMT
recorded_with: VCR 2.9.2
