---
http_interactions:
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A53554%2Fprojects%2Fhello-mars%2Fdocuments%2Fguides%3Fmercury_frame%3Dtrue%26_%3D1622401088781&or=http%3A%2F%2F127.0.0.1%3A53554&ref=http%3A%2F%2F127.0.0.1%3A53554%2Feditor%2Fprojects%2Fhello-mars%2Fdocuments%2Fguides&title=Guides+-+hello+mars+%7C+AgileVentures&pw=1024&ph=1384&ism=false&cloc=undefined&sd=1384&st=1412&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A53554%2Fprojects%2Fhello-mars%2Fdocuments%2Fguides%3Fmercury_frame%3Dtrue%26_%3D1622401088781&targcv%5Bdoctitle%5D=Guides+-+hello+mars+%7C+AgileVentures&targcv%5Blptitle%5D=Guides+-+hello+mars+%7C+AgileVentures&targcv%5Blpurl%5D=http%3A%2F%2F127.0.0.1%3A53554%2Fprojects%2Fhello-mars%2Fdocuments%2Fguides%3Fmercury_frame%3Dtrue%26_%3D1622401088781&targcv%5B%24browser%5D%5Bwebkit%5D=true&targcv%5B%24browser%5D%5Bversion%5D=538.1&targcv%5B%24browser%5D%5Bsafari%5D=true&targcv%5BuserAgent%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bmobchua%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bref%5D=http%3A%2F%2F127.0.0.1%3A53554%2Feditor%2Fprojects%2Fhello-mars%2Fdocuments%2Fguides&targcv%5Bnv%5D=true&isvp=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"noinspectlet":"crawlbot"}'
  recorded_at: Wed, 05 Feb 2014 06:55:37 GMT
- request:
    method: get
    uri: http://www.youtube.com/embed/foo?wmode=transparent
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://www.youtube.com/embed/foo?wmode=transparent
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Feb 2014 06:55:36 GMT
- request:
    method: get
    uri: https://www.youtube.com/embed/foo?wmode=transparent
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html><html lang="en" dir="ltr" data-cast-api-enabled="true"><head><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="robots" content="noindex"><style name="www-roboto" nonce="Bz8kOIHTgSZuPfgJlQnCfA">@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxPKTU1Kg.ttf)format('truetype');}</style><script name="www-roboto" nonce="Jp+bpd+a2q20NGacjXn6uw">if (document.fonts && document.fonts.load) {document.fonts.load("400 10pt Roboto", "E"); document.fonts.load("500 10pt Roboto", "E");}</script><link rel="stylesheet" href="/s/player/0b643cd1/www-player.css" name="www-player" nonce="Bz8kOIHTgSZuPfgJlQnCfA"><style nonce="Bz8kOIHTgSZuPfgJlQnCfA">html {overflow: hidden;}body {font: 12px Roboto, Arial, sans-serif; background-color: #000; color: #fff; height: 100%; width: 100%; overflow: hidden; position: absolute; margin: 0; padding: 0;}#player {width: 100%; height: 100%;}h1 {text-align: center; color: #fff;}h3 {margin-top: 6px; margin-bottom: 3px;}.player-unavailable {position: absolute; top: 0;[...]
