---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/contributors?anon=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1462456819'
      Etag:
      - W/"a8e553b72ce0c3e8611e87e6c8c3bbed"
      Last-Modified:
      - Mon, 25 Jan 2016 08:13:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"winnieau","id":12464809,"avatar_url":"https://avatars.githubusercontent.com/u/12464809?v=3","gravatar_id":"","url":"https://api.github.com/users/winnieau","html_url":"https://github.com/winnieau","followers_url":"https://api.github.com/users/winnieau/followers","following_url":"https://api.github.com/users/winnieau/following{/other_user}","gists_url":"https://api.github.com/users/winnieau/gists{/gist_id}","starred_url":"https://api.github.com/users/winnieau/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/winnieau/subscriptions","organizations_url":"https://api.github.com/users/winnieau/orgs","repos_url":"https://api.github.com/users/winnieau/repos","events_url":"https://api.github.com/users/winnieau/events{/privacy}","received_events_url":"https://api.github.com/users/winnieau/received_events","type":"User","site_admin":false,"contributions":34},{"login":"squarebe","id":9439215,"avatar_url":"https://avatars.githubusercontent.com/u/9439215?v=3","gravatar_id":"","url":"https://api.github.com/users/squarebe","html_url":"https://github.com/squarebe","followers_url":"https://api.github.com/users/squarebe/followers","following_url":"https://api.github.com/users/squarebe/following{/other_user}","gists_url":"https://api.github.com/users/squarebe/gists{/gist_id}","starred_url":"https://api.github.com/users/squarebe/starred{/owner}{/repo}","s[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1462456819'
      Etag:
      - W/"fec0cfa04814bf4daf9c72c60690a58e"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"total":1,"weeks":[{"w":1440288000,"a":0,"d":0,"c":0},{"w":1440892800,"a":0,"d":0,"c":0},{"w":1441497600,"a":0,"d":0,"c":0},{"w":1442102400,"a":0,"d":0,"c":0},{"w":1442707200,"a":650,"d":5,"c":1},{"w":1443312000,"a":0,"d":0,"c":0},{"w":1443916800,"a":0,"d":0,"c":0},{"w":1444521600,"a":0,"d":0,"c":0},{"w":1445126400,"a":0,"d":0,"c":0},{"w":1445731200,"a":0,"d":0,"c":0},{"w":1446336000,"a":0,"d":0,"c":0},{"w":1446940800,"a":0,"d":0,"c":0},{"w":1447545600,"a":0,"d":0,"c":0},{"w":1448150400,"a":0,"d":0,"c":0},{"w":1448755200,"a":0,"d":0,"c":0},{"w":1449360000,"a":0,"d":0,"c":0},{"w":1449964800,"a":0,"d":0,"c":0},{"w":1450569600,"a":0,"d":0,"c":0},{"w":1451174400,"a":0,"d":0,"c":0},{"w":1451779200,"a":0,"d":0,"c":0},{"w":1452384000,"a":0,"d":0,"c":0},{"w":1452988800,"a":0,"d":0,"c":0},{"w":1453593600,"a":0,"d":0,"c":0},{"w":1454198400,"a":0,"d":0,"c":0},{"w":1454803200,"a":0,"d":0,"c":0},{"w":1455408000,"a":0,"d":0,"c":0},{"w":1456012800,"a":0,"d":0,"c":0},{"w":1456617600,"a":0,"d":0,"c":0},{"w":1457222400,"a":0,"d":0,"c":0},{"w":1457827200,"a":0,"d":0,"c":0},{"w":1458432000,"a":0,"d":0,"c":0},{"w":1459036800,"a":0,"d":0,"c":0},{"w":1459641600,"a":0,"d":0,"c":0},{"w":1460246400,"a":0,"d":0,"c":0},{"w":1460851200,"a":0,"d":0,"c":0},{"w":1461456000,"a":0,"d":0,"c":0},{"w":1462060800,"a":0,"d":0,"c":0}],"author":{"login":"RichardCharman","id":12716756,"avatar_url":"https://avatars.githubusercontent.com/u/12716756?v=3","gravatar_id":"","url":"https://api.github.com/users/RichardCharman","html_url":"https://github.com/RichardCharman","followers_url":"https://api.github.com/users/RichardCharman/followers","following_url":"https://api.github.com/users/RichardCharman/following{/other_user}","gists_url":"https://api.github.com/users/RichardCharman/gists{/gist_id}","starred_url":"https://api.github.com/users/R[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/contributors?anon=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1462456[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/contributors?anon=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '23'
      X-Ratelimit-Reset:
      - '14624[...]
