---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/contributors?anon=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1462456819'
      Etag:
      - W/"a8e553b72ce0c3e8611e87e6c8c3bbed"
      Last-Modified:
      - Mon, 25 Jan 2016 08:13:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"winnieau","id":12464809,"avatar_url":"https://avatars.githubusercontent.com/u/12464809?v=3","gravatar_id":"","url":"https://api.github.com/users/winnieau","html_url":"https://github.com/winnieau","followers_url":"https://api.github.com/users/winnieau/followers","following_url":"https://api.github.com/users/winnieau/following{/other_user}","gists_url":"https://api.github.com/users/winnieau/gists{/gist_id}","starred_url":"https://api.github.com/users/winnieau/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/winnieau/subscriptions","organizations_url":"https://api.github.com/users/winnieau/orgs","repos_url":"https://api.github.com/users/winnieau/repos","events_url":"https://api.github.com/users/winnieau/events{/privacy}","received_events_url":"https://api.github.com/users/winnieau/received_events","type":"User","site_admin":false,"contributions":34},{"login":"squarebe","id":9439215,"avatar_url":"https://avatars.githubusercontent.com/u/9439215?v=3","gravatar_id":"","url":"https://api.github.com/users/squarebe","html_url":"https://github.com/squarebe","followers_url":"https://api.github.com/users/squarebe/followers","following_url":"https://api.github.com/users/squarebe/following{/other_user}","gists_url":"https://api.github.com/users/squarebe/gists{/gist_id}","starred_url":"https://api.github.com/users/squarebe/starred{/owner}{/repo}","s[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1462456819'
      Etag:
      - W/"fec0cfa04814bf4daf9c72c60690a58e"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"total":1,"weeks":[{"w":1440288000,"a":0,"d":0,"c":0},{"w":1440892800,"a":0,"d":0,"c":0},{"w":1441497600,"a":0,"d":0,"c":0},{"w":1442102400,"a":0,"d":0,"c":0},{"w":1442707200,"a":650,"d":5,"c":1},{"w":1443312000,"a":0,"d":0,"c":0},{"w":1443916800,"a":0,"d":0,"c":0},{"w":1444521600,"a":0,"d":0,"c":0},{"w":1445126400,"a":0,"d":0,"c":0},{"w":1445731200,"a":0,"d":0,"c":0},{"w":1446336000,"a":0,"d":0,"c":0},{"w":1446940800,"a":0,"d":0,"c":0},{"w":1447545600,"a":0,"d":0,"c":0},{"w":1448150400,"a":0,"d":0,"c":0},{"w":1448755200,"a":0,"d":0,"c":0},{"w":1449360000,"a":0,"d":0,"c":0},{"w":1449964800,"a":0,"d":0,"c":0},{"w":1450569600,"a":0,"d":0,"c":0},{"w":1451174400,"a":0,"d":0,"c":0},{"w":1451779200,"a":0,"d":0,"c":0},{"w":1452384000,"a":0,"d":0,"c":0},{"w":1452988800,"a":0,"d":0,"c":0},{"w":1453593600,"a":0,"d":0,"c":0},{"w":1454198400,"a":0,"d":0,"c":0},{"w":1454803200,"a":0,"d":0,"c":0},{"w":1455408000,"a":0,"d":0,"c":0},{"w":1456012800,"a":0,"d":0,"c":0},{"w":1456617600,"a":0,"d":0,"c":0},{"w":1457222400,"a":0,"d":0,"c":0},{"w":1457827200,"a":0,"d":0,"c":0},{"w":1458432000,"a":0,"d":0,"c":0},{"w":1459036800,"a":0,"d":0,"c":0},{"w":1459641600,"a":0,"d":0,"c":0},{"w":1460246400,"a":0,"d":0,"c":0},{"w":1460851200,"a":0,"d":0,"c":0},{"w":1461456000,"a":0,"d":0,"c":0},{"w":1462060800,"a":0,"d":0,"c":0}],"author":{"login":"RichardCharman","id":12716756,"avatar_url":"https://avatars.githubusercontent.com/u/12716756?v=3","gravatar_id":"","url":"https://api.github.com/users/RichardCharman","html_url":"https://github.com/RichardCharman","followers_url":"https://api.github.com/users/RichardCharman/followers","following_url":"https://api.github.com/users/RichardCharman/following{/other_user}","gists_url":"https://api.github.com/users/RichardCharman/gists{/gist_id}","starred_url":"https://api.github.com/users/R[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/contributors?anon=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1462456[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/contributors?anon=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '23'
      X-Ratelimit-Reset:
      - '14624[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1484907807'
      Etag:
      - W/"170ba32e9a1180a44a6b66b5412006e8"
      Last-Modified:
      - Mon, 25 Jan 2016 08:13:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":41289508,"name":"WebSiteTwo","full_name":"AgileVentures/WebSiteTwo","owner":{"login":"AgileVentures","id":5116968,"avatar_url":"https://avatars.githubusercontent.com/u/5116968?v=3","gravatar_id":"","url":"https://api.github.com/users/AgileVentures","html_url":"https://github.com/AgileVentures","followers_url":"https://api.github.com/users/AgileVentures/followers","following_url":"https://api.github.com/users/AgileVentures/following{/other_user}","gists_url":"https://api.github.com/users/AgileVentures/gists{/gist_id}","starred_url":"https://api.github.com/users/AgileVentures/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AgileVentures/subscriptions","organizations_url":"https://api.github.com/users/AgileVentures/orgs","repos_url":"https://api.github.com/users/AgileVentures/repos","events_url":"https://api.github.com/users/AgileVentures/events{/privacy}","received_events_url":"https://api.github.com/users/AgileVentures/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/AgileVentures/WebSiteTwo","description":"For
        considering AgileVentures Future Directions","fork":false,"url":"https://api.github.com/repos/AgileVentures/WebSiteTwo","forks_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/forks","keys_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/teams","hooks_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/hooks","issue_events_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/issues/events{/number}","events_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/events","assignees_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/assignees{/user}","branches_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/branches{/branch}","tags_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/tags","blobs_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/refs{/sha}","trees_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/statuses/{sha}","languages_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/languages","stargazers_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/stargazers","contributors_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/contributors","subscribers_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/subscribers","subscription_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/subscription","commits_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/commits{/sha}","git_commits_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/commits{/sha}","comments_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/comments{/number}","issue_comment_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/issues/comments{/number}","contents_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/contents/{+path}","compare_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/merges","archive_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/downloads","issues_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/issues{/number}","pulls_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/pulls{/number}","milestones_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/milestones{/number}","notifications_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/labels{/name}","releases_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/releases{/id}","deployments_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/deployments","created_at":"2015-08-24T07:46:05Z","updated_at":"2016-01-25T08:13:15Z","pushed_at":"2016-05-05T14:09:50Z","git_url":"git://github.com/AgileVentures/WebSiteTwo.git","ssh_url":"git@github.com:AgileVentures/WebSiteTwo.git","clone_url":"https://github.com/AgileVentures/WebSiteTwo.git","svn_url":"https://github.com/AgileVentures/WebSiteTwo","homepage":null,"size":9925,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":4,"mirror_url":null,"open_issues_count":8,"forks":4,"open_issues":8,"watchers":2,"default_branch":"master","organization":{"login":"AgileVentures","id":5116968,"avatar_url":"https://avatars.githubusercontent.com/u/5116968?v=3","gravatar_id":"","url":"https://api.github.com/users/AgileVentures","html_url":"https://github.com/AgileVentures","followers_url":"https://api.github.com/users/AgileVentures/followers","following_url":"https://api.github.com/users/AgileVentures/following{/other_user}","gists_url":"https://api.github.com/users/AgileVentures/gists{/gist_id}","starred_url":"https://api.github.com/users/AgileVentures/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AgileVentures/subscriptions","organizations_url":"https://api.github.com/users/AgileVentures/orgs","repos_url":"https://api.github.com/users/AgileVentures/repos","events_url":"https://api.github.com/users/AgileVentures/events{/privacy}","received_events_url":"https://api.github.com/users/AgileVentures/received_events","type":"Organization","site_admin":false},"network_count":4,"subscribers_count":9}'
  recorded_at: Fri, 20 Jan 2017 09:23:27 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1484907807'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1484907807'
      Etag:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/contributors?anon=1&client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Lim[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/stats/contributors?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/contributors?anon=1&client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Lim[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/stats/contributors?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5[...]
