---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/contributors?anon=1&client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"a061a004c9ca06949ec4f1560d96fdcf"
      Last-Modified:
      - Mon, 25 Jan 2016 08:13:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"winnieau","id":12464809,"node_id":"MDQ6VXNlcjEyNDY0ODA5","avatar_url":"https://avatars2.githubusercontent.com/u/12464809?v=4","gravatar_id":"","url":"https://api.github.com/users/winnieau","html_url":"https://github.com/winnieau","followers_url":"https://api.github.com/users/winnieau/followers","following_url":"https://api.github.com/users/winnieau/following{/other_user}","gists_url":"https://api.github.com/users/winnieau/gists{/gist_id}","starred_url":"https://api.github.com/users/winnieau/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/winnieau/subscriptions","organizations_url":"https://api.github.com/users/winnieau/orgs","repos_url":"https://api.github.com/users/winnieau/repos","events_url":"https://api.github.com/users/winnieau/events{/privacy}","received_events_url":"https://api.github.com/users/winnieau/received_events","type":"User","site_admin":false,"contributions":34},{"login":"squarebe","id":9439215,"node_id":"MDQ6VXNlcjk0MzkyMTU=","avatar_url":"https://avatars2.githubusercontent.com/u/9439215?v=4","gravatar_id":"","url":"https://api.github.com/users/squarebe","html_url":"https://github.com/squarebe","followers_url":"https://api.github.com/users/squarebe/followers","following_url":"https://api.github.com/users/squarebe/following{/other_user}","gists_url":"https://api.github.com/users/squarebe/gists{/gist_id}","starred_url":"https://api.github.com/users/s[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo/stats/contributors?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1539726507'
      Etag:
      - W/"8e0e7bc0eca8ed758bb6e94249578d53"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"total":1,"weeks":[{"w":1440288000,"a":0,"d":0,"c":0},{"w":1440892800,"a":0,"d":0,"c":0},{"w":1441497600,"a":0,"d":0,"c":0},{"w":1442102400,"a":0,"d":0,"c":0},{"w":1442707200,"a":650,"d":5,"c":1},{"w":1443312000,"a":0,"d":0,"c":0},{"w":1443916800,"a":0,"d":0,"c":0},{"w":1444521600,"a":0,"d":0,"c":0},{"w":1445126400,"a":0,"d":0,"c":0},{"w":1445731200,"a":0,"d":0,"c":0},{"w":1446336000,"a":0,"d":0,"c":0},{"w":1446940800,"a":0,"d":0,"c":0},{"w":1447545600,"a":0,"d":0,"c":0},{"w":1448150400,"a":0,"d":0,"c":0},{"w":14[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/contributors?anon=1&client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/stats/contributors?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelim[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/contributors?anon=1&client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport/stats/contributors?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratel[...]
