---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/embed/12341234111?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><meta name="viewport" content="width=device-width, initial-scale=1"><style name="www-roboto" >@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf)format('truetype');}</style><script name="www-roboto" >if (document.fonts && document.fonts.load) {document.fonts.load("400 10pt Roboto", "");document.fonts.load("500 10pt Roboto", "");}</script>  <link rel="stylesheet" href="/yts/cssbin/www-player-vflgAo4Qu.css" name="www-player">
        <style>html {overflow: hidden;          }body {font: 12px Roboto, Arial, sans-serif;background-color: #000;color: #fff;height: 100%;width: 100%;overflow: hidden;position: absolute;margin: 0;padding: 0;}#player {width: 100%;height: 100%;}h1 {text-align: center;color: #fff;}.hid {display: none;}h3 {margin-top: 6px;margin-bottom: 3px;}.player-unavailable {position: absolute;top: 0;left: 0;right: 0;bottom: 0;padd[...]
- request:
    method: get
    uri: https://www.youtube.com/api/stats/qoe?bh=0.000:0.000&c=WEB_EMBEDDED_PLAYER&cbr=Safari&cl=212852013&cmt=0.000:0.000,0.000:0.000&cplayer=UNIPLAYER&cpn=NefTo2OU4SnUpcXh&cver=20180913&docid=12341234111&ei=xmehW4HUCceixATz0rZ4&el=embedded&error=0.000:html5.missingapi:0.000:nocodecs.1&event=streamingstats&fexp=23710476,23712936,23720702,23721698,23721898,23726562,23733751,23741521,23744176,23749835,23751767,23752869,23753284,23753597,23755781,23755886,23758606,23758813,23759694,23760403,23760500,23760605,23762342,23762813,23763126,23763475,23764470,23764670,23764831,23764996,23765016,23765253,23765261,23765549,23766104,9424416,9439831,9449243,9466594,9474460,9485000,9488572&ns=yt&seq=1&vis=0.000:0&vps=0.000:N,0.000:ER
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Feb 2014 07:01:06 GMT
recorded_with: VCR 4.0.0
