<p>Agile Ventures is a non-profit organization dedicated to crowdsourced learning and project development. We follow
  the agile approach to software development (see below), and do so online everyday using remote pair programming
  technologies such as google hangouts. Anyone at any skill level can participate or simply observe in the remote
  pair programming sessions and planning meetings as we develop solutions for real customers in the non-profit
  sector. There are no minimum requirements, simply an interest to learn. Feel free to join any of the sessions
  listed below to say hello and hear about what's going on :-)</p>
<h2>Schedule</h2>
<h3> <a href="https://plus.google.com/communities/100279740984094902927/events">Weekly Team Meeting (all welcome!)</a></h3>
<ul>
  <li>Every Monday on Google Hangouts at 15.15 - 16.00 UTC (GMT).</li>
</ul>
<h3><a href="https://plus.google.com/communities/100279740984094902927/events">Daily Scrums (Mon-Fri + occasionally Sat/Sun - all welcome!)</a></h3>
<ul>
  <li>Every Day on Google Hangouts at 07:00 - 07:15 UTC(GMT) (EuroAsiaScrum)</li>
  <li>Every Day on Google Hangouts at 10:00 - 10:15 UTC(GMT) (EuroScrum)</li>
  <li>Every Day on Google Hangouts at 15:15 - 15:30 UTC (GMT) (AtlanticScrum)</li>
  <li>Every Day on Google Hangouts at 19:00 - 19:15 UTC (GMT) (USScrum)</li>
</ul>
<p>If you have any trouble accessing any of the above through Google events, please don't hesitate to contact Sam
  Joseph on Skype (username 'tansaku') or send an email to
  <a href="mailto: info@agileventures.org">info@agileventures.org</a></p>
<h2>History of Agile Ventures</h2>
<p>Back in the mysts of 2011 a new breed of <strong>Massively Open Online Classes</strong> emerged. Elite
  universities made some
  Computer Science courses available for free with automatic grading of code assignments and certificates for
  completion. In 2012 UC Berkeley's Software as a Service was the first of these MOOCs focused on modern software
  engineering. Only the first half of the course was released, but there were tantalizing mentions of group
  projects. The second half of the course was first released to the public in fall 2012, however the project
  component was missing. The face to face UC Berkeley students built solutions for non-profit organizations with the
  skills they were learning in the course. Not so in the MOOC. </p>
<p>One MOOC student, Computer Science Professor Sam Joseph spearheaded the MOOC student community to run their own
  unofficial projects. This was initially organized viaSkype group text chats and the course wiki. Then a Google
  site called "SaaSELLS projects" was born. All through 2013 the process and members evolved. The "LocalSupport"
  project was deployed, improved, and started to be noticed. The domain "agileprojects.org" was not available, but
  "agileventures.org" was, and so Agile Ventures was born.</p>
<h2>Go Agile!</h2>
<p><strong>Agile software development</strong> is a group of software development methods based on iterative and
  incremental
  development, where requirements and solutions evolve through collaboration between self-organizing,
  cross-functional teams. It promotes adaptive planning, evolutionary development &amp; delivery, a time-boxed
  iterative approach, and encourages rapid &amp; flexible response to change. It is a conceptual framework that
  promotes tight interaction with the customer throughout the development cycle. We believe that learning is most
  effective when it takes place with the support of a group of like minded learners devoted to making the world a
  better place.</p>

<p>In February 2001, 17 software developers met at the Snowbird, Utah resort, to discuss lightweight development
  methods. They published the Manifesto for Agile Software Development to define the approach now known as Agile
  Software Development. Some of the manifesto's authors formed the
  <a href="http://www.agilealliance.org/">Agile Alliance</a>, a non-profit organization that
  promotes software development according to the manifesto's values and principles. </p>
<h2>The Agile Manifesto</h2>
We are uncovering better ways of developing software by doing it and helping others do it.
<br/>Through this work we have come to value:
<ul>
  <li>Individuals and interactions over Processes and tools</li>
  <li>Working software over Comprehensive documentation</li>
  <li>Customer collaboration over Contract negotiation</li>
  <li>Responding to change over Following a plan</li>
  <li>That is, while there is value in the items on the right, we value the items on the left more.</li>
</ul>

<h2>Agile principles</h2>

<p>The Agile Manifesto is based on twelve principles:</p>
<ol>
  <li>Customer satisfaction by rapid delivery of useful software</li>
  <li>Welcome changing requirements, even late in development</li>
  <li>Working software is delivered frequently (weeks rather than months)</li>
  <li>Working software is the principal measure of progress</li>
  <li>Sustainable development, able to maintain a constant pace</li>
  <li>Close, daily cooperation between business people and developers</li>
  <li>Face-to-face conversation is the best form of communication (co-location)</li>
  <li>Projects are built around motivated individuals, who should be trusted</li>
  <li>Continuous attention to technical excellence and good design</li>
  <li>Simplicity—the art of maximizing the amount of work not done—is essential</li>
  <li>Self-organizing teams</li>
  <li>Regular adaptation to changing circumstances</li>
</ol>




