<div>
  <div>Basic Structure of a University CS Degree:</div>
  <div>*Modeled after UC Berkeley, UCSB, MIT, Harvard)</div>
  <div>**Not including Math, GE, or EE requirements</div>
</div>
<div><br>
</div>
<div><b>Note regarding EdX courses, EdX does not provide a link to the general classes, but rather specific instances of a class, so re-search EdX to get the upcoming versions of the class</b></div>
<div><br>
</div>
<div>Lower Division:<a href="https://www.coursera.org/course/comparch"></a></div>
<div>
  <ul><li><span style="line-height:1.6;font-size:10pt">Intro to CS</span></li>
    <ul><li><span style="line-height:1.6;font-size:10pt">eDx:<br>
</span></li>
      <ul><li><span style="line-height:1.6;font-size:10pt"><a href="https://www.edx.org/courses/MITx/6.00x/2013_Spring/about">Introduction to Computer Science and Programming</a></span></li></ul>
      <li>Coursera:&nbsp;</li>
      <ul><li><a href="https://www.coursera.org/course/interactivepython">An Introduction to Interactive Programming in Python</a></li>
        <li><a href="https://www.coursera.org/course/programming1">Learn to Program: The Fundamentals</a></li>
        <li><a href="https://www.coursera.org/course/cs101">Computer Science 101</a></li></ul></ul>
    <li><span style="line-height:1.6;font-size:10pt">Data Structures</span></li>
    <li><span style="line-height:1.6;font-size:10pt">Structure of Computer Programs</span></li>
    <li><span style="line-height:1.6;font-size:10pt">Algorithms</span></li>
    <ul><li><span style="line-height:1.6;font-size:10pt"><a href="https://www.coursera.org/course/algs4partI">Algorithms, Part I</a></span></li>
      <li><span style="line-height:1.6;font-size:10pt"><a href="https://www.coursera.org/course/algs4partII">Algorithms, Part II</a><br>
</span></li></ul></ul>
  <div>
    <div>Upper Division:</div>
    <div>
      <ul><li><span style="line-height:1.6;font-size:10pt">Algorithms</span></li>
        <ul><li><a href="https://www.coursera.org/course/algo">Algorithms: Design and Analysis, Part 1</a></li>
          <li><a href="https://www.coursera.org/course/algo2">Algorithms: Design and Analysis, Part 2</a><br>
          </li></ul>
        <li><span style="line-height:1.6;font-size:10pt">Computer Architecture</span></li>
        <ul><li><a href="https://www.coursera.org/course/comparch">Computer Architecture</a></li>
          <li><a href="https://www.coursera.org/course/hwswinterface">The Hardware/Software Interface</a><br>
          </li></ul>
        <li><span style="line-height:1.6;font-size:10pt">Systems Engineering</span></li>
        <li><span style="line-height:1.6;font-size:10pt">UI/UX</span></li>
        <li><span style="line-height:1.6;font-size:10pt">Security</span></li>
        <ul><li><a href="https://www.coursera.org/course/crypto">https://www.coursera.org/course/crypto</a></li>
          <li><a href="https://www.coursera.org/course/security">https://www.coursera.org/course/security</a></li></ul>
        <li><span style="line-height:1.6;font-size:10pt">Operating Systems</span></li>
        <li><span style="line-height:1.6;font-size:10pt">Languages (&amp; Compilers)</span></li>
        <ul><li><a href="https://www.coursera.org/course/proglang">https://www.coursera.org/course/proglang</a></li>
          <li><a href="https://www.coursera.org/course/automata">https://www.coursera.org/course/automata</a></li>
          <li><a href="https://www.coursera.org/course/compilers">https://www.coursera.org/course/compilers</a></li></ul>
        <li><span style="line-height:1.6;font-size:10pt">Software Engineering</span></li>
        <ul><li><span style="font-size:10pt;line-height:1.6">SaaS 1: &nbsp;</span><a href="https://www.edx.org/courses/BerkeleyX/CS169.1x/2013_Spring/about">https://www.edx.org/courses/BerkeleyX/CS169.1x/2013_Spring/about</a></li>
          <li><span style="font-size:10pt;line-height:1.6">SaaS 2: &nbsp;</span><a href="https://www.edx.org/courses/BerkeleyX/CS169.2x/2013_Spring/about">https://www.edx.org/courses/BerkeleyX/CS169.2x/2013_Spring/about</a></li></ul>
        <li><span style="line-height:1.6;font-size:10pt">Computer Graphics</span></li>
        <ul><li><a href="https://www.edx.org/courses/BerkeleyX/CS184.1x/2012_Fall/about">https://www.edx.org/courses/BerkeleyX/CS184.1x/2012_Fall/about</a></li></ul>
        <li><span style="line-height:1.6;font-size:10pt">Databases</span></li>
        <li><span style="line-height:1.6;font-size:10pt">AI</span></li>
        <ul><li><a href="https://www.edx.org/courses/BerkeleyX/CS188.1x/2013_Spring/about">https://www.edx.org/courses/BerkeleyX/CS188.1x/2013_Spring/about</a></li></ul></ul>
    </div>
  </div>
</div>
<div><br>
</div>
<div><br>
</div>
<div><br>
</div>
<div><br>
</div>
<div><br>
</div>
