<div>Agile Ventures Free Tier Membership gives the following benefits</div><br>
<ul>
  <li>Access to AgileVentures Slack</li>
  <li>Access to AgileVentures Scrum meetings</li>
  <li>Project logistics advice and support</li>
  <li>User experience review of project (HCI)</li>
</ul><br>
<div class="text-center">
  <span class="btn btn-primary btn-block" style="padding: 5px; width: 50%; border-color: rgb(238, 115, 53); background: rgb(238, 115, 53); display: inline-block; font-size: 1.5em; white-space: normal;"><a href="http://www.agileventures.org/users/sign_up"><b><font color="#ffffff">Get Started now</font></b></a></span>
</div><br>
<div>Plan Pricing <a href="http://www.agileventures.org/pricing">Overview</a></div>
<h3>Details of Plan Benefits:</h3><br>
<div><b>Access to AgileVentures Slack</b></div><br>
<div>
  AgileVentures uses the <a href="https://slack.com/">Slack</a> instant messaging service to support the coordination of all activities. Join hundreds of other AgileVentures developers and browse the different project channels and project notification channels integrated with <a href="https://travis-ci.org/">Travis</a>, <a href="https://semaphoreci.com/">Semaphore</a> and <a href="https://github.com/">Github</a>, to take the pulse of real Agile projects.
</div><br>
<div><b>Access to AgileVentures Scrum meetings</b></div><br>
<div>
  AgileVentures runs open scrum meetings around the clock so you can hear about the latest developments on projects, propose new projects and hook up with potential pair partners.
</div><br>
<div><b>Project logistics advice and support</b></div><br>
<div>
  <p>AgileVentures mission is to develop quality software for charities and other non-profits whilst also supporting the learning and development of individuals wishing to improve their teamwork and coding skills. AgileVentures software projects are all open source and open development.</p>
  <p>Any project can become an AgileVentures project given that it meets the following criteria:</p>
  <ul>
    <li>Open Source</li>
    <li>Open Development</li>
    <li>Charitable Objective (as assessed by board of Trustees)</li>
  </ul>
  <p>AV mentors will be very happy to draw on their many years of experience working on and supporting open source charity software projects. Ask in the #new_projects channel on Slack about setting up your new project, or in #project_support for additional help on your existing project.</p>
</div><br>
<div><b>User experience review of project (HCI)</b></div><br>
<div>
  Senior AV mentors will be happy to provide a complete user experience (UX) review of your project. See <a href="https://www.youtube.com/watch?v=9c1-LMlyaVc">this video</a> for an example of the kind of review you can receive. In order to receive your UX review you will need to provide appropriate user story documentation.
</div><br>
<div>
  <a href="http://www.agileventures.org/users/sign_up">Sign up for the Free Tier</a>
</div><br>
<div>
  Want even more benefits including scheduled pair programming time with senior AV mentors? Check out our <a href="http://www.agileventures.org/charges/new" style="background-color: rgb(248, 248, 248);">Premium</a> and<span style="line-height: 1.4em;"> </span><a href="http://www.agileventures.org/premiumplus" style="background-color: rgb(248, 248, 248);">Premium Plus memberships</a>.
</div>