<%= provide :title, 'Getting Started' %>

<div class="container">
  <h1>Getting Started</h1>
  Not sure how to get started? Have no fear, follow one of these links to learn more:
  <ul>
    <li><%= link_to 'Remote Pair Programming', page_path('remote-pair-programming') %></li>
    <li><%= link_to 'Guides', page_path('guides') %></li>
  </ul>
</div>
