<article>
<p>
  Below is fast track guide to getting involved with AgileVentures.  It contains a summary of the information otherwise available in expanded format 
  from various documents on <a>agileventures.org</a> and Github repos for particular projects.
</p>

<h2> What is AgileVentures?  </h2>
<p>
  AgileVentures is a non-profit organization and a community of people dedicated to crowdsourced learning and open source project development.  We are 
  fans of agile development, Test driven development and Pair Programming.  We develop in distributed teams, using tools for remote and online programming.
</p>

<p>
  The goal of AgileVentures is to allow anyone to be able to find a project, a team and a partner to work together and improve 
  their skills of software development, programming and project management.
</p>
<br />
<strong> Read more about AgileVentures: </strong>
 
<ul>
  <li><a href="http://agileventures.org/about-us"> About us and history of AV </a></li>
  <li><a href="http://agileventures.org/projects/websiteone/documents/mission-values-and-goals"> Mission, Values and Goals </a></li>
  <li><a href="http://agileventures.org/articles/crowdsourced-learning"> Crowdsourced Learning </a></li>
  <li><a href="http://agileventures.org/articles/testimonials"> Testimonials </a></li>
</ul>

<h2> What exactly can I get out of participating  in AV?  </h2>

<em> Learn and gain experience </em>
<ol>
  <li>Participate in a real project, collaborate in a real team and work with real customers </li>
  <li>Learn to program, manage a project and manage a team </li>
  <li>Learn the industry tools for software development and project management </li>
  <li>Get immediate help and guidance on technical issues </li>
  <li>Get feedback on your work and ideas </li>
</ol>

<em> Realize yourself </em>
<ol>
  <li>Set up and run your own project </li>
  <li>Implement your ideas with the help of others </li>
  <li>Get recognition from the community </li>
  <li>Improve your leadership and management skills </li>
</ol>

<em> As a bonus </em>
<ol>
  <li>Get hired </li>
  <li>Just have fun, meet new people from all over the world and socialize </li>
</ol>

<h2> How do I start?  </h2>
<h3> Step 1 </h3>
<p>
  Browse the list of AgileVentures projects on WebsiteOne and choose one that most appeals to you.
</p>

<p>
  You can always set-up your own project, but we would recommend joining an existing one at first.  This 
  way you can meet other members, learn about our culture, principles and tools.
</p>

<p>
  The description of the projects is done by its members and it may be in progress and incomplete, thus 
  below we provide a short overview of most active projects at this moment.
</p>
<br />
<details>
  <summary>
  1. WebsiteOne - <a href="http://agileventures.org/projects/websiteone">http://agileventures.org/projects/websiteone </a>
  </summary>
  <dl>
    <dt> Description </dt>
    <dd> This is the online platform for AgileVentures and is behind the agileventures.org.  The mission 
      of the project is to provide a place where members of our community meets, communicates, shares knowledge and collaborates on projects.  </dd>

    <dt>Technical</dt> 
    <dd>Ruby 2.1, Rails 4.1, Javascript, Bootstrap 3 </dd>  
    <dt> Customer </dt>
    <dd> Sam Joseph, the founder of AgileVentures </dd>
    <dt> Core members </dt>
    <dd> Thomas Ochman, Bryan Yap, Yaroslav Apletov, Sampriti </dd>
  </dl>

  <p>
    Although, formally we have a customer for the project, the vision, goals and individual features are 
    formed by all members of the community.  Thus, everybody is welcome to provide feedback and suggest his ideas to be implemented within WSO.
  </p>

  <p>
    Technically, this project is already quite advanced, but we always keep tasks for newcomers, which 
    allows for a moderate learning curve and quick move towards more advanced work.
  </p>
</details>

<details>
  <summary>
  2. Local support - <a href="http://agileventures.org/projects/localsupport ">http://agileventures.org/projects/localsupport </a>
  </summary>
  <dl>
    <dt> Description </dt>
    <dd>Local Support is a directory of local charity and non-profit organizations for a small geographical area.
      The mission is to support members of the public searching for support groups for things like helping care for 
      an elderly or sick relative; and also to help charities and non-profits find each other and network. 
      VAH's Local Support site is at www.harrowcn.org.uk
    </dd>

    <dt>Technical</dt> 
    <dd>Ruby 1.9, Rails 3 </dd>  
    <dt> Customer </dt>
    <dd>Our customer is the non-profit organization Voluntary Action Harrow (VAH).  </dd>
    <dt> Core members </dt>
    <dd>Sam Joseph, Jon Mohrbacher, Marian Mosley, Michael C, Thomas Ochman, David Corking </dd>
  </dl>


  <p>
    The project is the oldest on AgileVentures.  What's important it has a real non-technical customer, 
    client meetings with whom are held weekly.
  </p>
</details>

<details>
  <summary>
  3. Autograder - <a href="http://agileventures.org/projects/autograder ">http://agileventures.org/projects/autograder </a>
  </summary>
  <dl>
    <dt> Description </dt>
    <dd>AutoGraders is a project to provide a platform for automation of creating, testing, grading and providing feedback on 
      programming assignments for students engaged in various programming courses.  </dd>

    <dt>Technical</dt> 
    <dd>Ruby 1.9
    </dd>  
    <dt> Customer </dt>
    <dd>Armando Fox and other University Instructors </dd>
    <dt> Core members </dt>
    <dd>Paul McCuloch, Sam Joseph </dd>
  </dl>
</details>


<details>
  <summary>
  4. Codelia Lulu - <a href="http://agileventures.org/projects/lulu-codealia ">http://agileventures.org/projects/lulu-codealia </a>
  </summary>
  <dl>
    <dt> Description </dt>
    <dd>Codealia.org is a web based application that aims to help children to learn the fundamentals of software engineering.
      Goals -  give young children who express an interest in computers a head start in understanding what they can 
      do and how they work. Get more women involved in information technology by encouraging girls to discover the 
      creative possibilities of a career in engineering.
    </dd>

    <dt>Technical</dt> 
    <dd>Ruby 2.1, Rails 4.1, AngularJS </dd>  
    <dt> Customer </dt>
    <dd>Luchinda, Mohammed </dd>
    <dt> Core members </dt>
    <dd>Pete Boucher, Bryan Yap, Thomas Ochman </dd>
  </dl>
</details>

<h3> Step 2 </h3>
<p>
  Create a profile on WebsiteOne Sign up page and although it is optional, please consider filling out 
  your profile, so that other members can get to know you.
</p>

<h3> Step 3 </h3>
<p>
  Learn how we communicate and coordinate projects
(the link to resources is on the project's page on WSO)
</p>

<ul>
  <li> source code is kept in Github repos </li>
  <li> user stories (feature descriptions) are kept in project's pivotal tracker </li>
  <li> documents and detailed feature descriptions are kept in project's section on WSO </li>
  <li> real time discussion are done in Slack channels, in specific channel for the project </li>
  <li> long-term discussions (where it is important to preserve history) are done by 
  commenting under specific documents in project's section on WSO (all comments get posted to project's slack channel automatically) </li>
  <li> recordings of PairProgramming sessions and scrums are stored on YouTube.  The list of videos for a specific project is under project's section on WSO </li>
  <li> technical information on the project is kept in documents under project's section on WSO </li>
  <li> general information articles, not specific to a particular project is kept in articles on WSO - <a href="http://agileventures.org/articles">http://agileventures.org/articles</a> </li>
  <li> PairProgramming is done with Google Hangouts and (optionally) tmux/tmate </li>
  <li> pull requests are done through GitHub repos </li>
  <li> code review is done by commenting on PR on GitHub repo </li>
</ul>

<p>
  Detailed instructions on project workflow for WebsiteOne:
</p>
<p> <a href="http://agileventures.org/projects/websiteone/documents/project-coordination-outline"> http://agileventures.org/projects/websiteone/documents/project-coordination-outline </a> </p>

<h3> Step 4 </h3>
<p> Setup accounts for GitHub and Google+.  </p>

<p>
  Ask for invitation to Slack by sending an email to <a href="mailto:info@agileventures.org?Subject=Invitation%20to%20Slack" target="_top">
    info@agileventures.org</a>.
</p>
<p>
  Join the slack channels - #general, #techtalk, #scrum_notifications, #pairing_notifications and the project's channel, e.g. #websiteone, #localsupport.
</p>

<h3> Step 5 </h3>
<p>
  Set up development environment
</p>
<p>
  Each project should have a detailed instruction or even a script, or even a prepared VirtualBox image 
  prepared for you.
</p>
<p>
  Look under documents in project's section on WSO.
</p>

<p>
  If you get stuck - ask questions on slack channel, ask people to join you in a PP (PairProgramming) 
  session and guide you or comment on the setup document on WSO (this way, we will not forget about the encountered problem and add the solution to the document)
</p>

<p> Setup instructions for WebsiteOne: </p>
<p> <a href=" http://agileventures.org/projects/websiteone/documents/project-setup-new-users "> http://agileventures.org/projects/websiteone/documents/project-setup-new-users </a> </p>
<p> <a href=" http://agileventures.org/projects/websiteone/documents/development-environment-setup "> http://agileventures.org/projects/websiteone/documents/development-environment-setup </a> </p>

<h3> Step 6 </h3>

<p>
  Have a closer look at your chosen project's Mission, Vision and Goals.  This way you will get an idea 
  what the priority for the project is and what features need to be implemented the most.
</p>

<p>
  Browse the Pivotal tracker Current log, Backlog, and Icebox.
</p>

<p>
  If there is an Epic (a group of stories) for newcomers - choose a story you would like to start with, 
  alternatively pick a story from backlog or just ask in Scrum or on Slack if anybody wants to pair on the story they are working on.
</p>

<p>
  Picking a story from Icebox is usually done at the scrum.
</p>

<h3> Step 7 </h3>
<p>
  Join a scrum.  The list of scheduled scrums is here - <a href="http://agileventures.org/events">http://agileventures.org/events </a>
</p>

<p>
  Do not be intimidated - we all came into Scrum for the first time at some point and not many of us 
  speak good English.  Just listen what people are talking about.  Ask questions if you like.
</p>

<p>
  Announce that you would like to work on a chosen story.  You will invited to Pivotal Tracker and appointed 
  as an owner of the story.  From now - you are responsible for updating the other members on its status.
</p>

<h3> Step 8 </h3>

<p>
  Start contributing.
</p>

<p>
  It is ok to work on your own, but we strongly encourage to PairProgram with other members, as that 
  is our passion and we strongly believe that is an efficient way to learn and code.
</p>

<p>
  To setup a PP session - either create and event at <a href="http://agileventures.org/events ">http://agileventures.org/events </a> with a category PairProgramming or click "Start hangout" button at the project's page on WSO.
</p>
<p> An automatic announcement will be made on slack channel #pairing_notifications.  </p>
<p>
  Click 'Start Broadcast' when Hangout loads - this way, the recording will be stored at your YouTube channel 
  and gets listed on project's page on WSO.
</p>


<h3> Step 9 </h3>

<p>
  When you think your story is ready - submit a Pull request.
  There will be a detailed guide on how to do it.  
</p>
<p> For now - just ask any of the older members to guide you through.  </p>

<h3> Step 10 </h3>

<p>
  Be open for feedback.  It is one of the best ways to learn - to get other people to look at your code 
  and suggest better ways of doing something.
</p>

<p>
  Do not be protective about your code, even though you may think it is perfect and beautiful.  
</p>
<p> Be prepared to scrap it - you will write more! We are all here to learn.  </p>
<br />
<h2>
  That  is it!
  Jump in and let the world discover your ideas!
</h2>

<br />
<h3> Also recommended: </h3>
<p>
  Read the coordination guidelines for the projects to learn the specifics of a particular project's 
  workflow communication, roles, preferred practices and etc.
</p>

<p>
  Explore the articles on WebsiteOne <a href="http://agileventures.org/articles">http://agileventures.org/articles</a>  
  Read about <a href="http://agileventures.org/articles/pairprogramming-bdd-tdd">Pair programming and TDD</a> 
</p>
</article>
