<p><strong>So you have found us? Great? We are an online pair programming community and a open source project incubator.</strong>

  Not sure how to get started? Have no fear, follow one of these links to learn more:</p>

<ul>
  <li><a href="/remote-pair-programming">Remote Pair Programming</a></li>
</ul>

<h2>Other stuff that might be interesting:</h2>
<ul>
  <li><a href="/berkeley-fall-2012-projects">Berkeley Fall 2012 Projects</a></li>
  <li><a href="/cs-degree-online">CS Degree Online</a></li>
  <li><a href="/personal-tuition-service">Personal Tuition Service</a></li>
  <li><a href="/saas-ells-screencasts">SaaS ELLS ScreenCasts</a></li>
  <li><a href="/sortable-ells-errata">Sortable ELLS Errata</a></li>
  <li><a href="/ubuntu-bash-help">Ubuntu Bash Help</a></li>
</ul>

<p>Check out our <a href="/articles">articles</a> section</p>

<strong> Weekly Team Meeting (all welcome!)</strong>
<ul>
  <li> Every Monday on Google Hangouts at 15.15 - 16.00 UTC (GMT).</li>
</ul>
<strong> Daily Scrums (all welcome!) </strong>
<ul>
  <li> Every Day on Google Hangouts at 07:00 - 07:15 UTC(GMT) (EuroAsiaScrum)</li>
  <li> Every Day on Google Hangouts at 10:00 - 10:15 UTC(GMT) (EuroScrum)</li>
  <li> Every Day on Google Hangouts at 15:15 - 15:30 UTC (GMT) (AtlanticScrum)</li>
  <li> Every Day on Google Hangouts at 19:00 - 19:15 UTC (GMT) (PacificScrum)</li>
</ul>

<h2>Welcome to AgileVentures!</h2>

