<ul class="box">
  <li>
    <div class="circle">
      <div class="front front-popular">
        <div class="title color-3-font glyphicon glyphicon-tag"></div>
        <div class="price color-3-font"><span class="total">GROW</span></div>
        <div class="description">Use Agile methods</div>
      </div><!-- end div .front -->
      <div class="popular color-3-font glyphicon glyphicon-tag"></div>
      <div class="back color-3-bg info">
        <div class="title">Grow</div>
        <div class="description">
          <p>Build your agile arsenal</p>
          <%= link_to 'Read more..', page_path('remote-pair-programming'), class: 'btn btn-success' %>
        </div><!-- end div .description -->
      </div><!-- end div .back color-3-bg info -->
    </div><!-- end div .circle -->
  </li>
</ul>