<%= provide :title, 'Guides' %>

<div class="container">
  <h1> Guides </h1>

  <ul id='guides-list'>
    <li><%= link_to 'Remote Pair Programming', page_path('remote-pair-programming') %></li>
  </ul>
</div>