<% content_for :title do %>500 Internal Error<% end %>
<% #TODO: refactor this for Bootstrap framework %>
<section id="500">
    <h3>500 Internal Error</h3>
    <p>Something went terribly wrong</p>
</section>