<div class="col-xs-12 col-sm-6 col-md-12">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3">
      <ul class="box">
        <li>
          <div class="circle">
            <div class="front front-popular">
              <div class="title color-1-font glyphicon glyphicon-star"></div>
              <div class="price color-1-font"><span class="total">LEARN</span></div>
              <div class="description">Meet people online</div>
            </div>
            <div class="popular color-1-font glyphicon glyphicon-star"></div>
            <div class="back color-1-bg info">
              <div class="title">Learn</div>
              <div class="description">
                <p>Super charge your learning by collaborating with others</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 ">
      <h2>Voluptatem, exercitationem, suscipit, distinctio</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui
        sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sed tempora expedita reiciendis minima amet et
        accusamus distinctio quod dolores illum molestiae modi sapiente assumenda quis provident quos ex cupiditate ab
        asperiores vel fuga voluptatibus incidunt qui commodi numquam quas nesciunt eos voluptatum soluta magnam ipsam
        veniam sequi tempore cumque fugit autem temporibus corporis dolorem eveniet minus quidem! Quas dolores nihil
        repellat ab deleniti sequi dolorum aliquid hic odio modi eius et aliquam cum. Sequi tempora nam ipsa maxime
        praesentium beatae quidem rerum sint veritatis quia quos nemo ullam mollitia pariatur voluptatem odit reiciendis
        incidunt expedita soluta ad. Nam voluptas cumque illum eos impedit sed officiis possimus incidunt quos aperiam
        tempore a deleniti dolorem accusamus ratione soluta fuga molestiae architecto illo alias consequatur excepturi
        error aut dolores voluptate necessitatibus nisi quaerat ipsum perspiciatis animi repellendus minima ab tenetur
        velit porro iste nulla! Iste esse unde ad sit itaque alias quidem beatae facere mollitia sed expedita officia
        nihil nostrum possimus vero cum velit qui assumenda numquam totam. Placeat facere dolore fuga sequi illo est
        minus corporis aliquid non blanditiis sint repellendus vitae autem distinctio minima. Omnis totam sit inventore
        suscipit maiores deserunt cumque molestias soluta iure nam? Nam quas ipsum repellendus reiciendis distinctio
        libero asperiores architecto deleniti rerum dolor quos ipsa reprehenderit eaque sequi tempora accusamus illo
        iste <p />ratione laboriosam dolores doloribus sint consequatur laborum repudiandae ex! Obcaecati eligendi aperiam
      molestias accusamus unde nesciunt quia optio error magnam ratione esse ut aspernatur distinctio! Iure neque
      dicta voluptatum fugiat id iusto asperiores pariatur impedit blanditiis odit officiis eum dolorem mollitia
      deserunt vitae minus ex velit illo modi ullam similique sit provident quis. Vel accusantium fuga odio veritatis
      obcaecati quod accusamus modi quasi enim explicabo consequuntur tempora praesentium provident molestias
      temporibus nisi sunt ratione nostrum quis maxime cupiditate laudantium incidunt sit minus placeat ab distinctio
      fugiat sint aperiam! Nam incidunt eius dolore earum aut debitis natus illum similique et ad nobis doloremque
      consequatur laboriosam magni doloribus accusantium culpa. Aperiam in incidunt iste eius provident omnis natus
      saepe eveniet officiis animi id assumenda itaque officia dolor magnam voluptatibus perferendis qui dicta
      inventore dolorem repudiandae quidem alias iusto explicabo distinctio nam sunt dignissimos harum molestias
      asperiores esse quasi rerum laborum numquam aliquid dolorum possimus minus modi consequatur architecto quod
      suscipit. Saepe in accusantium doloremque non illum maxime repudiandae officia quasi quidem cum nihil vero ipsa
      quaerat debitis reiciendis. Ratione dolor porro voluptas perferendis nemo aliquid!</p>
    </div>
  </div>
</div>