<ul class="box">
  <li>
    <div class="circle">
      <div class="front front-popular">
        <div class="title color-4-font glyphicon glyphicon-time"></div>
        <div class="price color-4-font"><span class="total">PAIR</span></div>
        <div class="description">Work on projects</div>
      </div><!-- end div .front -->
      <div class="popular color-4-font glyphicon glyphicon-time"></div>
      <div class="back color-4-bg info">
        <div class="title">Pair</div>
        <div class="description">
          <p>Remote Pairing FTW!</p>
          <%= link_to 'Read more..', page_path('remote-pair-programming'), class: 'btn btn-warning' %>
        </div><!-- end div .description -->
      </div><!-- end div .back color-4-bg info -->
    </div><!-- end div .circle -->
  </li>
</ul>