<%= provide :title, 'Personal Tuition Service' %>

<div class="container">
  <h1>Personal Tuition Service</h1>
  <div>Dr. Sam Joseph has created <a href="http://www.youtube.com/user/aeurdstfaksf?feature=mhee">help videos for all the SaaS homeworks</a>.</div>
  <div><br>
  </div>
  If you'd like to help Dr. Joseph improve and create more of these videos, then please donate whatever you can ($10?) to <a href="https://alumni.hpu.edu/sslpage.aspx?pid=312">Hawaii Pacific University (non-profit)</a>, designating College of Natural and Computational Sciences - and put "Sam Joseph Public Videos" in the comment box
  <div><br>
  </div>
  <div>Personal tuition sessions can also be arranged, again please&nbsp;<span style="line-height:1.6;font-size:10pt">donate whatever you can ($10?) to</span><span style="line-height:1.6;font-size:10pt">&nbsp;</span><a href="https://alumni.hpu.edu/sslpage.aspx?pid=312" style="line-height:1.6;font-size:10pt">Hawaii Pacific University (non-profit)</a>&nbsp;<span style="line-height:1.6;font-size:10pt">designating College of Natural and Computational Sciences - and put "Sam Joseph Public Videos" in the comment box&nbsp;</span><span style="line-height:1.6;font-size:10pt">to get a priority response from Dr. Joseph via </span><a href="mailto:sjoseph@hpu.edu" style="line-height:1.6;font-size:10pt">email</a><span style="line-height:1.6;font-size:10pt"> and/or </span><a href="skype://tansaku" style="line-height:1.6;font-size:10pt">Skype</a><span style="line-height:1.6;font-size:10pt">&nbsp;(username "tansaku")</span></div>
</div>
