<h2><b>Agile Ventures Premium Plus</b></h2><br>
<p>Get all the benefits of <a href="/premium">premium and mob membership</a> AND</p>
<ul>
  <li>Two hours of pair programming time with an AV <a href="http://www.agileventures.org/mentors">mentor</a> on an AV project each month</li>
  <li>Personalized professional development plan</li>
  <li>Voting rights in AV general meetings</li>
  <li>Discount to the <a href="https://craftacademy.se/international/">CraftAcademy</a> Bootcamp</li>
</ul><br>
<div class="text-center">
  <span class="btn btn-primary btn-block" style="padding: 5px; width: 60%; border-color: #ee7335; background: #ee7335; display: inline-block; font-size: 1.3em;"><a href="http://www.agileventures.org/subscriptions/new?plan=premiumplus"><b><font color="#ffffff">Get Started with Premium Plus</font></b></a></span>
</div><br>
<div>Plan Pricing <a href="http://www.agileventures.org/pricing">Overview</a></div><br>
<h3>Details of Plan Benefits:</h3><br>
<p><b>Pair Programming with an AV mentor</b></p>
<div>
  AgileVentures <a href="http://www.agileventures.org/mentors">mentors</a> are experienced pair programmers who will pair program with you over the course of a two hour session to help you improve your pairing style, your coding skills and your Agile development technique. Coding will be on an AgileVentures project. Any project can become an AgileVentures project given that it meets the following criteria:
  <ul>
    <li>Open Source</li>
    <li>Open Development</li>
    <li>Charitable Objective (as assessed by board of Trustees)</li>
  </ul>
  <p>Additional pairing hours can also be purchased.</p>
</div><br>
<p><b>Personalized professional development plan</b></p>
<div>
  A senior Agile Ventures <a href="http://www.agileventures.org/mentors">mentor</a> will work with you to understand your professional development goals, and created a personalized plan to help you achieve them.
</div><br>
<p><b>Voting rights in AV general meetings</b></p><br>
<div>
  AgileVentures is registering as an official UK charity and as such is bound by regulations relating voting rights for members at Annual General meetings. Becoming an Agile Ventures Premium member registers you as a full official member of the UK charity with voting rights in General meetings where you can influence the high level direction of the charity, selection of charity Trustees and so forth.
</div><br>
<p><b>Craft Academy Discount</b></p><br>
<div>
  Discount to the <a href="https://craftacademy.se/international/" style="background-color: rgb(248, 248, 248);">CraftAcademy</a> Bootcamp. (Based on prices as of 16/6/16)
  <ul>
    <li>£2600 (60% discount) for a remote spot</li>
    <li>£5700 (20% discount) for a on-site spot in Sweden</li>
  </ul>
  <span class="s1">Craft Academy remote students need to be in a timezone within 2 hours of UTC and must also not be a resident of Sweden. For on-site training a valid visa to Sweden is required.</span>
</div><br>
<hr>
<div>
  AgileVentures Premium Plus membership is currently £100 a month. Please email <a href="mailto">info@agileventures.org</a> if you need to adjust or cancel your subscription.
</div><br>
<p><a href="http://www.agileventures.org/subscriptions//new?plan=premiumplus">Sign up for Premium Plus Membership</a></p><br>
<h3>Frequently Asked Questions</h3><br>
<div><b>Don't free-tier and premium members get pair programming time with AV Mentors already?</b></div><br>
<div>
  Agile Ventures supports ad-hoc pairing all round the world, but we can't guarantee that any free-tier or premium member will necessarily get pairing time with a senior AV mentor. We've had feedback from members that it would be easier to pair if they could rely on having a senior AV mentor available at a particular time and date specified in advance. If we're going to ask senior AV mentors to commit to pairing times in advance we need to be able to compensate them for their efforts. We've tried operating on a purely ad-hoc basis for several years, and premium plus membership is designed to increase the chances of successful learning and good progress on the charitable projects that we support by compensating senior AV members for committing their time.
</div><br>
<div><b>PremiumPlus is ten times the cost of Premium. How come?</b></div><br>
<div>
  The main cost of premium plus is the time of the Senior AgileVentures Mentor who will work with you for two hours helping you hone your pairing, coding and project management skills; as well as discussing your professional development needs. We need to compensate the mentors who put in their time to help you.
</div>
<div><b>Will my PremiumPlus membership auto-renew each month?</b></div><br>
<div>
  Yes, you'll be charged each month automatically - please email <a href="info@agileventures.org">info@agileventures.org</a> if you would like to cancel your subscription.
</div><br>
<div><b>£100/month is a lot of money for me, surely you want premium plus to be affordable to everyone, everywhere?</b></div><br>
<div>
  Of course we do; however we also want to make our operation sustainable. If you can't afford £100/month please contact <a href="mailto:info@agileventures.org">info@agileventures.org</a> and we will see if we can find sponsorship to cover some or all of the costs of your premium plus membership.
</div>