<h2><b>Agile Ventures Premium Mob</b></h2><br>
<p>Get all the benefits of <a href="/premium">Premium</a> membership AND</p>
<ul>
  <li>Mob programming sessions with an assigned AV <a href="http://www.agileventures.org/mentors">Mentor</a> each week</li>
  <li>Professional Development Planning Support</li>
  <li>Free accesss to Udemy Complete Elixir &amp; Phoenix Bootcamp course (usual price $50)</li>
  <li>Free accesss to Udemy React Redux course (usual price $180)</li>
  <li>25% discount on "<a href="https://pragprog.com/book/rspec3/effective-testing-with-rspec-3">Effective Testing with RSpec 3</a>"</li>
  <li>10% discount on Upcase membership</li>
</ul>
<div>
  <i>Mobs are currently running for Ruby (following <a href="http://rubybookclub.com">RubyBookClub</a>) and Elixir (following the <a href="https://www.udemy.com/the-complete-elixir-and-phoenix-bootcamp-and-tutorial/">Complete Elixir &amp; Phoenix Bootcamp course</a>). We're also happy to start mobs in other languages or stacks that have sufficient member interest. We're planning to start CSS and JavaScript mobs in the near future.</i>
</div><br>
<div class="text-center">
  <span class="btn btn-primary btn-block" style="padding: 5px; width: 60%; border-color: #ee7335; background: #ee7335; display: inline-block; font-size: 1.5em;"><a href="http://www.agileventures.org/subscriptions/new?plan=premiummob"><b><font color="#ffffff">Get Started with Premium Mob</font></b></a></span>
</div><br>
<div>
  Plan Pricing <a href="http://www.agileventures.org/pricing">Overview</a>
</div>
<hr>
<div><h3>Details of Plan Benefits:<br></h3></div><br>
<p><b>Mob Programming with an assigned AV Mentor</b></p><br>
<p>AgileVentures <a href="http://www.agileventures.org/mentors">Mentors</a> are experienced programmers who will invite you to a <a href="https://en.wikipedia.org/wiki/Mob_programming">mob programming</a> session. Over the course of an hour session you'll get to participate in mob coding on a fundamental topic such as 'confident coding', Test Driven Development (TDD), SOLID principles and so forth.</p>
<p>Premium Mob members also get access to the archive of previous mobbing sessions and shared C9 environment in order to allow you to quickly get up to speed with whatever the mobs happen to be working on this week.</p>
<p>Additional mobbing hours can also be purchased.</p><br>
<p><b>Professional Development Planning Support</b></p><br>
<div>
  A senior Agile Ventures <a href="http://www.agileventures.org/mentors">mentor</a> will work with you to understand your professional development goals, and created a personalized plan to help you achieve them. Professional Development Planning support includes reviewing your skill set and experiences, and talking through your professional development goals. Your AV mentor would guide you in creating a plan of activities to help you achieve your professional development goals, such as which books to study, what courses to take, what projects to join and contribute to etc.
</div><br>
<p><b>Udemy Complete Elixir &amp; Phoenix Bootcamp course</b></p><br>
<div>
  Elixir mob includes sessions working through the Udemy bootcamp course, in order to prepare for contributing to the PhoenixOne project. Free access to the course for AgileVentures Premium Mob members has been very kindly donated by the instructor, Stephen Grider. The usual cost of the course is $50.
</div><br>
<div><b>Effective Testing with RSpec3</b></div><br>
<div>
  At long last an <a href="https://pragprog.com/book/rspec3/effective-testing-with-rspec-3">updated guide for RSpec</a> is out for version 3. Get 25% off the $19 beta version with your Premium Mob membership.
</div><br>
<div>
  <p><a href="http://www.agileventures.org/subscriptions/new?plan=premiummob">Sign up for Premium Mob Membership</a></p>
</div><br>
<h3>Frequently Asked Questions</h3><br>
<div>
  <b>Don't free-tier and premium members get mob programming time with AV Mentors already?</b>
</div><br>
<div>
  Agile Ventures supports ad-hoc pairing and mobbing all round the world, but we can't guarantee that any free-tier or premium member will necessarily get pairing or mobbing time with a senior AV mentor. We've had feedback from members that it would be easier to progress if they could rely on having a senior AV mentor available at a particular time and date specified in advance. If we're going to ask senior AV mentors to commit to being available in advance we need to be able to compensate them for their efforts. We've tried operating on a purely ad-hoc basis for several years, and Premium Mob membership is designed to increase the chances of successful learning and good progress on the charitable projects that we support by compensating senior AV members for committing their time.
</div><br>
<div>
  <b>Can I use time in mobbing sessions with my Mentor to talk about Professional Development rather than coding?</b>
</div><br>
<div>
  <p>Mob sessions are focused on coding skills. Usually the professional development support will be handled over Slack and email text chat, with the Mentor and Premium Mob member passing back and forth a planning document. If you would like face to face time with a Mentor please consider upgrading to <a href="/premium_f2f">Premium F2F</a>.</p>
</div><br>
<div>
  <b>Premium Mob is more than twice the cost of Premium. How come?</b>
</div><br>
<div>
  The main cost of Premium Mob is the time of the Senior AgileVentures Mentor who will work with you for an hour a month in mobbing sessions to improve your pairing, coding and project management skills; as well as discussing your professional development needs. We need to compensate the Mentors who put in their time to help you.
</div><br>
<div>
  <b>Will my Premium Mob membership auto-renew each month?</b>
</div><br>
<div>
  Yes, you'll be charged each month automatically - please email <a href="http://www.agileventures.org/info@agileventures.org">info@agileventures.org</a> if you would like to cancel your subscription.
</div><br>
<div>
  <b>£25/month is a lot of money for me, surely you want Premium Mob to be affordable to everyone, everywhere?</b>
</div><br>
<div>
  Of course we do; however we also want to make our operation sustainable. If you can't afford £25/month please contact <a href="mailto:info@agileventures.org">info@agileventures.org</a> and we will see if we can find sponsorship to cover some or all of the costs of your Premium Mob membership.
</div>