<div>
  Agile Ventures Premium Membership gives the following benefits
</div><br>
<div>
  <ul>
    <li>Free use of the multi-functional RubyMine/WebStorm development software on your AgileVenture projects. (A £15/month value)</li>
    <li>Access to AgileVentures' private Premium Slack channels (#professional_develop, #jobs, #tech_tests etc.)</li>
    <li>Professional Code Review</li>
    <li>Eligibility to work on paid projects</li>
    <li>Supports the Agile Ventures mission to help charities and increase worldwide access to learning resources</li>
    <li>Support on any questions you post to StackOverflow</li>
    <li>CodeSchool NonProfit Discount ($10 a month saving)</li>
  </ul>
</div><br>
<div class="text-center">
  <span class="btn btn-primary btn-block" style="padding: 5px; width: 50%; border-color: rgb(238, 115, 53); background: rgb(238, 115, 53); display: inline-block; font-size: 1.5em; white-space: normal;"><a href="http://www.agileventures.org/subscriptions/new?plan=premium"><b><font color="#ffffff">Get Started with Premium</font></b></a></span>
</div><br>
<div>
  Plan Pricing <a style="display: inline-block;" href="http://www.agileventures.org/pricing">Overview</a>
</div>
<hr>
<h3>Details of Plan Benefits:</h3><br>
<div>
  <b>Free use of the multi-functional RubyMine/MindStorm development software on your AgileVenture projects.</b>
</div><br>
<div>
  Get licenses for great development software from JetBrains, such as the RubyMine integrated development environment (IDE). These are for use on AgileVentures OpenSource projects, as approved by JetBrains. The usual price is £15 a month.
</div><br>
<div>
  <b>Access to AgileVentures' Premium Private Slack channels</b>
</div><br>
<div>
  Many AgileVentures have leveraged the skills they've learnt through working in teams on our open source projects to land great tech jobs, get promotions and develop themselves professionally. See <a href="http://www.agileventures.org/grow">http://www.agileventures.org/grow</a> for testimonials. Learn from senior members' experience to help you in your professional development in the AV private Slack channels for professional development, devops, tech tests and jobs.
</div><br>
<div>
  <b>Professional Code Review</b>
</div><br>
<div>
  <p>AgileVentures mission is to develop quality software for charities and other non-profits whilst also supporting the learning and development of individuals wishing to improve their teamwork and coding skills. AgileVentures software projects are all open source and open development. Contributions are submitted via an open code submission process or "pull request" (PR). Becoming an AgileVentures Premium member entitles you to a priority code review, that is a professional code review of your code submission to any AgileVentures project, within 2 working days (excludes weekends and UK national holidays) of submission.</p>
  <p>Want a better idea of what a professional code review looks like? Check out the following three examples of previous professional code reviews offered to premium members:</p>
  <ul>
    <li><a href="https://github.com/AgileVentures/WebsiteOne/pull/1474">Review 1</a></li>
    <li><a href="https://github.com/AgileVentures/LocalSupport/pull/429">Review 2</a></li>
    <li><a href="https://github.com/AgileVentures/WebsiteOne/pull/1519">Review 3</a></li>
  </ul>
  <p>Any project can become an AgileVentures project given that it meets the following criteria:</p>
  <ul>
    <li>Open Source</span><br></li>
    <li>Open Development </span><br></li>
    <li>Charitable Objective (as assessed by board of Trustees)</span><br></li>
  </ul>
</div><br>
<div>
  <b>Eligibility to work on priority and paid projects</b>
</div><br>
<div>
  Certain AgileVentures projects are set as "priority" projects, in that they are of special importance to the AgileVentures community, and newcomers to AgileVentures may be encouraged to focus on non-priority projects in order to develop their Agile development skills before they can successfully contribute to "priority" projects. Becoming an AgileVentures premium member allows you to bypass this requirement, and also makes you eligible for "paid" projects; those AgileVenture projects where a charity customer has funds for (or a donation covers) paid software development. Premium membership does not entitle the premium member to participate in any particular paid or priority project, but does make them eligible for consideration. Participation in any particular project is at the discretion of the project team lead, or project team consortium, as appropriate to the individual project.
</div><br>
<div>
  <b>Supports the Agile Ventures mission to support charities and increase worldwide access to learning resources</b>
</div><br>
<div>
  In addition to all the other benefits your subscription to a premium plan helps AgileVentures in its ongoing mission to support charities around the world with IT solutions and also make learning resources available globally to developers trying to level up and make the world a better place. We have to pay for server hosting etc. and every little helps cover our costs.
</div><br>
<div>
  <b>Support on any question you post to StackOverflow</b>
</div><br>
<div>
  Posting to StackOverflow or similar forums is a fantastic way to get quick feedback on any coding problem you may have. You'll need to follow the <a href="http://stackoverflow.com/help/how-to-ask">guidelines</a> on how to ask a good question, but assuming you do and you post a link to your question into the #techtalk channel, and follow any instructions from AV mentors on how to improve your question, then we'll do our best to answer it, including starring it and up-voting to help attract the attention of others in case we cannot provide a direct answer ourselves.
</div><br>
<div><b>Code School NonProfit Discount</b></div><br>
<div>
  By becoming an AgileVentures Premium member you become part of our NonProfit organisation and thus become eligible for a $10 discount on the CodeSchool monthly fee of $29.
</div><br>
<hr>
<div>
  Premium cost is currently £10 a month, and comes with a 7-day free trial. Please alert <a href="mailto:info@agileventures.org" style="background-color: rgb(248, 248, 248);">info@agileventures.org</a> within your first 7 days to cancel your subscription at no cost.<br>
</div><br>
<div>
  <a href="http://www.agileventures.org/subscriptions/new">Sign up for AgileVentures Premium</a><br>
</div><br>
<div>
  Want even more benefits including scheduled pair programming time with senior AV <a href="http://www.agileventures.org/mentors">mentors</a>?  Check out our <a href="http://www.agileventures.org/premium_plus">Premium Plus membership</a>.
</div>
<hr>
<a name="faq"><h1>Frequently Asked Questions</h1></a><br>
<details>
  <summary><b>Why would I want my Pull Request (PR) reviewed quickly?</b></summary>
  <br><p>Premium membership guarantees a pull request will be reviewed promptly and thoroughly. Pull requests that wait for a long time before a review often require more work to be merged in, and may be discarded if no one is willing to do that additional work. Also, it's great to get feedback when the code you have just created is still fresh in your mind. If it takes a long time to get feedback you may not be able to learn as much as you would otherwise.</p>
</details><br>
<details>
  <summary><b>Does being a Premium member mean that my PR is going to be accepted even if it doesn’t seem relevant?</b></summary>
  <br><p>No it doesn't mean it will be accepted - but being a Premium member means we'll try harder to work with you to get it into a shape where it can be accepted. Even if it ultimately doesn't make sense to merge it in, we'll be doing our best to ensure that you derive the maximum learning benefit from the experience.</p>
</details><br>
<details>
  <summary><b>If my PR might not get merged why is the issue that my PR attempts to address an open issue?</b></summary>
  <br><p>It's an open issue because it's something that needs to be addressed, however that does not mean that the way that you tried to address it is necessarily compatible with other aspects of the project. We'll do our best to help you make it compatible, but ultimately if you don't follow our suggestions for changes to your PR and we don't have the resources to make them ourselves, or the process has taken so long that it's no longer efficient to work with your PR, then it might well be discarded and the issue will be fixed by a PR from another member.</p>
</details><br>
<details>
  <summary><b>In the case where multiple Premium members have submitted PR’s, how will they be prioritized?</b></summary>
  <br><p>Given PRs from multiple Premium members project priorities come into play. Exploring the interplay between delivering value to the end client, use of different technologies and team collaboration is precisely what the AgileVentures experience is all about. If there are many Premium members submitting PRs and we don't have enough reviewers to meet the demand we will need to recruit and or hire more reviewers, or possibly adjust the pricing model.</p>
</details><br>
<details>
  <summary><b>For non Premium members, if your PR never gets reviewed because AV doesn't have the resources to review them, then why would a non Premium member bother submitting a PR?</b></summary>
  <br><p>The same is true for any open source project - open source projects live or die depending on whether the maintainers have the resources to review the incoming PRs. In other projects if you see that the maintainers are very busy dealing with lots of other PRs, it may be that your PR will be overlooked. In AgileVentures non-Premium members may still be intrigued by an open issue they have noticed and be interested in submitting a speculative PR and they may still get comments, and/or be merged in, depending on how busy things are at a given time. Reviewing PRs consumes AV resources and the presence of a PR doesn't necessarily provide benefit to AV. Getting feedback on the PR is a great learning experience, and the Premium model is designed to allow us to focus that effort on the most committed members, as well as increasing the likelihood that we have sufficient resources to keep reviewing incoming PRs.</p>
</details><br>
<details>
  <summary><b>Doesn't the presence of Premium membership and associated benefits negatively impact the free AgileVentures experience?</b></summary>
  <br><p>Free tier members still get the fundamental AgileVentures benefits, including access to AgileVentures Slack, the ability to attend AgileVentures scrums, client meetings and pairing sessions, and access to the full video archive of all AgileVentures development. AgileVentures is committed to following "open development"; a level above simple "open source" in which not only the source code, but all aspects of the development process are made visible to anybody who is interested. The idea being to make it possible for anyone to start participating in an Agile project at any point, and to maximise the opportunities for real and authentic learning. Making all these free resources available is demanding, and so Premium membership is a mechanism to help the ongoing provision of those services. In the long run Premium membership should serve free tier members by ensuring they have access to all the basic AgileVentures benefits for many years to come.</p>
  <p>Also to the extent that Premium membership encourages ongoing PR submissions from more committed members and supports a more organised PR review process, this should lead to improved code quality and project maintainability, which then indirectly benefits all members.</p>
</details><br>
<details>
  <summary><b>But aren't you a charity? Shouldn't you just be relying purely on donations?</b></summary>
  <br><p>AgileVentures is a registered UK charity, and donations are very welcome. If you're keen to donate then please check out our <a href="http://www.agileventures.org/associate">Associate</a> membership. To the extent we could continue to provide all our services purely based on donations we would. However donations by themselves are insufficient at this time. Being a charity does not mean expending all available resources to the point of bankruptcy. It is perfectly reasonable for a charity to provide Premium services to members who are in a position to contribute a little extra. In any community there is a danger that some members will consume more resources than others to the overall detriment of the community. Particularly as regards PRs, even well-meaning attempts at fixing issues can actually be dangerous red-herrings that require lots of effort to get into shape. Premium membership provides a mechanism for AgileVentures project managers to focus their effort on submission from the more committed members and ultimately to get fairly compensated for the work that they put in to help members learn about how to participate effectively in the Agile development process.</p>
</details>
<br>
<details>
  <summary><b>There are plenty of other open source projects out there crying out for contributors, why should I submit PRs to AgileVentures?</b></summary>
  <br><p>Because we are a good cause, and we're trying to help other good causes around the world, as well as all developers improve their Agile project and coding skills. Please do submit PRs to other open source projects - there's lots of other great causes, but you won't necessarily get the specific support for understanding the Agile development process, or be guaranteed full visibility to the complete development process. What AgileVentures offers that's different from other open source projects is full access to the entire development process, and a commitment to help everyone learn about Agile development, not just code. Our project maintainers are committed to your development as an Agile software developer, as well as to the success of their project. They'll try to help everyone, but will prioritize helping Premium members.</p>
</details><br>
<details>
  <summary><b>Will my Premium membership auto-renew each month?</b></summary>
  <br><p>Yes, you'll be charged each month automatically - please email <a href="http://www.agileventures.org/info@agileventures.org">info@agileventures.org</a> if you would like to cancel your subscription.</p>
</details><br>
<details>
  <summary><b>£10/month is a lot of money for me, surely you want membership to be affordable to everyone, everywhere?</b></summary>
  <br><p>Of course we do; however we also want to make our operation sustainable. If you can't afford £10/month please contact <a href="mailto:info@agileventures.org">info@agileventures.org</a> and we will see if we can find sponsorship to cover some or all of the costs of your premium membership.</p>
</details>