<div>
  AgileVentures helps teams of developers get together to work on open source charity IT projects. In the <a href="/free">free plan</a> developers get project logistics support and the use of AgileVentures Slack and Google hangouts integration for online meetings.
</div><br>
<div>
  AgileVentures also provides <a href="/premium">Premium</a>, <a href="/premium_mob">Premium Mob</a> and <a href="/premium_f2f">Premium F2F</a> membership plans with benefits beyond our <a href="/free">free tier membership</a>. These plans are designed to provide our members with greater support for their professional development as an Agile software developer. See below for details.
</div><br>
<div>
  If you're not trying to level up as an Agile software developer yourself, you can still help out by <a href="http://www.agileventures.org/sponsorship">sponsoring another developer</a> to get the support they can't otherwise afford.
</div><br>
<div>
  <table class="tg" style="border-collapse: collapse; border-spacing: 0; border-color: #aaa;" width="100%" border="0">
    <tbody>
      <tr>
        <td width="350px"></td>
        <th width="65px" align="center" style="font-family: Arial, sans-serif; font-size: 14px; background: rgb(238, 115, 53); padding: 8px;">
          <div style="text-align: center;"><a href="/free"><font color="#ffffff">Free</font></a></div>
        </th>
        <th width="65px" align="center" style="font-family: Arial, sans-serif; font-size: 14px; background: rgb(218, 104, 49); padding: 8px;">
          <div style="text-align: center;"><a href="/premium"><font color="#ffffff">Premium</font></a></div>
          <div style="color: rgb(255, 255, 255); text-align: center;">(£10/month)</div>
        </th>
        <th width="65px" align="center" style="font-family: Arial, sans-serif; font-size: 14px; background: rgb(52, 73, 94); padding: 8px;">
          <div style="text-align: center;"><a href="/premium_mob"><font color="#ffffff">PremiumMob</font></a></div>
          <div style="color: rgb(255, 255, 255); text-align: center;">(£25/month)</div>
        </th>
        <th width="60px" align="center" style="font-family: Arial, sans-serif; font-size: 14px; background: rgb(211, 101, 47); padding: 8px;">
          <div style="text-align: center;"><a href="/premium_f2f"><font color="#ffffff">PremiumF2F</font></a></div>
          <div style="color: rgb(255, 255, 255); text-align: center;">(£50/month)</div>
        </th>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px;"><a href="/free">Access to AV Slack</a></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; background: #efefef; padding: 8px;"><a href="/free">Access to AV Scrums</a></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px;"><a href="/free">Project logistics advice and support</a></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; background: #efefef; padding: 8px;"><a href="/free">User experience review of project (HCI)</a></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px;"><a href="/premium">Financially support AV mission to help charities <br>and education access for all</a></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px;"><a href="/premium">Eligibility to work on priority and paid projects</a></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; background: #efefef; padding: 8px;"><a href="/premium">Professional Code Review (your PRs reviewed first)</a></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px;"><a href="/premium">Access to AV Professional Development Slack</a></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; background: #efefef; padding: 8px;"><a href="/premium">Code School NonProfit Discount</a> (save $10 a month)</td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px;"><a href="/premium_mob">Mob programming sessions with assigned AV mentor</a></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; background: #efefef; padding: 8px;"><a href="/premium_mob">Udemy Complete Elixir &amp; Phoenix Bootcamp course</a></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px;"><a href="/premium_mob">Professional Development Planning Support</a></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; background: #efefef; padding: 8px;"><a href="/premium_f2f">Face to Face Hangout support from assigned AV mentor</a></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="background: #efefef; padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px;"><a href="/premium_f2f">Voting rights in AV general meetings </a><br>(help decide AV Charity Policy and direction)</td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd;"></td>
        <td align="center" style="padding: 8px; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><img src="/assets/check.png" alt="icon"></td>
      </tr>
      <tr>
        <td style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px; background: #efefef;"><span class="btn btn-primary btn-block" style="padding: 5px; width: 350px;"><a href="http://www.agileventures.org/sponsorship"><strong><font color="#ffffff">Sponsor a developer</font></strong></a></span></td>
        <td align="center" style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px; background: #efefef; border-left: solid 1px #ddd;"><span class="btn btn-primary btn-block"><a href="http://www.agileventures.org/users/sign_up"><font color="#ffffff"><b>Get Started</b></font></a></span></td>
        <td align="center" style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px; background: #efefef; border-left: solid 1px #ddd;"><span class="btn btn-primary btn-block" style="padding: 5px;"><a href="http://www.agileventures.org/subscriptions/new"><b><font color="#ffffff">Get Started</font></b></a></span></td>
        <td align="center" style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px; background: #efefef; border-left: solid 1px #ddd;"><span class="btn btn-primary btn-block" style="padding: 5px;"><a href="http://www.agileventures.org/subscriptions/new?plan=premiummob"><b><font color="#ffffff">Get Started</font></b></a></span></td>
        <td align="center" style="font-family: Arial, sans-serif; font-size: 14px; padding: 8px; background: #efefef; border-left: solid 1px #ddd; border-right: solid 1px #ddd;"><span class="btn btn-primary btn-block" style="padding: 5px;"><a href="http://www.agileventures.org/subscriptions/new?plan=premiumf2f"><b><font color="#ffffff">Get Started</font></b></a></span></td>
      </tr>
    </tbody>
  </table>
</div>
