<%= provide :title, 'SaaS ELLS ScreenCasts' %>

<div class="container">
  <h1>SaaS ELLS ScreenCasts</h1>
  <div>These are the critical things to work through before you start on any of the SaaS homeworks</div>
  <div><br>
  </div>
  <div>2.1.1 Getting Started</div>
  <div><br>
  </div>
  <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/mmPNHJZwqCE?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
  <div><br>
  </div>
  <div><a href="https://vimeo.com/34754478">Vimeo version</a></div>
  <div><br>
  </div>
  <div>2.2.1 Cookies</div>
  <div><br>
  </div>
  <div>
    <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/AolqBqYOp74?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
    <div><br>
    </div>
    <div>This video has some problems with the audio, and also it's not recorded in the VM, so the web developer tools are not in the same places as for students using the VM. &nbsp;Also seems like the web developer toolbar extension is now not in the VM FF by default ...</div>
    <div><br>
    </div>
    <div><a href="https://vimeo.com/33918630">Vimeo version</a></div>
    <div><br>
    </div>
    <div>2.3.1 HTML Introduction</div>
    <div><br>
    </div>
    <div>
      <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/lXNeDR_5feQ?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
      <div><br>
      </div>
      <div>Always found it funny to talk about HTML and HTTP without any mention of Tim Berners Lee, but then again it's pretty strange to talk about Rails without talking about DHH ...</div>
      <div><br>
      </div>
      <div><a href="https://vimeo.com/34754506">Vimeo version</a></div>
      <div><br>
      </div>
      <div>2.3.2 Inspecting the ID and Class attributes</div>
      <div><br>
      </div>
      <div>
        <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/S0aPYEVYiTo?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
        <br>
      </div>
      <a href="https://vimeo.com/34754568">Vimeo version</a></div>
    <div><br>
    </div>
    <div>2.3.3 Introduction to CSS</div>
    <br>
  </div>
  <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/4os5Xc8C6g0?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
  <div><br>
  </div>
  <div><a href="https://vimeo.com/34754506">Vimeo version</a></div>
  <div><br>
  </div>
  <div>2.7.1 Create and Update each require two interactions</div>
  <div><br>
  </div>
  <div>
    <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/q6bOFDxkpck?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
    <br>
  </div>
  <a href="https://vimeo.com/34754622">Vimeo version</a>
  <div><br>
  </div>
  <div>2.8.1 Interpolation into views using Haml</div>
  <div><br>
  </div>
  <div>
    <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/Df7lYwBHrMo?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
    <br>
  </div>
  <div><a href="https://vimeo.com/34754654">Vimeo version</a></div>
  <div><br>
  </div>
  <div>Missing Screen cast from sections 4.1, 4.2 and 4.3</div>
  <div><br>
  </div>
  <div>
    <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/5ar8SWO1lGs?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
    <br>
  </div>
  <div>4.4.1 The Application Layout</div>
  <div>
    <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/CGiYtVhMFqU?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
    <br>
  </div>
  <div><a href="https://vimeo.com/34754667">Vimeo version</a></div>
</div>