<%= provide :title, 'Sortable ELLS Errata' %>

<div class="container">
  <h1>Sortable ELLS Errata</h1>
  <!--Bryan: Again embedded content is not available-->
  <!--<img src="https://www.google.com/chart?chc=sites&amp;cht=d&amp;chdp=sites&amp;chl=%5B%5BGoogle+spreadsheet'%3D20'f%5Cv'a%5C%3D0'10'%3D499'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D500'%3D597'dim'%5C%3D10'%3D10'%3D500'%3D597'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&amp;sig=YyVycQ0WNL1etQYFkCG5t6Fexg0" data-origsrc="0Al0KUpbalAT-dHZVb2NtNDZ1WmJWXy1yTjFKWF9DMWc" data-type="spreadsheet" data-props="view:list;" width="500" height="600" style="display:block;text-align:left;margin-right:auto;">-->
</div>
