
	<h2>Support Agile Ventures</h2>
  <p>Supporters provide the AgileVentures coders and community resources to continue creating great web apps and improve the programming skills of its members. Perhaps you are a SaaS provider that has a product our members would love. Or maybe you want to make a monetary donation to help pay for our hosting costs. Whataever your reason, we would love to hear from you today. We thank our supporters by displaying their logos throughout the site and right here on the supporters page. If you are interested in supporting AgileVentures, contact us at info@agileventures.org.</p>



	<style type="text/css">
		#sponsorLogos{
			display: block;
			float: left;
			margin: 0 25px 0 25px;
		}
	</style>

<!-- <h1>Heros are individuals...</h1>
<section id="ourHeros" style="margin-top: -60px;">
  <h3>Perhaps you have participated in a pair programming session with someone across the world. Or maybe you just want to support the growth and education of programming enthusiasts. Whatever your motivation, you don't have to own a server farm to help AgileVentures continue serving non-profits and coders everywhere. Donate a few bucks today!</h3>
</section> -->