
<h1>Sponsor Agile Ventures</h1>
<section id="ourSponsors" style="margin-top: -60px;">
  <h3>Sponsors provide the AgileVentures coders and community resources to continue creating great web apps and improving the programming skills of its members. If you are the maker of a product that our memebers could benefit from, a donation of your services would go a long way. We thank sponsors by displaying their logos right here on our sponsors page. If you are interested in sponsoring AgileVentures, please contact tansaku@gmail.com </h3>
</section>

<section >
	<style type="text/css">
		#sponsorLogos{
			display: block;
			float: left;
			margin: 0 25px 0 25px;
		}
	</style>
	<img id="sponsorLogos" src="http://placehold.it/205x160">
	<img id="sponsorLogos" src="http://placehold.it/205x160">
	<img id="sponsorLogos" src="http://placehold.it/205x160">
	<img id="sponsorLogos" src="http://placehold.it/205x160">
	</div>
</section>

<h1>Heros are individuals...</h1>
<section id="ourHeros" style="margin-top: -60px;">
  <h3>Perhaps you have participated in a pair programming session with someone across the world. Or maybe you just want to support the growth and education of programming enthusiasts. Whatever your motivation, you don't have to own a server farm to help AgileVentures continue serving non-profits and coders everywhere. Donate a few bucks today!</h3>
</section>