<%= provide :title, 'Ubuntu Bash Help' %>

<div class="container">
  <h1>Ubuntu Bash Help</h1>
  <div>
    <ul><li><span style="line-height:1.6;font-size:10pt">List contents of directory (ls): </span><a href="http://www.youtube.com/watch?v=rWJrWWOpTkE" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=rWJrWWOpTkE</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Change directory (cd): </span><a href="http://www.youtube.com/watch?v=L8fD7KS9fGA" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=L8fD7KS9fGA</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Cat: </span><a href="http://www.youtube.com/watch?v=SDuNvlmTQS8" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=SDuNvlmTQS8</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Commands Redirection </span><a href="http://www.youtube.com/watch?v=dXxBJ94D_0g" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=dXxBJ94D_0g</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Make Directories (mkdir): </span><a href="http://www.youtube.com/watch?v=1v6bAz3Spg4" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=1v6bAz3Spg4</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Remove (rm): </span><a href="http://www.youtube.com/watch?v=BRkhwBexCuM" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=BRkhwBexCuM</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Copy (cp): </span><a href="http://www.youtube.com/watch?v=5YgIflLST4Q" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=5YgIflLST4Q</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Move (mv): </span><a href="http://www.youtube.com/watch?v=Uox5X8O2Pdk" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=Uox5X8O2Pdk</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Less: </span><a href="http://www.youtube.com/watch?v=ZQTt0LEoj3k" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=ZQTt0LEoj3k</a></li>
      <li><span style="line-height:1.6;font-size:10pt">File: </span><a href="http://www.youtube.com/watch?v=E-SPhtL-jTM" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=E-SPhtL-jTM</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Dealing with Spaces: </span><a href="http://www.youtube.com/watch?v=lV3npHBt1xA" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=lV3npHBt1xA</a></li>
      <li><span style="line-height:1.6;font-size:10pt">WildCard: </span><a href="http://www.youtube.com/watch?v=QrkH-xwh1fI" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=QrkH-xwh1fI</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Head: </span><a href="http://www.youtube.com/watch?v=AB8FaKP-KnA" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=AB8FaKP-KnA</a></li>
      <li><span style="line-height:1.6;font-size:10pt">Pipes: </span><a href="http://www.youtube.com/watch?v=9gSPo-9mLOs" style="line-height:1.6;font-size:10pt">http://www.youtube.com/watch?v=9gSPo-9mLOs</a></li></ul>
  </div>

</div>
