<h1>Editing document</h1>

<%= render 'form' %>

<%= link_to 'Show', project_document_path(id: @document.id, project_id: @document.project_id) %> |
<%= link_to 'Back', project_documents_path(project_id: @document.project_id) %>
