---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=random%40random.com&source=tok_17sEWY4cJkXFgrlC8liCQC5S
    headers:
      Authorization:
      - Bearer sk_test_4O7CTmoS1jwlDAX3z1abLYWm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_88Vdtu2IPc9HzP",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_17sEWX4cJkXFgrlCyqMTDQzP",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_88Vdtu2IPc9HzP",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "fyjaaQ5NnzaXnYRE",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "random@random.com",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_88Vdtu2IPc9HzP/cards"
          },
          "created": 1458749638,
          "currency": null,
          "default_card": "card_17sEWX4cJkXFgrlCyqMTDQzP",
          "default_source": "card_17sEWX4cJkXFgrlCyqMTDQzP",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "random@random.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17sEWX4cJkXFgrlCyqMTDQzP",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_88Vdtu2IPc9HzP",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "fyjaaQ5NnzaXnYRE",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "random@random.com",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_88Vdtu2IPc9HzP/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_88Vdtu2IPc9HzP/subscriptions"
          }
        }
  recorded_at: Wed, 23 Mar 2016 16:13:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=500&currency=usd&customer=cus_88Vdtu2IPc9HzP&description=Rails+Stripe+customer
    headers:
      Authorization:
      - Bearer sk_test_4O7CTmoS1jwlDAX3z1abLYWm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17sEcN4cJkXFgrlCvr8XTzyY",
          "object": "charge",
          "amount": 500,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17sEcN4cJkXFgrlCPjdRunWQ",
          "captured": true,
          "card": {
            "id": "card_17sEWX4cJkXFgrlCyqMTDQzP",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_88Vdtu2IPc9HzP",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "fyjaaQ5NnzaXnYRE",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "random@random.com",
            "tokenization_method": null
          },
          "created": 1458749639,
          "currency": "usd",
          "customer": "cus_88Vdtu2IPc9HzP",
          "description": "Rails Stripe customer",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17sEcN4cJkXFgrlCvr8XTzyY/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17sEWX4cJkXFgrlCyqMTDQzP",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_88Vdtu2IPc9HzP",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "fyjaaQ5NnzaXnYRE",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "random@random.com",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "paid",
          "statement_description": null
        }
  recorded_at: Wed, 23 Mar 2016 16:13:59 GMT
recorded_with: VCR 2.9.3
