<aside class="sidebar-widget projects-sidebar-group">
  <h1 class="widget-title">Connected on</h1>
  <% if @project.source_repositories.size > 0 %>
      <% @project.source_repositories.each do |repo| %>
        <p><i class="fa fa-github-alt fa-lg"></i>
        <span class="small"><%= link_to "#{repo.name} ", repo.url %>on GitHub</span></p>
      <% end %>
  <% else %>
    <p><i class="fa fa-github-alt fa-lg"></i> <span class="small">not linked to GitHub</span></p>
  <% end %>

  <% if @project.pivotaltracker_url.present? %>
    <p><i class="fa fa-gear fa-lg"></i>
      <span class="small"><%= link_to "#{@project.title} ", @project.pivotaltracker_url %>on IssueTracker</span></p>
  <% else %>
    <p><i class="fa fa-gear fa-lg"></i> <span class="small">not linked to IssueTracker</span></p>
  <% end %>

  <% if @project.slack_channel_name.present? %>
    <p><i class="fa fa-slack" aria-hidden="true"></i>
      <span class="small">
        <%= link_to "#{@project.title} ", "https://agileventures.slack.com/app_redirect?channel=#{@project.slack_channel_name}" %>on Slack
      </span>
    </p>
  <% else %>
    <p><i class="fa fa-gear fa-lg"></i> <span class="small">not linked to Slack</span></p>
  <% end %>
</aside>
