<div class='nested-fields form-group'>
  <div class='field form-group'>
    <%= f.label :url, 'GitHub url', class: 'repo_field_label'%>
    <%= f.text_field :url, placeholder: 'https://github.com/projectname', class: 'form-control input-lg' %>
  </div>
  <%= link_to_remove_association 'Delete repo', f, class: 'btn btn-danger' %>
</div>