<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById("av_dashboard").submit.click();
  });
</script>
<form accept-charset="UTF-8" action="https://www.dashboard.agileventures.org" method="post" id="av_dashboard">
  <input name="token" type="hidden" value="<%= @token %>" />
  <input type="submit" style="display:none;" name="submit">
</form>
