development: &dev
  adapter: postgresql
  encoding: unicode
  database: websiteone_development
  host: db
  pool: 20
  username: postgres
  password:
test: &test
  <<: *dev
  database: websiteone_test

production:
  <<: *dev
  database: websiteone_production

cucumber:
  <<: *test
