features:
  custom_errors:
    enabled: false
    email_notifier:
      email_prefix: '[ERROR] '
      sender: '"Error Police" <error-police@agileventures.org>'
      exception_recipients: ['info@agileventures.org']
  disqus:
    enabled: false
  welcome_email:
    enabled: true
  twitter:
    notifications:
      enabled: false
  email_registrations:
    enabled: false

mailer:
  delivery_method: 'test'
  smtp_settings:
    port: 587
    user_name: 'user'
    password: 'password'
    address: 'address'
    domain: 'domain'
    authentication: 'auth'
  url_host: 'localhost:3000'
  devise_mailer_sender: 'info@agileventures.org'

# as of implementation of gem rails_config arrays
# wont work on heroku when passed as ENV
# so for now we take emails divided by ','
privileged_users: ""

disqus:
  shortname: 'agileventures-dev'
  api_key:  'Mh9WLi09Ve752WaTu3xbfEpSXDHOluVNc2Cm8UnDVA5TTuKXUebEVq56cDlu0SBu'
  secret_key: 'bRtQeANt2qJQ9Y6CJZtA2I2g6dioHKDuPaX5US17JmRXmvMYcG69wZXeKaFmd8qJ'

hangouts:
  app_id: <%= ENV['HANGOUTS_APP_ID'] %>
  ssl_host: <%= ENV['SSL_HOST'] %>

twitter:
  consumer_key:        nil
  consumer_secret:     nil
  access_token:        nil
  access_token_secret: nil

github:
  auth_token: <%= ENV["GITHUB_AUTH_TOKEN"] %>
  client_id: <%= ENV["GITHUB_KEY"] %>
  client_secret: <%= ENV["GITHUB_SECRET"] %>

agile_bot_url: <%= ENV['AGILE_BOT_URL'] %>

paypal:
  form_url: 'https://www.sandbox.paypal.com/cgi-bin/webscr'
  form_asset_root: 'https://www.sandbox.paypal.com'
  email: 'sam-facilitator@agileventures.org'
