---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=%23Scrum+meeting+with+our+%23distributedteam+is+live+on+http%3A%2F%2Fhangout.test+Join+in+and+learn+about+our+%23opensource+%23projects%21
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twitter consumer key", oauth_nonce="7f94b78d6f0a32f57def11aebf59ed3c",
        oauth_signature="aVboqn9ELUftdRXHp7iM3fWGV64%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1481114939", oauth_token="twitter access token", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 07 Dec 2016 12:48:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 74b9f330ffd97c907f60c7444878e7e7
      X-Response-Time:
      - '179'
      X-Transaction:
      - 00c0691f004c2284
      X-Tsa-Request-Body-Time:
      - '2'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Wed Dec 07 12:48:59 +0000 2016","id":806480625989468160,"id_str":"806480625989468160","text":"#Scrum
        meeting with our #distributedteam is live on http:\/\/hangout.test Join in
        and learn about our #opensource #projects!","truncated":false,"entities":{"hashtags":[{"text":"Scrum","indices":[0,6]},{"text":"distributedteam","indices":[24,40]},{"text":"opensource","indices":[100,111]},{"text":"projects","indices":[112,121]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/www.agileventures.com\" rel=\"nofollow\"\u003eWebsiteOneTest\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":431173698,"id_str":"431173698","name":"Matthew
        Lindsey","screen_name":"matthewrlindsey","location":"Boston","description":"Walking
        the path","url":"http:\/\/t.co\/7jvrcOh9cP","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/7jvrcOh9cP","expanded_url":"http:\/\/www.matthewrlindsey.org","display_url":"matthewrlindsey.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":18,"friends_count":62,"listed_count":5,"created_at":"Thu
        Dec 08 00:36:48 +0000 2011","favourites_count":10,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":57,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/742356635528626176\/0CK3ZufF_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/742356635528626176\/0CK3ZufF_normal.jpg","profile_link_color":"19CF86","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Wed, 07 Dec 2016 12:48:59 GMT
- request:
    method: get
    uri: http://gdata.youtube.com/feeds/api/videos/11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      X-Gdata-User-Country:
      - US
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: No longer available
  recorded_at: Wed, 07 Dec 2016 12:48:59 GMT
[...]
