---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=%23Scrum+meeting+with+our+%23distributedteam+is+live+on+http%3A%2F%2Fhangout.test+Join+in+and+learn+about+our+%23opensource+%23projects%21
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twitter consumer key", oauth_nonce="489dd83eece61067329828191b5e6d5a",
        oauth_signature="jA2xcx584c%2F1WRogUiL3hwtu%2Fyc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1481030627", oauth_token="twitter access token", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 06 Dec 2016 13:23:47 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 68127315a317eca40be94258e01ff9b8
      X-Response-Time:
      - '26'
      X-Transaction:
      - 006d969f00b1dd33
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Tue, 06 Dec 2016 13:23:47 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="twitter consumer key", oauth_nonce="fea51e3d0dd89fc42b9540ce4817b665",
        oauth_signature="AifhZv%2FQ8pdwd6bCR6YIbKjpJZQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1481030627", oauth_token="twitter access token", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 06 Dec 2016 13:23:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 533241d91fd5360f29a4c552a46d9891
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1481031527'
      X-Response-Time:
      - '53'
      X-Transaction:
      - 00251bba00c49205
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Dec 06 13:16:10 +0000 2016","id":806125077091782656,"id_str":"806125077091782656","text":"Alejandro
        just hosted an online #scrum Missed it? Catch the recording at https:\/\/t.co\/Jrm31gfYxd
        #CodeForGood #opensource","truncated":false,"entities":{"hashtags":[{"text":"scrum","indices":[32,38]},{"text":"CodeForGood","indices":[97,109]},{"text":"opensource","indices":[110,121]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Jrm31gfYxd","expanded_url":"http:\/\/youtu.be\/11","display_url":"youtu.be\/11","indices":[73,96]}]},"source":"\u003ca
        href=\"http:\/\/www.agileventures.com\" rel=\"nofollow\"\u003eWebsiteOneTest\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":431173698,"id_str":"431173698","name":"Matthew
        Lindsey","screen_name":"matthewrlindsey","location":"Boston","description":"Walking
        the path","url":"http:\/\/t.co\/7jvrcOh9cP","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/7jvrcOh9cP","expanded_url":"http:\/\/www.matthewrlindsey.org","display_url":"matthewrlindsey.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":18,"friends_count":62,"listed_count":7,"created_at":"Thu
        Dec 08 00:36:48 +0000 2011","favourites_count":10,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":56,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/742356635528626176\/0CK3ZufF_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/742356635528626176\/0CK3ZufF_normal.jpg","profile_link_color":"19CF86","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}]'
  recorded_at: Tue, 06 Dec 2016 13:23:47 GMT
[...]
- request:
    method: get
    uri: http://gdata.youtube.com/feeds/api/videos/11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      X-Gdata-User-Country:
      - US
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: No longer available
  recorded_at: Wed, 07 Dec 2016 12:22:20 GMT
recorded_with: VCR 3.0.1
