@import "mixins";
@import "variables";

.btn-be-a-supporter {
  background: #e10000;
  border: 1px solid lightgray;
  opacity: 0.6;
  @include css-transition(opacity 0.5s ease);

  &:hover {
    opacity: 1;
  }
}

.btn-HOA {
  margin-top: 2px;
}
