@import 'mixins';
@import 'variables';

$footer-height: 350px;
$footer-upper-section-height: 200px;

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 0 (-$footer-height) 0;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height 0;
}

/* Set the fixed height of the footer here */
#footer {
  position: relative;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: $theme-darker;
  color: $white;
  overflow: hidden;

  .footer-info {
    padding: 0;
  }

  p, h3 {
    color: $white;
  }

  a {
    color: #cdcdcd;
    text-overflow: ellipsis;

    &:hover, &:active {
      color: $theme-main;

      &.facebook {
        color: #458dd8;
      }

      &.twitter {
        color: #8EC1DA;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  #footer {
    height: $footer-height;

    #upper-section {
      height: $footer-upper-section-height;
    }
  }
}

// FOOTER CONTACT FORM

.contact {
  text-align: right;
}
