@import "mixins";
@import "variables";

$top-content-text-color: $theme-darker;

div.section-well {
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: $screen-sm-min) {
  div.section-well {
    padding: 1em 2em;
    margin: 0;
  }
}

#top-content {
  width: 100%;
  min-height: 100%;
  color: $top-content-text-color;
  font-size: 1.3em;

  @media (max-width: $screen-sm - 1px) {
    font-size: 1.1em;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      line-height: 2em;
      @media (max-width: $screen-sm - 1px) {
        line-height: 1.5em;
      }
    }
  }

  h1 {
    color: $top-content-text-color;
    font-size: 2.5em;
  }

  @media (max-width: $screen-sm-min - 1px) {
    h1 {
      font-size: 1.5em;
    }
  }
}

ul.box h2 {
  font-size: 2em;
}

@media (max-width: $screen-sm - 1px) {
  ul.box h2 {
    font-size: 1.5em;
  }
}

ul#section-list {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  @media (max-width: $screen-sm-min - 1px) {
    font-size: 1.1em;
  }

  & > li {
    margin: 0;
    padding: 0;

    h3 {
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
      font-size: 2.5em;
    }

    @media (max-width: $screen-sm-min - 1px) {
      h2 {
        font-size: 1.5em;
      }
    }

    &:nth-child(2n+1) {
      background: asset_url("bg-1-frosted.png") no-repeat center center fixed;
      css-background-size: cover;

      .section-well {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.landing-page-section {
  width: 100%;
  padding: 1em 0;
  @media (max-width: $screen-sm-min - 1px) {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .landing-page-section {
    padding: 1em;
  }
}

.landing-CTA {
  font-size: 0.7em;
}
