@import "variables";

$top-content-text-color: $theme-main;

#top-content {
  width: 100%;
  min-height: 100%;
  background: $white;
  color: $top-content-text-color;
  font-size: 1.3em;

  ul {
    list-style: none;
    padding: 0;

    li {
      line-height: 2em;
    }
  }

  h1 {
    color: $top-content-text-color;
    font-size: 2.5em;
  }
}

ul#top-content-list {
  padding-left: 1em;
  li:nth-child(2n) {
    padding-left: 2em;
  }
}

$alt-color: $white;
$alt-background: $theme-darker;

ul#section-list {
  padding: 0;
  margin: 0;
  font-size: 1.5em;

  & > li {
    margin: 0;
    padding: 0;

    h2 {
      font-size: 2em;
    }

    &:nth-child(2n) {
      background: $alt-background;
      color: $alt-color;
      h2 {
        color: $alt-color;
      }
    }
  }
}

.landing-page-section {
  width: 100%;
  padding: 1.5em;
  min-height: 500px;
}

.landing-CTA {
  font-size: 0.7em;
}
