@import "variables";

$top-content-text-color: $theme-main;

#top-content-wrapper {
  height: 100%;
}

#top-content {
  width: 100%;
  min-height: 100%;
  background: $theme-dark;
  color: $top-content-text-color;

  h1 {
    font-size: 80px;
    color: $top-content-text-color;
  }

  h2 {
    padding-left: 55px;
    font-size: 35px;
    color: $top-content-text-color;
  }
}

#top-content-left {
  display: inline-block;
  width: 60%;
  padding: 30px;
  margin: 0;
}

#top-content-right {
  display: inline-block;
  width: 30%;
  padding: 30px;
  margin: 0;
}

#top-content-list {
  list-style: none;
  font-size: 25px;
}