<% content_for :title do %>500 Internal Error<% end %>
<% #TODO: refactor this for Bootstrap framework %>
<section id="about">
  <h3>500 Internal Error</h3>
  <p>We're sorry, but we couldn't process your request</p>
</section>