<%= form_tag subscriptions_path(plan: 'premiummob') do %>
    <article>
      <h1>Agile Ventures Premium Mob Membership</h1>
      <br/>
      <a href='/premium-mob'>Further details</a>
      </p>
      <label class="amount">
        <p>The price for Premium Mob Membership is £25.00/Month</p>
      </label>
      <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
      <% end %>
      <br/>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="2500"
            data-currency="GBP"
            data-locale="en-US"
            data-name="Premium Mob Membership"
            data-label="Sign Me Up For Premium Mob!"></script>

<% end %>
