<article>
  <h1>Agile Ventures Premium Membership</h1>
  <br/>
  <a href='/premium'>Further details</a>
  </p>
  <label class="amount">
    <p>The price for Premium Membership is £10.00/Month</p>
    <p>7 day free trial! No charge for 7 days</p>
  </label>
  <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
  <% end %>
  <br/>
</article>
<div class="row">
  <div id="paypal_section" class="col-lg-5 well" style="margin: 10px; text-align: center;"> <!-- shiv because controller stylesheets now working in production mode see https://github.com/AgileVentures/WebsiteOne/issues/1450-->
    <div style="margin-bottom: 15px;">Get Premium via Paypal:</div>
    <!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
      <!--<input type="hidden" name="cmd" value="_s-xclick">-->
      <!--<input type="hidden" name="item_number" value="123">-->
      <!--<input type="image" src="https://www.sandbox.paypal.com/en_GB/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">-->
      <!--<img alt="" border="0" src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">-->
    <!--</form>-->



    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_blank">

      <!-- Identify your business so that you can collect the payments. -->
      <input type="hidden" name="business" value="sam-facilitator@agileventures.org">

      <!-- Specify a Subscribe button. -->
      <input type="hidden" name="cmd" value="_xclick-subscriptions">

      <!-- Identify the subscription. -->
      <input type="hidden" name="item_name" value="Premium">
      <input type="hidden" name="item_number" value="123">

      <!-- Set the terms of the 1st trial period. -->
      <input type="hidden" name="currency_code" value="GBP">
      <input type="hidden" name="a1" value="0">
      <input type="hidden" name="p1" value="7">
      <input type="hidden" name="t1" value="D">

      <!-- Set the terms of the regular subscription. -->
      <input type="hidden" name="a3" value="10.00">
      <input type="hidden" name="p3" value="1">
      <input type="hidden" name="t3" value="M">

      <!-- Set recurring payments until canceled. -->
      <input type="hidden" name="src" value="1">

      <!-- don't ask user for address. -->
      <input type="hidden" name="no_shipping" value="1">

      <!-- url to return to on success -->
      <input type="hidden" name="return" value="http://localhost:3000/subscriptions/paypal">

      <!-- do a post -->
      <input type="hidden" name="rm" value="2">

      <!--<input type="hidden" name="notify_url" value="http://localhost:3000/subscriptions/paypal">-->

      <!-- Display the payment button. -->
      <input type="image" name="submit"
             src="https://www.sandbox.paypal.com/en_GB/i/btn/btn_subscribe_LG.gif"
             alt="Subscribe">
      <img alt="" width="1" height="1"
           src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" >
    </form>


    <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
      <!--<input type="hidden" name="cmd" value="_s-xclick">-->
      <!--<input type="hidden" name="item_number" value="<% current_user.try(:id)%>">-->
      <!--<input type="hidden" name="hosted_button_id" value="N5R9T269YU7XC">-->
      <!--<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">-->
      <!--<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">-->
    <!--</form>-->
  </div>

  <div id="card_section" class="col-lg-5 well" style="margin: 10px; text-align: center;"> <!-- shiv because controller stylesheets now working in production mode see https://github.com/AgileVentures/WebsiteOne/issues/1450-->

    <div style="margin-bottom: 15px;">Get Premium via Credit/Debit Card:</div>
    <%= form_tag subscriptions_path(plan: 'premium') do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="1000"
                data-currency="GBP"
                data-locale="en-US"
                data-name="Premium Membership"
                data-label="Subscribe"></script>
    <% end %>

  </div>
</div>

<!-- <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track' => true  %> -->
