<h2 id='payment_complete'>Thanks, you're now an AgileVentures Premium Mob Member!</h2>
<p>An AgileVentures mentor will be in touch shortly to help you receive all of your Premium Mob membership benefits.</p>