<div class="container">
  <ol>
    <li>Students need training in pair programming in a supervised setting to experience the mechanics of successful pairing.</li>
    <li>Teaching staff must actively engage in the management of pair interactions</li>
    <li>Teaching staff must actively engage in the management of pair interactions</li>
    <li>When students are pair programming outside of a closed laboratory or classroom setting, Instructors should provide a systematic mechanism for obtaining students’ feedback about their partners and must act upon the feedback when indications are a student is not being&nbsp;<span style="background-color:transparent;line-height:1.6;font-size:10pt">an equal participant.</span></li>
    <li>In each course, students should be evaluated on a balance of individual and collaborative work</li>
    <li>When assigning pairs, instructors should attempt to maximize the chances students will work well together.&nbsp;</li>
    <li>Students should have different partners throughout the semester.&nbsp;</li>
    <li>Students must understand that problems with their partner must be surfaced immediately to give the instructor a chance to correct the situation.&nbsp;</li>
    <li>Pairs should be able to comfortably sit next to each other as they work, and both should&nbsp;<span style="background-color:transparent;line-height:1.6;font-size:10pt">have easy access to the monitor, mouse, and keyboard.&nbsp;</span></li>
    <li>The programmers in a pair should be working toward a common goal.&nbsp;</li>
    <li>Teaching staff should encourage pairs to find answers on their own rather than providing them with answers</li>
  </ol>
  <div>From&nbsp;<a href="http://people.cs.vt.edu/~mccricks/papers/wmlh08.pdf">http://people.cs.vt.edu/~mccricks/papers/wmlh08.pdf</a></div>
</div>
