<div class="container">
  <div>Github Pong involves pushing code back and forth over related Github branches to make for quick driver/navigator swaps when one is pairing using screen share. &nbsp;First you need to ensure that all parties have a fork of whatever repo is being worked on. &nbsp;Then make sure that everyone has each other added as a remote, e.g.&nbsp;</div>
  <div><br>
  </div>
  <div><font face="courier new, monospace">git remote add &lt;pair-partner&gt; &lt;URL-to-pair-partners-repo&gt;</font></div>
  <div><br>
  </div>
  <div>use <font face="courier new, monospace">git remote -v</font> to check that's set up correctly. &nbsp;Then to get your partners code use the following:</div>
  <div><br>
  </div>
  <div><font face="courier new, monospace">git fetch &lt;pair-partner&gt;</font></div>
  <div><font face="courier new, monospace">git checkout &lt;pair-partner&gt;/&lt;branch-name&gt;</font></div>
  <div><font face="courier new, monospace">git checkout -b &lt;branch-name&gt;</font></div>
  <div><br>
  </div>
  <div>then to sync after your partner makes additional changes:</div>
  <div><br>
  </div>
  <div><font face="courier new, monospace">git pull &lt;pair-partner&gt; &lt;branch-name&gt;</font></div>
  <div><br>
  </div>
  <div>It's also great to have tab completion for branch names:</div>
  <div><br>
  </div>
  <div><a href="http://code-worrier.com/blog/autocomplete-git/" rel="nofollow" style="text-decoration:none;color:rgb(102,17,204);font-family:Roboto,Arial,sans-serif;font-size:13px;line-height:15px" target="_blank">http://code-worrier.com/blog/autocomplete-git/</a></div>
  <div><br>
  </div>
  <div>and branch names displayed in your command prompt:</div>
  <div><br>
  </div>
  <div><span style="color:rgb(17,85,204);font-family:Roboto,Arial,sans-serif;font-size:13px;line-height:15px">http://stackoverflow.com/questions/2231214/git-tips-and-tricks-display-branch-on-command-prompt-not-working-and-created-s</span></div>
  <div><span style="color:rgb(17,85,204);font-family:Roboto,Arial,sans-serif;font-size:13px;line-height:15px"><br>
</span></div>
  See examples in the following repos:
  <div><br>
  </div>
  <div><a href="https://github.com/PairProgramming/StackExercise">https://github.com/PairProgramming/StackExercise</a></div>
  <div><a href="https://github.com/PairProgramming/AddUserExercise">https://github.com/PairProgramming/AddUserExercise</a><br>
    <div><span style="color:rgb(17,85,204);font-family:Roboto,Arial,sans-serif;font-size:13px;line-height:15px"><br>
</span></div>
  </div>

</div>
