<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h3>You have a message from <%= @contact_form[:name] %>, <%= @contact_form[:email] %></h3>
<p><%= @contact_form[:message] %></p>
</body>
</html>
