<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h3>Dear <%= @contact_form[:name] %>,</h3>
<p>Thank you for your feedback!  Your message has been sent to WebsiteOne administrator.
  We will get back to you shortly.</p>
</body>
</html>
