<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h3>Welcome!</h3>

<p><strong>Thanks for joining our community! </strong></p>

<p>We just wanted to drop you a quick message to say thank you for joining AgileVentures.org </p>

<p>We appreciate you taking the time to register and really look forward to collaborating with you in our projects and
  our pairing sessions.</p>

<p> We are always looking for new projects. Either join an
  <a href="http://www.agileventures.org/projects">existing project</a> or if you want a more active role, we'll help you
  contact local non-profits to get set up with your own project in your own time zone, and then help you assemble a team
  to work on it. </p>

<p>Contact us on <a href="mailto:info@agileventures.org">info@agileventures.org</a> or via Skype (username "tansaku") to
  join our various chatrooms. </p>


<strong> Weekly Team Meeting (all welcome!)</strong>
<ul>
  <li> Every Monday on Google Hangouts at 15.15 - 16.00 UTC (GMT).</li>
</ul>
<strong> Daily Scrums (all welcome!) </strong>
<ul>
  <li> Every Day on Google Hangouts at 07:00 - 07:15 UTC(GMT) (EuroAsiaScrum)</li>
  <li> Every Day on Google Hangouts at 10:00 - 10:15 UTC(GMT) (EuroScrum)</li>
  <li> Every Day on Google Hangouts at 15:15 - 15:30 UTC (GMT) (AtlanticScrum)</li>
  <li> Every Day on Google Hangouts at 19:00 - 19:15 UTC (GMT) (PacificScrum)</li>
</ul>


<p>Please help us grow our community by inviting friends and connect with us on
  <a href="https://twitter.com/AgileVentures">Twitter</a></p>

<p>If you need help at any time, please contact us by replying to this message.
  Similarly, if you ever have any questions then please do not hesitate to send us a message or email</p>

<p>Thanks again for joining! </p>

<p>Regards,</p>

<strong>The AgileVentures.org Team</strong>
<br/>
<small>You are receiving this email because you registered
  at <a href="http://www.agileventures.org/">www.agileventures.org</a>. If you wish to be
  removed from this mailing list, please email us at <a href="mailto:info@agileventures.org">info@agileventures.org</a>.
</small>
</body>
</html>