<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h3>Welcome!</h3>

<p>You've just joined AgileVentures, and I want to personally welcome you and help you get started.</p>

<p>The next and important step is to join our <a href='https://join.slack.com/t/agileventures/shared_invite/zt-1587bzqk7-Y8ACcBKmwi0SWbI3Iu78eg'>Slack chat</a>, and get involved in everything that is happening.</p>

<p><strong>Please note!</strong> Slack is our main source of keeping in touch with the community. Make sure to join and explore the various channels.</p>

<p>AgileVentures is all about helping developers level-up. 

<p>If you feel that you want to do some real project work and practice your skills for real, we want to work with <a href="http://nonprofits.agileventures.org/">non-profits and charities</a> around the world by developing IT solutions for their pressing challenges.</p>

<p>Make sure to follow us on <a href="https://twitter.com/agileventures">Twitter</a> or <a href="https://www.linkedin.com/company/agileventures-org">LinkedIn</a> and help us spread the word.</p>


<p>We really appreciate you taking the time to register and look forward to collaborating with you in our projects and our remote pair programming sessions.</p>

<p>You can take part in most of AgileVentures activities without paying a membership fee. Associate membership is totally optional and a way of donating to our cause in order to make it sustainable. Being an Associate member does come with some perks though - please <a href="https://www.agileventures.org/associate">visit this page</a> to read about what it means. <p>
<br/><br/>
<p>Best regards,</p>
<strong>Thomas Ochman</strong>
<strong>Chief Executive - AgileVentures Charity</strong>
<br/>
<small>You are receiving this email because you registered
  at <a href="http://www.agileventures.org/">www.agileventures.org</a>. If you wish to be
  removed from this mailing list, please email us at <a href="mailto:info@agileventures.org">info@agileventures.org</a>.
</small>
</body>
</html>
