<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h3><%= @newsletter.title %></h3>

<%= simple_format(@newsletter.body) %>

<p>
<strong>The AgileVentures.org Team</strong>
<br/>
<small>You are receiving this email because you registered
  at <a href="http://www.agileventures.org/">www.agileventures.org</a>. If you wish to be removed from this mailing list, adjust your profile settings at <a href="http://www.agileventures.org">www.agileventures.org</a>.
</small>
</p>
</body>
</html>
