<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h3>Welcome!</h3>

<p><strong>Thanks for signing up for AgileVentures Premium F2F!</strong></p>

<p>An AgileVentures mentor will be in touch shortly to help you receive all of your Premium F2F membership benefits.</p>

<p>If you need help at any time, please contact us by replying to this message.
  Similarly, if you ever have any questions then please do not hesitate to send us a message or email</p>

<p>Thanks again for joining! </p>

<p>Regards,</p>

<strong>The AgileVentures.org Team</strong>
<br/>
<small>You are receiving this email because you registered
  at <a href="http://www.agileventures.org/">www.agileventures.org</a>. If you wish to be
  avoid receiving similar emails in future, please email us at <a href="mailto:info@agileventures.org">info@agileventures.org</a>.
</small>
</body>
</html>
