<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h3>Welcome!</h3>

<p>You've just joined AgileVentures, and we're here to help you contribute to an open source project to improve your tech & team skills and help a good cause! The next step is to join our <a href='https://agileventures.slack.com'>Slack chat</a> (we've emailed you an invite) and there we can help you find the right team project for you.</p>

<p>AgileVentures is all about helping you improve your team coding skills and helping <a href="http://nonprofits.agileventures.org/">non-profits and charities</a> around the world by developing IT solutions for their pressing challenges.</p>

<p>We also provide services to help developers skill up. Are you interested in React, Elixir or RSpec?  We're offering a <a href="https://www.agileventures.org/premium-mob-offer">free Premium mob programming session</a> in one of those topics to anyone who likes us on <a href="https://facebook.com/agileventures">facebook</a> or follows us on <a href="https://twitter.com/agileventures">twitter</a>.</p>

<p>We really appreciate you taking the time to register and look forward to collaborating with you in our projects and
  our remote pair programming sessions.</p>

<p>Regards,</p>

<strong>The AgileVentures.org Team</strong>
<br/>
<small>You are receiving this email because you registered
  at <a href="http://www.agileventures.org/">www.agileventures.org</a>. If you wish to be
  removed from this mailing list, please email us at <a href="mailto:info@agileventures.org">info@agileventures.org</a>.
</small>
</body>
</html>
