<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h3>Welcome!</h3>

<p><strong>Thanks for joining our community! </strong></p>

<p>We just wanted to drop you a quick message to say thank you for joining AgileVentures.org </p>

<p>We appreciate you taking the time to register and really look forward to collaborating with you in our projects and
  our remote pair programming sessions.</p>

<p>You should be automatically invited to our <a href='https://agileventures.slack.com'>Slack IM chat system</a> - look for that invitation in your email.  There are text chat channels for all the projects in the Slack chat where you can meet other developers and hear about how the existing projects are going.</p>

<p>We also have regular real time meetups, or "Scrums and Pair Hookups", about every 4/5 hours around the year around the clock.  Please drop into one of these (hosted on Google Hangouts) to say hello and get the low down on projects and meet remote pair programming partners.  Note that the times of those scrums do change, so double check our <a href='http://agileventures.org/events'>Events</a> page for the latest time information.</p>

<p>Please see our <a href='http://agileventures.org/about-us'>about page</a> for the general weekday scrum timings.</p>

<p>There are also scrums on the weekends, but they are more variable, so check our <a href='http://agileventures.org/events'>events</a> page for details.</p>

<p>Please also read our step-by-step <a href="http://agileventures.org/getting-started">Getting started guide</a> for detailed instructions on how to get involved.</p>
<p> We are always looking for new projects. Either join an
  <a href="http://www.agileventures.org/projects">existing project</a> or if you want a more active role, we'll help you
  contact local non-profits to get set up with your own project in your own time zone, and then help you assemble a team
  to work on it. </p>

<p>Please help us grow our community by inviting friends and connect with us on
  <a href="https://twitter.com/AgileVentures">Twitter</a></p>

<p>More information about AgileVentures, its history and benefits, can be found on the
  <a href="http://agileventures.org/about-us">About Us</a> page</p>

<p>If you need help at any time, please contact us by replying to this message.
  Similarly, if you ever have any questions then please do not hesitate to send us a message or email</p>

<p>Thanks again for joining! </p>

<p>Regards,</p>

<strong>The AgileVentures.org Team</strong>
<br/>
<small>You are receiving this email because you registered
  at <a href="http://www.agileventures.org/">www.agileventures.org</a>. If you wish to be
  removed from this mailing list, please email us at <a href="mailto:info@agileventures.org">info@agileventures.org</a>.
</small>
</body>
</html>
