.calendar, .eventTitle {
  float: left;
}

.calendar {
  height: 60px;
  width: 70px;
  margin-right: 10px;
  position: relative;
  background: white;
  z-index: 3;
  @include css-border-radius(4px);
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
}

.calendar .date, .calendar .month {
  display: block;
  width: 100%;
  font-weight: 900;
  text-align: center;
}

.calendar .month {
  background: #d87240;
  color: white;
  font-size: 15px;
  padding: 1px 0;
  text-shadow: 0 1px #910f17;
  background-color: #d87240;
  background: #d87240;
  letter-spacing: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.25);
}

.calendar .date {
  font-size: 45px;
  color: #333333;
  background: white;
  height: 90%;
  padding: 18px 0;
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.event-details {
  @extend .row;
  margin: 0px;
  margin-bottom: 10px;
}

.event-details-well, .schedule-well, .hangouts-management-well, .hangouts-details-well {
  @extend .row;
  @extend .well;
  @extend .well-sm;
  margin-left: 0;
  margin-right: 0;
}

.event-edit-schedule {
  @extend .btn;
  @extend .btn-info;
  width: 130px;
  white-space: normal;
}

.event-live-link {
  @extend .btn;
  @extend .btn-success;
  width: 130px;
  white-space: normal;
}

.event-row {
  @extend .row;
  border: 1px solid darkslategray;
  margin: 10px 25px 10px 25px;
  border-radius: 8px;
  padding: 0px 25px 10px 25px;
}

.event-notice {
  border: 1px solid $theme-main;
  border-radius: 5px;
  padding: 5px;
  margin: 12px 0px 0px 0px;

  a {
    text-transform: uppercase;
  }
}

.event-schedule {
  vertical-align: middle;
}

.event-title {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  font-size: x-large;
}

#recent_event_list ol {
  list-style: none;
}
