@import "../variables";

.hangouts-management {
  @extend .panel-group;
  margin: 0px;

  .restart-panel, .edit-link-panel {
    @extend .panel;
    background: transparent;
    box-shadow: none;
    border: 0;
  }

  .restart-panel {
    @extend .panel-danger;
    @extend .collapse;
  }

  .edit-link-panel {
    @extend .panel-info;
    margin-top: 5px;
  }

  .panel-heading {
    margin: 0px;
    padding: 5px;
    border-top: none;
  }

  .panel-title {
    font-size: small;
    padding-right: 5px;
  }

  .panel-close-button {
    @extend .close;
    @extend .collapse;
    color: inherit;
  }

  .panel-body {
    padding: 0px;
    margin-top: 5px;
    font-size: small;
    border-top: none !important;
    background: transparent;
  }

  .panel-body.warning {
    padding: 5px;
  }

  .btn:focus {
    outline: none;
  }

  #edit-link-form {
    @extend .panel-collapse;
    @extend .collapse;
  }

  .collapse-button {
    cursor: pointer;
  }

  .form-horizontal .form-group {
    margin: 0px;
  }

  .form-group div[class*="col-"] {
    padding: 2px;
  }

  .form-control {
    width: 100%;
    height: 30px;
    font-weight: normal;
  }

  .hangout-btn {

    height: 30px !important;
    line-height: 30px;
    padding: 0;

    .readme-link {
      background: transparent;
      color: $theme-main !important;
      display: inline-block;
      vertical-align: initial;
      padding: 0;
    }
  }
}

.hangout-details {
  dl {
    margin: 0;
    font-size: small;
  }

  dt {
    float: left;
  }

  dd {
    margin-left: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.live-hangouts {
  $hg-color: lighten($theme-main, 35);
  $hg-border: 1px solid gray;

  font-size: small;

  .fa {
    height: auto;
    font-size: 1.5em;
  }

  .panel {
    overflow: hidden;
    border: $hg-border;
  }

  .panel-info {
    font-weight: bold;
    margin-bottom: 5px;

    div {
      line-height: 25px;
    }
  }

  @mixin hg-btn($color) {
    @extend .btn;
    background-color: $color;

    font-size: smaller;

    height: 2em;
    padding: 4px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: lighten($color, 10%);
    }
  }

  .hg-toggles {
    @extend .pull-left;
    margin-bottom: 10px;
  }

  .btn-hg-join {
    hg-btn: green;
    width: 50px;
  }

  .btn-hg-join.disable {
    background-color: grey;
    box-shadow: none;
    cursor: default;

    &:hover {}

  }

  .btn-hg-watch {
    hg-btn: $theme-main;
    width: 50px;
    margin-top: 3px;
  }

  .panel-default {
    position: relative;
    transition: all 0.5s;

    .panel-heading {
      &:hover {
        background-color: $hg-color;
        border-color: $hg-color;
        box-shadow: none;
        cursor: pointer;
      }
    }

    .panel-heading.empty {
      padding-left: 10px;
    }
  }

  .panel-heading.hg-headings {
    color: white;
    background-color: $theme-dark;
  }


  .panel-body {
    border-top: $hg-border;
    background-color: $hg-color;
    padding: 5px;
    margin: 0;
  }

  .container-fluid, .panel-heading {
    padding-left: 0;
    padding-right: 0;
  }

  .container-fluid {
    text-align: left;
    white-space: nowrap;

    @media (min-width: 768px) {
      white-space: normal;

      .hg-align-right {
        text-align: right;
        direction: rtl;
      }

    }

  }

  .hg-toggle {
    width: 20px;
    padding-left: 5px;
  }

  .hg-avatar {
    padding: 0 0 0 15px;
  }

  .hg-row {
    margin-left: 0px;
    margin-right: 0px;
  }

}


html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border-radius: .28571429rem;
    border-color: #ccc;
    border: 1px solid #ccc;
    background-color: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.card:after {
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.05, 1.05);
}

.card:hover::after {
    opacity: 1;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    margin-top: 1em;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}
.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
		flex: 1 0 auto;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
		margin-bottom: 1em;
		align-content: space-around;
		justify-content: space-evenly;
}
.meta > .row [class*='col-'] {
	align-self: start;
}

.player {
  background: black;
}
