@import "variables";
@import "mixins";

.activity {
  i {
    margin: 10px 0 0 5px;
  }

  .story_name {
    span {
      color: #6BABA1;
    }
  }

  .story_estimate {
    display: block;
    margin: 0 0 0 5px;
    padding: 0;
    height: 7px;
  }
}

$avatar-size: 32px;

.projects-user-avatar {
  display: inline-block;
  width: $avatar-size;
  height: $avatar-size;
  margin: 0;
  border-radius: 5%;
}

.members-list-item {
  display: inline-block;
}

.project-sidebar {
  // mainly overrides in this section :(
  margin-top: 43px;
  padding: 0 15px 10px;

  .media-body {
    display: inline;
    width: 60%;
  }

  .media-heading {
    display: inline;
  }

  .media-item {
    margin-bottom: 0;
    height: auto;
  }

  .user-preview {
    height: auto;
    overflow: hidden;
    padding: 0;
    border-radius: 0;

    &:hover {
      background: none;
    }

    p.media-heading {
      // overriding is painful because other rules are far too specific
      font-size: 15px;
    }
  }
}

.projects-sidebar-group {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}

.widget-title {
  font-size: 1em;
  font-weight: 700;

  span {
    font-weight: 400;
  }
}

.btn-join {
  background-color: #15ab94; // #15ab94, #f89403
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;

  &:hover {
    background-color: darken(#15ab94, 7%);
  }
}

.btn-search {
  background-color: $theme-dark;
}

.tab-pane {
  padding: 1em 15px;
}

.new-project-btn {
  margin-top: 30px;
}

.new-meet-btn {
  margin-bottom: 15px;
}

.show-projects-btn {
  margin-bottom: 15px;
}

.language-search-btn {
  margin-top: 28px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-left: 0;
}

.project_card {
  display: flex;
  margin-top: 14px;
  margin-bottom: 28px;
}

.project_card .col {
  flex: 1; 
}

.project_card h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.project_card:hover {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.project_card:hover .project_card_stats {
  border-top: 1px solid #ccc;
}

.project_card:hover .project_card_stats {
  border-top: 1px solid #ccc;
}

.project_card ul {
  list-style: none;
  padding-left: 0;
}

.project_card li {
  margin-right: 10px;
}

.project_card_stats {
  display: flex;
  padding-left: 20px;

  a {
    color: #EE7335;
  }
}

.project_card_stats_items {
  display: flex;
  margin-top: 5px;
}

.flex {
  display: flex;
  align-items: flex-end;
}

#project_image {
  padding: 18px;
  width: 128px;
}

.project_title {
  margin: 5px;
  font-weight: bold;
  font-size: large;
}

#project_title {
  padding: 18px;
}

#project_listing_image {
  width: 100%;
}

#projects-header {
  margin-bottom: 40px;
}
