@import "variables";
@import "mixins";

.activity {
  i {
    margin:10px 0 0 5px;
  }
  .story_name{
    span {
      color: #6BABA1;
    }
  }
  .story_estimate {
    display: block;
    margin: 0 0 0 5px;
    padding: 0;
    height: 7px;
  }
}

$avatar-size: 32px;
.projects-user-avatar {
  display: inline-block;
  width: $avatar-size;
  height: $avatar-size;
  margin: 0;
  border-radius: 5%;
}

.members-list-item {
  display: inline-block;
}
.project-sidebar {
  // mainly overrides in this section :(
  margin-top: 43px;
  padding: 0 15px 10px 15px;

  .media-body {
    display: inline;
    width: 60%;
  }
  .media-heading {
    display: inline;
  }
  .media-item {
    margin-bottom: 0;
    height: auto;
  }
  .user-preview {
    height: auto;
    overflow: hidden;
    padding: 0;
    border-radius: 0;
    &:hover {
      background: none;
    }
    p.media-heading { // overriding is painful because other rules are far too specific
      font-size: 15px;
    }
  }
}

.projects-sidebar-group {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}

.widget-title {
  font-size: 1em;
  font-weight: 700;
  span {
    font-weight: 400;
  }
}
.btn-join {
  background-color: #15ab94; // #15ab94, #f89403
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  &:hover {
    background-color: darken(#15ab94, 7%)
  }
}
.tab-pane {
  padding: 1em 15px;
}
