---
http_interactions:
- request:
    method: get
    uri: https://disqus.com/embed/comments/?base=default&f=agileventures-dev&s_o=default&t_d=Ruby%20is%20on%20Fire%20%7C%20AgileVentures&t_e=Ruby%20is%20on%20Fire&t_i=ruby-is-on-fire&t_t=Ruby%20is%20on%20Fire&t_u=http://127.0.0.1:53554/articles/ruby-is-on-fire
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Wed, 26 May 2021 17:25:34 GMT
      Etag:
      - W/"lounge:view:2755146124.3e57ce86fbb245d23fc258f12270655e.2"
      Link:
      - "<https://c.disquscdn.com>;rel=preconnect,<https://c.disquscdn.com>;rel=dns-prefetch"
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n\n<!--[if IE 8]><html lang=\"en\" dir=\"ltr\" class=\"ie8\"><![endif]-->\n<!--[if
        IE 9]><html lang=\"en\" dir=\"ltr\" class=\"ie9\"><![endif]-->\n<!--[if gt
        IE 9]><!--><html lang=\"en\" dir=\"ltr\"><!--<![endif]-->\n\n<head>\n    <title>Disqus
        Comments</title>\n\n    \n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=no\">\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\"/>\n\n    <style>\n        .alert--warning {\n            border-radius:
        3px;\n            padding: 10px 15px;\n            margin-bottom: 10px;\n
        \           background-color: #FFE070;\n            color: #A47703;\n        }\n\n
        \       .alert--warning a,\n        .alert--warning a:hover,\n        .alert--warning
        strong {\n            color: #A47703;\n            font-weight: bold;\n        }\n\n
        \       .alert--error p,\n        .alert--warning p {\n            margin-top:
        5px;\n            margin-bottom: 5px;\n        }\n        \n        </style>\n
        \   \n    <style>\n        \n        html {\n            overflow: hidden;\n
        \       }\n        \n\n        #error {\n            display: none;\n        }\n\n
        \       .clearfix:after {\n            content: \"\";\n            display:
        block;\n            height: 0;\n            clear: both;\n            visibility:
        hidden;\n        }\n\n        \n    </style>\n\n</head>\n<body>\n    \n\n
        \   \n    <div id=\"error\" class=\"alert--error\">\n        <p>We were unable
        to load Disqus. If you are a moderator please see our <a href=\"https://docs.disqus.com/help/83/\">
        troubleshooting guide</a>. </p>\n    </div>\n\n    \n    <script type=\"text/json\"
        id=\"disqus-forumData\">{\"session\":{\"canModerate\":false,\"audienceSyncVerified\":false,\"mustVerify\":false,\"canReply\":true,\"mustVerifyEmail\":false},\"forum\":{\"aetBannerConfirmation\":null,\"founder\":\"109254110\",\"twitterName\":null,\"commentsLinkOne\":\"1
        Comment\",\"guidelines\":null,\"favicon\":{\"permalink\":\"https://disqus.com/api/forums/favicons/agileventures-dev.jpg\",\"cache\":\"//a.disquscdn.com/1622046247/images/favicon-default.png\"},\"commentsLinkZero\":\"0
        Comments\",\"disableDisqusBranding\":false,\"id\":\"agileventures-dev\",\"createdAt\":\"2014-06-08T09:49:18.847974\",\"category\":\"Tech\",\"aetBannerEnabled\":false,\"aetBannerTitle\":null,\"raw_guidelines\":null,\"initialCommentCount\":null,\"votingType\":null,\"installCompleted\":true,\"moderatorBadgeText\":\"\",\"commentPolicyText\":null,\"aetEnabled\":false,\"channel\":null,\"sort\":4,\"description\":null,\"newPolicy\":true,\"raw_description\":null,\"customFont\":null,\"language\":\"en\",\"adsReviewStatus\":0,\"commentsPlaceholderTextEmpty\":null,\"daysAlive\":0,\"forumCategory\":{\"date_added\":\"2016-01-28T01:54:31\",\"id\":8,\"name\":\"Tech\"},\"colorScheme\":\"auto\",\"pk\":\"3053135\",\"commentsPlaceholderTextPopulated\":null,\"permissions\":{},\"commentPolicyLink\":null,\"aetBannerDescription\":null,\"name\":\"AgileVentures
        Development\",\"commentsLinkMultiple\":\"{num} Comments\",\"settings\":{\"threadRatingsEnabled\":false,\"adsDRNativeEnabled\":false,\"adsPositionSidebarEnabled\":false,\"disable3rdPartyTrackers\":true,\"adsVideoEnabled\":false,\"adsProductVideoEnabled\":false,\"adsPositionTopEnabled\":false,\"ssoRequired\":false,\"unapproveLinks\":false,\"adsPositionRecommendationsEnabled\":false,\"linkAffiliationEnabled\":false,\"adsProductLinksThumbnailsEnabled\":false,\"hasCustomAvatar\":false,\"organicDiscoveryEnabled\":false,\"adsProductDisplayEnabled\":false,\"adsProductLinksEnabled\":false,\"threadReactionsEnabled\":false,\"adsEnabled\":false,\"disableSocialShare\":false,\"allowAnonPost\":false,\"adsProductStoriesEnabled\":false,\"adultContent\":false,\"allowAnonVotes\":false,\"gifPickerEnabled\":true,\"mustVerify\":true,\"badgesEnabled\":false,\"mustVerifyEmail\":true,\"audienceSyncEnabled\":false,\"behindClickEnabled\":false,\"mediaembedEnabled\":true,\"adsPositionBottomEnabled\":false,\"discoveryLocked\":false,\"validateAllPosts\":false,\"adsSettingsLocked\":false,\"isVIP\":false,\"adsPositionInthreadEnabled\":false},\"organizationId\":2271824,\"typeface\":\"auto\",\"url\":\"\",\"daysThreadAlive\":0,\"avatar\":{\"small\":{\"permalink\":\"https://disqus.com/api/forums/avatars/agileventures-dev.jpg?size=32\",\"cache\":\"//a.disquscdn.com/1622046247/images/noavatar32.png\"},\"large\":{\"permalink\":\"https://disqus.com/api/forums/avatars/agileventures-dev.jpg?size=92\",\"cache\":\"//a.disquscdn.com/1622046247/images/noavatar92.png\"}},\"signedUrl\":\"\"}}</script>\n\n
        \   <script type=\"text/json\" id=\"disqus-threadData\">{\"cursor\":{\"hasPrev\":false,\"prev\":null,\"total\":0,\"hasNext\":false,\"next\":\"1:0:0\"},\"code\":0,\"response\":{\"lastModified\":1622049934,\"posts\":[],\"thread\":{\"feed\":\"https://agileventures-dev.disqus.com/ruby_is_on_fire_29/latest.rss\",\"clean_title\":\"Ruby
        is on Fire\",\"dislikes\":0,\"likes\":0,\"message\":\"\",\"ratingsEnabled\":false,\"isSpam\":false,\"isDeleted\":false,\"category\":\"3098810\",\"adsDisabled\":false,\"author\":\"109254110\",\"id\":\"2755146124\",\"signedLink\":\"http://disq.us/?url=http%3A%2F%2F127.0.0.1%3A50454%2Farticles%2Fruby-is-on-fire&key=ZMwfNLXqn6P6nbfUy69zxg\",\"createdAt\":\"2014-06-11T11:12:49\",\"hasStreaming\":false,\"raw_message\":\"\",\"isClosed\":false,\"link\":\"http://127.0.0.1:50454/articles/ruby-is-on-fire\",\"slug\":\"ruby_is_on_fire_29\",\"forum\":\"agileventures-dev\",\"identifiers\":[\"ruby-is-on-fire\"],\"posts\":0,\"moderators\":[53201154,109254110],\"validateAllPosts\":false,\"title\":\"Ruby
        is on Fire\",\"highlightedPost\":null}},\"order\":\"popular\"}</script>\n\n\n
        \   <div id=\"fixed-content\"></div>\n\n\n    \n        \n            \n<script
        type=\"text/json\" id=\"disqus-urls\">{\n    \"root\":\"//disqus.com\",\n
        \   \"next\":\"https://c.disquscdn.com/next/current\"\n}</script>\n\n        \n
        \       \n        <script>!function () {\n            var d = document;\n
        \           var toH = d.head.appendChild.bind(d.head);\n\n            var
        v = window.location.href.match(/[#&?]version=([0-9a-f]{32})/);\n            var
        src = 'https://c.disquscdn.com/next/embed/lounge.load';\n            if (v)\n
        \               src += '.' + v[1];\n            src += '.js';\n\n            var
        s = d.createElement('script');\n            s.crossOrigin = 'anonymous';\n
        \           s.id = 'bootstrap-script';\n            s.setAttribute('data-app',
        'lounge');\n            s.src = src;\n            toH(s);\n\n            var
        m = d.createElement('meta');\n            m.setAttribute('http-equiv', 'Content-Security-Policy');\n
        \           m.setAttribute('content', \"script-src https:;\");\n            toH(m);\n
        \       }();</script>\n    \n</body>\n</html>\n"
  recorded_at: Wed, 05 Feb 2014 06:56:26 GMT
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A53554%2Farticles%2Fruby-is-on-fire&or=http%3A%2F%2F127.0.0.1%3A53554&ref=http%3A%2F%2F127.0.0.1%3A53554%2Farticles%2Fruby-is-on-fire%2Fedit&title=Ruby+is+on+Fire+%7C+AgileVentures&pw=1024&ph=768&ism=false&cloc=undefined&sd=768&st=907&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A53554%[...]
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A53554%2Fprojects%2Fhello-galaxy&or=http%3A%2F%2F127.0.0.1%3A53554&ref=&title=Hello+Galaxy+%7C+AgileVentures&pw=1024&ph=768&ism=false&cloc=undefined&sd=768&st=1350&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A53554%2Fprojects%2Fhello-galaxy&targcv%5Bdoctitle%5D=Hello+Galaxy+%7C+AgileVentures&targcv%5Blptitle%5D=Hello+Galaxy+%7C+AgileVentures&targcv%5Blpurl%5D=http%3A%2F%2F127.0.0.1%3A53554%2Fprojects%2Fhello-galaxy&targcv%5B%24browser%5D%5Bwebkit%5D=true&targcv%5B%24browser%5D%5Bversion%5D=538.1&targcv%5B%24browser%5D%5Bsafari%5D=true&targcv%5BuserAgent%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bmobchua%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bref%5D=&targcv%5Bnv%5D=true&isvp=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"noinspectlet":"crawlbot"}'
  recorded_at: Wed, 05 Feb 2014 06:56:28 GMT
[...]
- request:
    method: get
    uri: https://disqus.com/embed/comments/?base=default&f=agileventures-dev&s_o=default&t_d=A%20New%20Guide%20to%20the%20Galaxy%20-%20Hello%20Galaxy%20%7C%20AgileVentures&t_e=A%20New%20Guide%20to%20the%20Galaxy&t_i=a-new-guide-to-the-galaxy&t_t=A%20New%20Guide%20to%20the%20Galaxy&t_u=http://127.0.0.1:59870/projects/hello-galaxy/documents/a-new-guide-to-the-galaxy
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
[...]
