---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=11&key=AIzaSyCv4wTEqPmcTepNWMNXXuW9_ciCzXFlFJU&maxResults=50&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/Rk41fm-2TD0VG1yv0-bkUvcBi9s"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/Rk41fm-2TD0VG1yv0-bkUvcBi9s\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 0
         },
         "items": []
        }
  recorded_at: Fri, 11 Nov 2016 17:45:21 GMT
recorded_with: VCR 3.0.1
