.calendar-block {
  margin-left: 20px;

  .fa-calendar {
    display: inline-block;
    font-size: 24px;
    margin: 10px;
    vertical-align: top;
  }

  .calendar-text {
    display: inline-block;
  }
}
