<%= javascript_include_tag 'scrums' %>
<div class="jumbotron">
  <h1>Welcome to our Scrums Page</h1>
  <h3>Choose a scrum to view</h3>
</div>
<!-- Modal -->
<div class="modal fade" id="player" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="playerTitle"></h4>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<ul class="timeline">
  <% @scrums.each_slice(2) do |videos| %>
    <%= render :partial => 'scrums/scrum', :locals => { :videos => videos }%>
  <% end %>
</ul>
