<%= javascript_include_tag 'scrums' %>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Scrums Page</h1>
    <p>Choose a Scrum to view.</p>

  </div>
</div>


<div class="row">
  <div class="col-md-7 col-sm-7">
    <td><h4 id="video_contents"><%= @scrums.first['content'] %></h4></td>
    <iframe id="ytplayer" type="text/html" width="250" height="250" src="<%= scrum_embed_link @scrums.first %>" frameborder="0"></iframe>
  </div>
  <div class="col-md-5 col-sm-5">
    <h4>Programming sessions</h4>
    <table class="table table-bordered table-striped table-hover table-condensed">
      <% @scrums.each do |video| %>
          <tr>
            <td><%= scrum_link(video) %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>












