---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/embed/yt_video_id_138?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><meta name="viewport" content="width=device-width, initial-scale=1"><style name="www-roboto" >@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}</style><script name="www-roboto" >if (document.fonts && document.fonts.load) {document.fonts.load("400 10pt Roboto", "");document.fonts.load("500 10pt Roboto", "");}</script>  <link rel="stylesheet" href="/yts/cssbin/www-player-vflgAo4Qu.css" name="www-player">
        <style>html {overflow: hidden;          }body {font: 12px Roboto, Arial, sans-serif;background-color: #000;color: #fff;height: 100%;width: 100%;overflow: hidden;position: absolute;margin: 0;padding: 0;}#player {width: 100%;height: 100%;}h1 {text-align: center;color: #fff;}.hid {display: none;}h3 {margin-top: 6px;margin-bottom: 3px;}.player-unavailable {position: absolute;top: 0;left: 0;right: 0;bottom: 0;padd[...]
- request:
    method: post
    uri: https://www.youtube.com/ad_data_204
    body:
      encoding: UTF-8
      string: dt=1537305063287&flash=0&frm=2&u_tz=0&u_his=1&u_java=false&u_h=768&u_w=1024&u_ah=768&u_aw=1024&u_cd=32&u_nplug=0&u_nmime=0&ca_type=image&bid=ANyPxKoCCESPT6SR6P9SaelxmdNX2OlmTgbg4_DY6CFvnrUxUL743M94iy5SFVKt6khX2PQ4oCQV&bsq=0&session_token=QUFFLUhqbk1LcHJLS1BKNU9Ha2QyVHBBVFQyUms0bWIwZ3xBQ3Jtc0tuVzlKbFBLRl9xc2REMGUwdXRsTnl5bGp6b3c5VTBvaUljUDY4YnF0X0tRckx4Y3B3LUZ1b0UzeENtaFhVYUFYNWtyd2gtckY1S1ViXzhEc3c0T21Sd2NVMFp2S0JoY1lINUllM2Rrd0pUc2VmdWhXTWJQWGZTeWVObFU2RHRoRDF1RGhWWlFtaFN4VXQxeE95TTVZOXBBcy1yb3c%3D
    headers:
      X-Youtube-Utc-Offset:
      - '0'
      X-Youtube-Client-Name:
      - '56'
      X-Youtube-Client-Version:
      - '20180913'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Feb 2014 07:02:54 GMT
recorded_with: VCR 4.0.0
