---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/contributors?anon=1&client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1537308697'
      Etag:
      - W/"4db0be5baabd4b09c3260010f81038e2"
      Last-Modified:
      - Mon, 17 Sep 2018 09:20:12 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"tochman","id":5248170,"node_id":"MDQ6VXNlcjUyNDgxNzA=","avatar_url":"https://avatars1.githubusercontent.com/u/5248170?v=4","gravatar_id":"","url":"https://api.github.com/users/tochman","html_url":"https://github.com/tochman","followers_url":"https://api.github.com/users/tochman/followers","following_url":"https://api.github.com/users/tochman/following{/other_user}","gists_url":"https://api.github.com/users/tochman/gists{/gist_id}","starred_url":"https://api.github.com/users/tochman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tochman/subscriptions","organizations_url":"https://api.github.com/users/tochman/orgs","repos_url":"https://api.github.com/users/tochman/repos","events_url":"https://api.github.com/users/tochman/events{/privacy}","received_events_url":"https://api.github.com/users/tochman/received_events","type":"User","site_admin":false,"contributions":1035},{"login":"yggie","id":2663402,"node_id":"MDQ6VXNlcjI2NjM0MDI=","avatar_url":"https://avatars3.githubusercontent.com/u/2663402?v=4","gravatar_id":"","url":"https://api.github.com/users/yggie","html_url":"https://github.com/yggie","followers_url":"https://api.github.com/users/yggie/followers","following_url":"https://api.github.com/users/yggie/following{/other_user}","gists_url":"https://api.github.com/users/yggie/gists{/gist_id}","starred_url":"https://api.github.com/users/yggie/starred{/ow[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne/stats/contributors?client_id=d05eb310ebf549e53889&client_secret=6a5988af12a8a012399e037d0586bf706c4bfbf0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1537308697'
      Etag:
      - W/"e6b7359ce2c9a95a49506119a18e2f63"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"total":1,"weeks":[{"w":1388880000,"a":0,"d":0,"c":0},{"w":1389484800,"a":0,"d":0,"c":0},{"w":1390089600,"a":0,"d":0,"c":0},{"w":1390694400,"a":0,"d":0,"c":0},{"w":1391299200,"a":0,"d":0,"c":0},{"w":1391904000,"a":0,"d":0,"c":0},{"w":1392508800,"a":0,"d":0,"c":0},{"w":1393113600,"a":0,"d":0,"c":0},{"w":1393718400,"a":0,"d":0,"c":0},{"w":1394323200,"a":0,"d":0,"c":0},{"w":1394928000,"a":0,"d":0,"c":0},{"w":1395532800,"a":0,"d":0,"c":0},{"w":1396137600,"a":0,"d":0,"c":0},{"w":1396742400,"a":0,"d":0,"c":0},{"w":1397[...]
