---
http_interactions:
- request:
    method: get
    uri: https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_GB.pOO7yrbxBic.O/m=auth/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCP2oT3puUj5majzgvZgAp3l-GJ8UA/cb=gapi.loaded_0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 01 Feb 2016 09:15:02 GMT
- request:
    method: get
    uri: https://talkgadget.google.com/talkgadget/_/widget?gsrc=3p&hangout_type=onair&initial_apps=%5B%7B%22app_id%22:%22%22,%22start_data%22:%7B%22title%22:%22Daily%20Standup%22,%22category%22:%22PairProgramming%22,%22projectId%22:%22%22,%22eventId%22:%221%22,%22hostId%22:1,%22hangoutId%22:%22100%22,%22callbackUrl%22:%22https://127.0.0.1:50012/hangouts/%22%7D,%22app_type%22:%22LOCAL_APP%22%7D%5D&jsh=m%3B/_/scs/apps-static/_/js/k=oz.gapi.en_GB.pOO7yrbxBic.O/m=__features__/am=AQ/rt=j/d=1/rs=AGLTcCP2oT3puUj5majzgvZgAp3l-GJ8UA&origin=http://127.0.0.1:50012&render=createhangout&topic=Daily%20Standup&widget_size=175
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML><html><head><meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\">\n<title>+Hangout</title>\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/_/scs/talk-static/_/ss/k=wcs.createhangoutframe.aflyb7lc95qw.L.W.O/d=0/rs=AGyH-Ft6d5qK6ftDo1KaVICbFyZJiCQS7g\">\n<script
        type=\"text/javascript\" src=\"/_/scs/talk-static/_/js/k=wcs.createhangoutframe.en_GB.dYQ-nkMOhoc.O/m=createhangoutframe/rt=j/d=1/rs=AGyH-Furt2HBakerfCIjikBC5A9JPjwwvA\">\n
        \     \n    </script>\n<script type=\"text/javascript\">\n      iframe_load(\"[,\\x22Daily
        Standup\\x22,,,,1,1,175,,,0,[]\\n,,,,[]\\n,2,[]\\n,\\x22127.0.0.1\\x22]\\n\");\n
        \   </script></head>\n<body></body></html>"
  recorded_at: Mon, 01 Feb 2016 09:15:02 GMT
- request:
    method: get
    uri: https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_GB.pOO7yrbxBic.O/m=hangout/exm=auth/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCP2oT3puUj5majzgvZgAp3l-GJ8UA/cb=gapi.loaded_1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 01 Feb 2016 09:15:02 GMT
- request:
    method: get
    uri: https://talkgadget.google.com/_/scs/talk-static/_/ss/k=wcs.createhangoutframe.aflyb7lc95qw.L.W.O/d=0/rs=AGyH-Ft6d5qK6ftDo1KaVICbFyZJiCQS7g
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css; charset=UTF-8
      Last-Modified:
      - Tue, 30 Aug 2016 16:00:37 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: 'body.z-we,.z-we{font-family:Roboto;font-weight:400}.z-qa-Ig{background:rgba(255,255,255,0.8);bottom:0;left:0;right:0;position:fixed;top:0}.z-ma{font-weight:300}a.z-za,a:link.z-za,.z-za{color:#427fed}input.z-Zc,.z-Zc{border:1px
        solid #d9d9d9;border-top:1px solid #c0c0c0;font-family:Roboto;font-size:13px;font-weight:300;height:25px;padding:1px
        8px;-webkit[...]
- request:
    method: get
    uri: https://talkgadget.google.com/_/scs/talk-static/_/js/k=wcs.createhangoutframe.en_GB.dYQ-nkMOhoc.O/m=createhangoutframe/rt=j/d=1/rs=AGyH-Furt2HBakerfCIjikBC5A9JPjwwvA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Last-Modified:
      - Tue, 30 Aug 2016 16:00:47 GMT
      Alternate-Protocol:
      - 443:quic
    [...]
- request:
    method: get
    uri: https://apis.google.com/js/api.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=utf-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        var gapi=window.gapi=window.gapi||{};gapi._bs=new Date().getTime();(function(){var f=window,h=document,m=f.location,n=function(){},[...]
{"request":["Accept","Accept-Language","Authorization","Cache-Control","Content-Disposition","Content-Encoding","Content-Language","Content-Length","Content-MD5","Content-Range","Content-Type","Date","GData-Version","Host","If-Match","If-Modified-Since","If-None-Match","If-Unmodified-Since","Origin","OriginToken","Pragma","Range","Slug","Transfer-Encoding","Want-Digest","X-ClientDetails","X-GData-Client","X-GData-Key","X-Goog-AuthUser","X-Goog-PageId","X-Goog-Encode-Response-If-Executable","X-Go[...]
- request:
    method: get
    uri: https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_GB.pOO7yrbxBic.O/m=gwidget/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCP2oT3puUj5majzgvZgAp3l-GJ8UA/cb=gapi.loaded_0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 01 Feb 2016 09:15:02 GMT
recorded_with: VCR 3.0.1
