<% content_for :scripts do %>
  <%= javascript_include_tag 'hangouts/hangout_button' %>
<% end %>
<div id="liveHOA-placeholder"
  data-topic='<%= topic %>'
  data-app-id='<%= Hangouts::SERVICE_APP_ID %>'
  data-callback-url='<%= hangout_url(id) %>'>
  Please refresh the page to load the hangouts
</div>
