<table>
  <tr>
    <td>Title</td>
    <td><p>  </p></td>
    <td style="padding-left: 10px;"><%= event.name %></td>
  </tr>
  <tr>
    <td>Category</td>
    <td><p>  </p></td>
    <td style="padding-left: 10px;"><%= event.category %></td>
  </tr>
</table>
<br>
<p><%= link_to 'Click to join the hangout', hangout.hangout_url %>   Updated: <%= time_ago_in_words hangout.updated_at if hangout %> ago
