<div id="liveHOA-placeholder"></div>
<%= javascript_tag do  %>
  <% callback_url = "#{request.protocol}#{request.host_with_port}/ho_service/#{id.to_s}" %>
  gapi.hangout.render('liveHOA-placeholder', {
    'render': 'createhangout',
    'topic': '<%= topic  %>',
    'hangout_type': 'onair',
    'initial_apps': [{'app_id' : '227702023966',
                      'start_data' :'<%= callback_url %>',
                      'app_type' : 'ROOM_APP' 
                    }],
    'widget_size': 150
  });
<% end %>
