<div class='container-fluid'>
  <div class='row'>
    <div class="col-sm-1 hg-toggle"></div>
    <div class="col-sm-1 hg-align-right">Started</div>
    <div class="col-sm-4">Title </div>
    <div class="col-sm-4">Project</div>
    <div class="col-sm-1">Host</div>
    <div class="col-sm-1">Hangout</div>
  </div>
</div>
