<table cellspacing='0'>
  <thead>
    <tr>
      <th>Started at</th>
      <th>Event</th>
      <th>Category</th>
      <th>Project</th>
      <th>Title</th>
      <th>Host</th>
      <th>Join</th>
      <th>Watch</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
