
// for the projects sidebar
$sidebar-width: 250px;
$sidebar-bg-color: #efefef;
$sidebar-a-color: #777;
$sidebar-a-hover-color: #000;
$sidebar-a-bg-hover-color: #dfdfdf;

$theme-main: #F07F48;
$theme-secondary: #00A876;
$theme-dark: #464646;
$theme-darker: #303030;
$white: #fff;
$black: #4d4e53;

$link-color: $theme-main;
$link-hover-color: #b06137;
$highlight-color: #F7EFEB;
