
// for the projects sidebar
$sidebar-width: 250px;
$sidebar-bg-color: #efefef;
$sidebar-a-color: #777;
$sidebar-a-hover-color: #000;
$sidebar-a-bg-hover-color: #dfdfdf;

$link-color: #F07F48;
$link-hover-color: #b06137;
$highlight-color: #F7EFEB;

$black: #4d4e53;

$theme-main: #F07F48;
$theme-dark: #fffffb;
$white: #fff;
