/*!

 *= require_self
 *= require_tree
 */

@import "bootstrap";

.signin {
  h2 { margin-top: 0; }
  form { margin-bottom: 20px; }
  .glyphicon { top: 0; }
}


#devise .custom-label {
  margin-left: 5px;
  margin-top: 3px;
  position: absolute;
  color: black;
}

.alert {
  margin-top: 5px;
}

label {
  color: black;
}
