/*!

 *= require_self
 *= require_tree
 */

@import "bootstrap";

.signin {
  h2 { margin-top: 0; }
  form { margin-bottom: 20px; }
  .glyphicon { top: 0; }
}


#devise .custom-label {
  margin-left: 5px;
  margin-top: 3px;
  position: absolute;
  color: black;
}

.alert {
  margin-top: 5px;
}

label {
  color: black;
}

.bg-3 {
  background: url('bg1-db4d48709782e1e17ea9b9f2c41da4a1.jpg') no-repeat center center fixed;
  /*background: #f16251; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-1 {
  background: url('http://www.ilikewallpaper.net/ipad-air-wallpapers/download/8253/Dark-Pattern-ipad-4-wallpaper-ilikewallpaper_com_1024.jpg') no-repeat center center fixed;
  /*background: #f16251;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-2 {
  background: url('http://www.thetelegram.com/media/photos/unis/2013/11/20/2013-11-20-08-21-31-A12-bw-Social-Media-laptop.jpg') no-repeat center center fixed;
  /*background: #ffcc33; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

