/*!

 *= require_self
 *= require_tree
 */

@import "bootstrap";

.signin {
  h2 { margin-top: 0; }
  form { margin-bottom: 20px; }
  .glyphicon { top: 0; }
}

.navbar-nav>li>a {
  padding-top: 17px;
  padding-bottom: 13px;
}

#devise .custom-label {
  margin-left: 5px;
  margin-top: 1px;
  position: absolute;
}
