// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

section.article-full {
  margin: 0;
  padding: 0;
}

section.article-preview {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 20px;
  max-height: 200px;
  overflow: hidden;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

header.article-header {
  height: auto;
  background: transparent;
}

textarea.md-edit {
  font-family: monospace;
  resize: none;
}

.md-preview {
  overflow: hidden;
}
