// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

import 'mixins'

section.article-full {
  margin: 0;
  padding: 0;
  display: block;
}

header.article-header {
  height: auto;
}
