@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    -webkit-font-smoothing: antialiased;
    font: normal 14px arial,sans-serif;
}

h1, h2, h3, h4 {
    color: darkgray;
}

p, a {
    line-height: 28px;
}

.row {
    margin-left:0px;
    margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
    padding: 60px 15px 0;
}
.container .credit {
    margin: 20px 0;
}

#footer {
    background-color:#414141;
}

#footer a {
    color:#efefef;
}

h1,h2,h3,h4 {
    font-family: 'Kreon', serif;
    vertical-align:middle;
}

header {
    background: rgba(211, 84, 0,1.0);
    height: 60px;
    color: #000000;
}

header h1,header h2,header h3 a,header a,header a:hover {
    color:#101010;
    font-weight:800;
    text-decoration:none;
}

header h3 {
    font-family: 'Kreon', serif;
    background: rgba(241, 196, 15,1.0);
    padding:10px;
    border-radius:3px;
    font-size:34px;
    padding:12px 10px 6px 10px;
}

header .dropdown-menu {
    top:74px;
    background: rgba(241, 196, 15,1.0);
    border-width:0;
}

h1 {
    font-size:50px;
}

.opacity-dark {
    padding:20px;
    background-color:rgba(5,5,5,.8);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.opacity-light h1 {
    color: rgba(52, 73, 94,1.0);
}

.opacity-light {
    padding:20px;
    background-color: rgba(192,192,192,.4);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.opacity-light h1 {
    color: #000000;
}


#nav {
    width: 100%;
    position:static;
    top:-32px;
}

#nav.affix {
    position: fixed;
    top: 0;
    z-index: 1000;
    -webkit-transition: all .6s ease-in-out;
}

#footer > .container {

}

@media (min-width: 767px) {
    .navbar-nav.nav-justified > li{
        float:none;
    }
}
.navbar-nav {
    margin: 1px 1px;
}

/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
    font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
    color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
    background-color: #000;
}
.navbar-custom .dropdown-menu{
    right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
    border-top-color: #999;
    border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
    outline:0;
}

.divider {
    height:100px;
}

.panel {
    border-width:0;
}

@media (max-width: 768px) {
    header {
        height: 95px;
    }
}

#map-canvas {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 15px;
}

.scroll-top {
    position:fixed;
    bottom:0;
    right:6%;
    z-index:100;
    background: #ffcc33;
    font-size:24px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
    color:#222;
}


section {
    min-height: 400px;
    height: auto !important;
    height: 100%;
    padding-top:100px;
}




.bg-4 {
padding-top:30px;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)),to(rgba(255,255,255,0)), color-stop(1,#000));
}

.bg-5 {
padding-top:20px;
background-color: rgba(255,255,255,.9);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
padding-bottom: 30px;
margin-bottom: 30px;
}


/* Portfolio css */

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 10px;
    text-align: center;
}

.view-tenth p {
    color: #333;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.view {
    z-index: 9;
    cursor: default;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0 3px #ddd;
}

.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}

.view-tenth img {
    left: 10px;
    margin-left: -10px;
    position: relative;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.view-tenth:hover > img {
    -webkit-transform: scale(2) rotate(10deg);
    -moz-transform: scale(2) rotate(10deg);
    -o-transform: scale(2) rotate(10deg);
    -ms-transform: scale(2) rotate(10deg);
    transform: scale(2) rotate(10deg);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 22px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
    text-shadow: none;
}

.view-tenth h2 {
    color: #333;
    margin: 20px 40px 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}



.view-tenth a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

