@import "mixins";

.doc-option {
  font-size: 60%;
  display: inline;
}

.doc-option-icon {
  display: inline-block;
  background: #fff;
  height: 100%;
  vertical-align: middle;
}

.doc-option-text {
  @include css-transition(max-width, 0.3s, ease, 0s);
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-width: 0px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.doc-option:hover .doc-option-text {
  max-width: 150px;
}
