#event-container {
    display: flex;
    flex-flow: row wrap;
}

#event-container .event-item {
    width: 25%;
    height: 150px;
    margin: 5px, 15px, 5px, 5px;
}

#event-container .event-item h2, .event-item h4  {
    padding-left: 0px !important;
}

#event-container .event-item p, .event-item a  {
    padding-left: 8px !important;
}

#event-container .event-item img {
    margin-left: 8px !important;
    width: 200px;
}

@media (min-width: 768px) and (max-width: 979px) {
    #event-container .git-item {
        width: 50%;
        height: 150px;
        margin-bottom: 10px!important;
    }
}

@media (max-width: 767px) {

    #event-container .event-item {
        width: 50%;
        height: 150px;
        margin-bottom: 10px!important;
    }
}
@media (max-width: 480px) {

    #event-container .event-item {
        width: 50%;
        height: 150px;
        margin-bottom: 10px!important;
    }
}


