@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

#hoa-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#eventContainer {
  display: flex;
  flex-flow: row;

}

.eventCards {
  max-width: 100%;
  padding: 0;
  list-style: none;
}

.card {
  padding: 5px;
  border: 1px solid #d5d5d5;
  max-width: 48% !important;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  background: white;
  opacity: 0.8;
  @include css-transition(opacity 0.2s ease-in-out);
}

.card:hover {
  opacity: 1;
}

.cardInner {
  position: relative;
  padding: 5px;
  height: 100%;
  border-radius: 1px;
  border: 1px solid #d5d5d5;
}

.cardInner:after {
  content: "";
  display: table;
  clear: both;
}

.cardInner .boxEvent {
  margin-top: -15px;
  width: 70%;
  position: relative;
  z-index: 3;
  display: inline-block;
  height: 100px;

}

.cardInner b {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF07F48', endColorstr='#FF000000');
  background-image: -moz-linear-gradient(top, rgba(240, 127, 72, 0.95) 85%, rgba(240, 127, 72, 1) 100%);
  background-image: -o-linear-gradient(top, rgba(240, 127, 72, 0.95) 85%, rgba(240, 127, 72, 1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(240, 127, 72, 0.95) 85%, rgba(240, 127, 72, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(240, 127, 72, 0.95) 85%, rgba(240, 127, 72, 1) 100%);
  border-radius: 1px;
}

.eventTitle a {
  color: white;

  &:hover, &:active {
    color: lightgray;
  }
}

.eventText {
  display: inline-block;
  line-height: 14px;
  color: $white;
  z-index: 3;
  width: 100%;
}

.eventTime {
  display: inline-block;
  font-weight: bold;
  line-height: 12px;
  color: white;
  width: 100%;
}

.calendar, .eventTitle {
  float: left;
}

.calendar {
  height: 60px;
  width: 70px;
  margin-right: 10px;
  position: relative;
  background: white;
  z-index: 3;
  border-radius: 4px;
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
}

.calendar .date, .calendar .month {
  display: block;
  width: 100%;
  font-weight: 900;
  text-align: center;
}

.calendar .month {
  background: #d87240;
  color: white;
  font-size: 15px;
  padding: 1px 0;
  text-shadow: 0 1px #910f17;
  background-color: #d87240;
  background: #d87240;
  letter-spacing: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.25);
}

.calendar .date {
  font-size: 45px;
  color: #333333;
  background: white;
  height: 90%;
  padding: 18px 0;
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
