#footer {
    min-height: 260px;
    margin-top: 40px;
    background-color: #252528;
    color: #fff;
    padding-top: 35px;
    /* testimonials */
    /* contact */
    /* credits */
    /* inner footer */ }
#footer .contact {
    text-align: right; }
#footer .contact label{
    color: #ffffff; }

#footer .contact .footer_header {
    text-align: left;
    margin-top: -20px;
    margin-left: 35px; }
#footer .contact input[type="text"], #footer .contact textarea {
    border: none;
    background-color: #1f1f21;
    color: #868687;
    padding: 8px 20px;
    border-radius: 3px;
    font-size: 14px;
    width: 95%;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    margin-bottom: 10px; }
#footer .contact input[type="text"]:focus, #footer .contact textarea:focus {
    border: none;
    box-shadow: none;
    background-color: #000; }
#footer .contact input[type="text"]:moz-placeholder, #footer .contact textarea:moz-placeholder {
    color: #868687; }
#footer .contact input[type="text"]::-webkit-input-placeholder, #footer .contact textarea::-webkit-input-placeholder {
    color: #868687; }
#footer .contact input[type="text"]:-ms-input-placeholder, #footer .contact textarea:-ms-input-placeholder {
    color: #868687; }
#footer .contact input[type="submit"] {
    background-color: #3e3e40;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear; }

#footer .contact input[type="submit"]:hover {
    background-color: #2190DB;
}
