@import "variables";
@import "mixins";

#with-sidebar-container {
  position: relative;
}

#not-sidebar-content {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  padding: 15px;
//  @include css-shadow(0px, 0px, 15px, -5px, black);
}

#sidebar {
  margin-top: 20px;
  @include css-shadow(0px, 0px, 15px, -5px, black);
}

#sidebar * {
  padding: 0;
  margin: 0;
}

#sidebar span {
  font-size: 120%;
}

#sidebar a {
  color: $sidebar-a-color;
}

#sidebar a:hover, a:active {
  color: $sidebar-a-hover-color;
  text-decoration: none;
}

#sidebar h3 {
  padding: 15px 0 5px 0;
  font-size: 130%;
  width: 100%;
  text-align: center;
}

#sidebar .collapse-icon {
  width: 18px;
  height: 18px;
  margin-left: -22px;
}

#sidebar ul {
  list-style: none;
  padding-left: 18px;
}

#sidebar ul ul {
  padding-left: 20px;
}

#sidebar li {
  font-size: 15px;
  width: 100%;
  padding: 3px 10px;
}

#sidebar .focused {
  font-weight: bold;
}

.separator {
  width: 100%;
  height: 10px;
  /*border-bottom: 1px solid $sidebar-a-color;  */
}
