// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#card_section, #paypal_section{
  margin: 10px;
  text-align: center;
}

