@import "variables";
@import "mixins";

.member-title {
  font-size: 0.85em;
  font-weight: bold;
  color: $theme-darker;
}

.index-summary {
  p {
    margin-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
      padding-left: 0 !important;
    }
  }
}

.user-skills {
  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding-right: 1.5em;
    }
  }

  margin-bottom: 30px;
}

.user-projects {
  @extend .user-skills;
}

.user-summary {
  h3 {
    margin: 10px 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.user-profile-btn {
  width: 100%;
  vertical-align: middle;
  display: block;
  padding: 5px;
  margin: 3px 0;
  @include css-transition(background-color 0.3s ease);

  &:hover {
    background-color: $highlight-color;
  }
}

.user-restricted {
  color: $theme-lighter-dark;

  &:hover {
    color: $theme-darker;
  }
}
