---
http_interactions:
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A63045%2Fusers%2Fthomas-mclaughlin&or=http%3A%2F%2F127.0.0.1%3A63045&ref=&title=AgileVentures&pw=1024&ph=768&ism=false&cloc=undefined&sd=768&st=1103&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A63045%2Fusers%2Fthomas-mclaughlin&targcv%5Bdoctitle%5D=AgileVentures&targcv%5Blptitle%5D=AgileVentures&targcv%5Blpurl%5D=http%3A%2F%2F127.0.0.1%3A63045%2Fusers%2Fthomas-mclaughlin&targcv%5B%24browser%5D%5Bwebkit%5D=true&targcv%5B%24browser%5D%5Bversion%5D=538.1&targcv%5B%24browser%5D%5Bsafari%5D=true&targcv%5BuserAgent%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bmobchua%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bref%5D=&targcv%5Bnv%5D=true&isvp=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>400 Bad Request</title></head>\r\n<body>\r\n<center><h1>400
        Bad Request</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 24 Jun 2021 21:12:55 GMT
[...]
