---
http_interactions:
- request:
    method: get
    uri: https://checkout.stripe.com/v3/yiWszEIcz0H0K2eT1bmgQ.html?distinct_id=58225aef-8990-0b19-31f3-ee5396d03778
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/plain
      Fastly-Debug-Digest:
      - 9383d5b1ab7cd2f356d7907e0148c5961c01dd8154b79c79cfde50d48573a3df
    body:
      encoding: UTF-8
      string: Forbidden
  recorded_at: Wed, 14 Dec 2016 14:46:18 GMT
[...]
- request:
    method: post
    uri: https://api.chatlio.com/v1/v/visitor/register
    body:
      encoding: UTF-8
      string: '{"vsUuid":"09d284ac-c122-4b9b-a01d-f762408070c0","ceUuid":"8a54fdee-6747-4ce9-4d69-f03c2af664f2","page":"http://127.0.0.1:64502/users/thomas-oberbrunner","loaderVersion":"459dc1d-1489104113585","widgetVersion":"18ea608-1495785511396"}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjZVVVSUQiOiI4YTU0ZmRlZS02NzQ3LTRjZTktNGQ2OS1mMDNjMmFmNjY0ZjIiLCJleHAiOjE1MDE2NDkwMzYsImlhdCI6MTUwMTY0MTgzNiwidnNVVUlEIjoiMDlkMjg0YWMtYzEyMi00YjliLWEwMWQtZjc2MjQwODA3MGMwIn0.x9WTtj9sVmFa8DKPmhh4LtiziRrGt7g5exMC1Ifq5OA
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"off":false,"maxVisitorInactiveMins":3,"status":"online","hideWhenOffline":false,"showAvatarPreChat":false,"showTeamAvatarPreChat":false,"newMsgNotifications":true,"playSound":true,"activeAgentAvatar":"","forwardSlackUserName":false,"titleColor":"#3f51b5","titleFontColor":"#fff","onlineTitle":"How
        can we help you?","offlineTitle":"Contact Us","agentLabel":"Support","browserSideAuthorLabel":"","onlineMessagePlaceholder":"Type
        message here...","whiteLabel":false,"trackPresence":false,"offlineGreeting":"Sorry
        we are away, but we would love to hear from you and chat soon!","offlineEmailPlaceholder":"Email","offlineMessagePlaceholder":"Your
        message here","offlineNamePlaceholder":"Name (optional but helpful)","offlineSendButton":"Send","offlineThankYouMessage":"Thanks
        for your message. We will be in touch soon!","requireInfo":false,"requireInfoGreeting":"Enter
        your name and email to start chatting!","requireInfoSubmitBtn":"Start","requestScreenshotText":"Operator
        would like to take a screenshot of your browser. Confirm below.","requestScreenshotAllowLabel":"Take
        screenshot","requestScreenshotDeclineLabel":"Decline","teamAvatarOn":false,"collapsedMode":"chip","defaultOkBtnLabel":"Ok","defaultSendBtnLabel":"Send","defaultCancelBtnLabel":"Cancel","defaultYesBtnLabel":"Yes","defaultNoBtnLabel":"No","showConversationEnd":false,"showConversationRating":true,"conversationEndLabel":"Your
        chat session has ended. Thanks for chatting!","conversationRatingLabel":"How
        would you rate this chat?","conversationRatingThankYou":"Thanks for rating
        your chat session!","conversationRatingPlaceholder":"How can we improve?","conversationEndTranscriptPlaceholder":"Email
        to send transcript of chat","conversationEndConfirmationQuestion":"Are you
        sure you want to end this chat?","blacklistedUrls":"","triggerJson":"","useSgmt":false,"autoResponseMessage":"Question?
        Just type it below and we are online and ready to answer."}'
  recorded_at: Wed, 02 Aug 2017 02:54:42 GMT
- request:
    method: post
    uri: https://api.chatlio.com/v1/v/visitor/m
    body:
      encoding: UTF-8
      string: '{"page":"http://127.0.0.1:64502/users/thomas-oberbrunner"}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjZVVVSUQiOiI4YTU0ZmRlZS02NzQ3LTRjZTktNGQ2OS1mMDNjMmFmNjY0ZjIiLCJleHAiOjE1MDE2NDkwMzYsImlhdCI6MTUwMTY0MTgzNiwidnNVVUlEIjoiMDlkMjg0YWMtYzEyMi00YjliLWEwMWQtZjc2MjQwODA3MGMwIn0.x9WTtj9sVmFa8DKPmhh4LtiziRrGt7g5exMC1Ifq5OA
      Content-Type:
      - application/xml
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 02:54:42 GMT
- request:
    method: post
    uri: https://api.chatlio.com/v1/v/visitor/m
    body:
      encoding: UTF-8
      string: '{"page":"http://127.0.0.1:64502/users/thomas-oberbrunner#undefined"}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjZVVVSUQiOiI4YTU0ZmRlZS02NzQ3LTRjZTktNGQ2OS1mMDNjMmFmNjY0ZjIiLCJleHAiOjE1MDE2NDkwMzYsImlhdCI6MTUwMTY0MTgzNiwidnNVVUlEIjoiMDlkMjg0YWMtYzEyMi00YjliLWEwMWQtZjc2MjQwODA3MGMwIn0.x9WTtj9sVmFa8DKPmhh4LtiziRrGt7g5exMC1Ifq5OA
      Content-Type:
      - application/xml
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 02:54:42 GMT
recorded_with: VCR 3.0.3
