---
http_interactions:
- request:
    method: get
    uri: http://www.youtube.com/embed/yt_video_id_12?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.youtube.com/embed/yt_video_id_12?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Apr 2016 11:13:46 GMT
- request:
    method: get
    uri: https://www.youtube.com/embed/yt_video_id_12?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |2-

        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><title>YouTube</title><meta name="viewport" content="width=device-width, initial-scale=1"><style name="www-roboto">@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEXYhjbSpvc47ee6xR_80Hnw.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0SwlidHJgAgmTjOEEzwu1L8.ttf)format('truetype');}</style><script name="www-roboto">if (document.fonts && document.fonts.load) {document.fonts.load("400 10pt Roboto", "");document.fonts.load("500 10pt Roboto", "");}</script>  <link rel="stylesheet" href="//s.ytimg.com/yts/cssbin/www-embed-player-vfl5iqOUK.css" name="www-embed-player">
        <script>__yt_experimental_now = __spf_experimental_now = true;</script><script>var ytcsi = {gt: function(n) {n = (n || '') + 'data_';return ytcsi[n] || (ytcsi[n] = {tick: {},span: {},info: {}});},now: window.performance && window.performance.timing &&window.performance.now && window['__yt_experimental_now'] ? function() {return window.performance.timing.navigationStart + window.perfor[...]
- request:
    method: get
    uri: https://s.ytimg.com/yts/cssbin/www-embed-player-vfl5iqOUK.css
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css
      Last-Modified:
      - Mon, 11 Apr 2016 09:09:28 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '.yt-embed-thumbnail{width:100%;height:100%;cursor:pointer;background-size:cover;background-repeat:no-repeat;background-position:center}html{overflow:hidden}body{font:12px
        Roboto,Arial,sans-serif;background-color:#000;color:#fff;height:100%;width:100%;overflow:hidden;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);margin:0;padding:0}.full-frame{width[...]
- request:
    method: get
    uri: https://s.ytimg.com/yts/jsbin/www-embed-player-vfl0wn5_C/www-embed-player.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Mon, 11 Apr 2016 08:59:41 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        (function(){var g,aa=aa||{},m=this;function p(a){ret[...]
- request:
    method: get
    uri: http://www.youtube.com/v/yt_video_id_11?enablejsapi=1&version=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.youtube.com/v/yt_video_id_11?version=3&enablejsapi=1
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Apr 2016 11:13:49 GMT
- request:
    method: get
    uri: https://www.youtube.com/v/yt_video_id_11?enablejsapi=1&version=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Apr 2016 11:13:49 GMT
[...]
- request:
    method: get
    uri: https://checkout.stripe.com/v3/yiWszEIcz0H0K2eT1bmgQ.html?distinct_id=bbb87d97-e7ec-bcaa-fb6f-657b1237de36
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/plain
      Fastly-Debug-Digest:
      - 3398723702a18305f94630f1fd7a98dcea5d05b0c618a045042a9d44c7e1d9de
    body:
      encoding: UTF-8
      string: Forbidden
  recorded_at: Fri, 04 Nov 2016 17:39:50 GMT
[...]
- request:
    method: post
    uri: https://www.youtube.com/ad_data_204
    body:
      encoding: UTF-8
      string: dt=1499261521515&flash=0&frm=2&u_tz=0&u_his=3&u_java=false&u_h=768&u_w=1024&u_ah=768&u_aw=1024&u_cd=32&u_nplug=0&u_nmime=0&bid=ANyPxKoCCESPT6SR6P9SaelxmdNX2OlmTgbg4_DY6CFvnrUxUL743M94iy5SFVKt6khX2PQ4oCQV&ca_type=image&bc=1&bih=-12245933&biw=-12245933&brdim=0%2C0%2C0%2C0%2C1024%2C0%2C0%2C0%2C862%2C515&vis=1&wgl=false&bsq=0&session_token=QUFFLUhqbXhZRVMwaVZwdVp0S1JVOXRHR0p4WFZwR2JxQXxBQ3Jtc0ttcXRHWWtzTzJiV2pIREJWTTlQZjFHRlhBcDhMV0RrOWF2OGR6NGg3V0ItV3lMamp0RzFuNG9aZzBkbFZvSHhtcnhyTXVCd3F5OVc1eUdVY2luM2NZZFdJejVncWdoUGxmVHQwWHYyRjVaVk1NTUVLRndLZWdUTGtkOHNHbGd2Qlg4b3d0V3ZXUUNUUHdRNjc2aXVJV1MzVTFQLVE%3D
    headers:
      X-Youtube-Client-Name:
      - '1'
      X-Youtube-Client-Version:
      - '1.20170627'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Jul 2017 13:32:02 GMT
- request:
    method: get
    uri: https://www.youtube.com/embed/yt_video_id_221?enablejsapi=1&version=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |2-

        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><title>YouTube</title><meta name="viewport" content="width=dev[...]
[...]
- request:
    method: get
    uri: https://www.youtube.com/yts/jsbin/www-embed-player-vflB8bFNb/www-embed-player.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Sat, 17 Mar 2018 00:54:13 GMT
    body:
      encoding: UTF-8
      string: |
        (function(){var k,aa="function"==typeof Object.create?Object.create:function(a){function b([...]
- request:
    method: get
    uri: https://www.youtube.com/yts/cssbin/www-player-vfln_x1fm.css
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css
      Last-Modified:
      - Fri, 16 Mar 2018 07:39:25 GMT
    body:
      encoding: UTF-8
      string: '.html5-video-player{position:relative;width:100%;height:100%;overflow:hidden;outline:0;font-family:"YouTube
        Noto",Roboto[...]
