<p>
<ol id="task-list" style="list-style: none; padding-left: 0;">
  <% @progress_tasks.each do |progress_task| %>
      <li class="listing">
        <%= render 'listing', progress_task: progress_task %>
      </li>
  <% end %>
</ol>
<p>
<h3>
<span style="font-family: inherit; font-size: 30px; line-height: 1.1;">That  is it!
  Jump in and let the world discover your ideas!</span><br>
</h3>