---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=My04-8l_INc&key=AIzaSyCv4wTEqPmcTepNWMNXXuW9_ciCzXFlFJU&maxResults=50&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/1npdBMOcTxnr3pRwGqAWIlVDbxk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListResponse",
         "etag": "\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/1npdBMOcTxnr3pRwGqAWIlVDbxk\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#video",
           "etag": "\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/P0KW__g6Hx8-Hyl8O_MAIJSqjv0\"",
           "id": "My04-8l_INc",
           "contentDetails": {
            "duration": "PT15M41S",
            "dimension": "2d",
            "definition": "hd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           }
          }
         ]
        }
  recorded_at: Thu, 10 Nov 2016 18:43:35 GMT
recorded_with: VCR 3.0.1
