---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteTwo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1537307758'
      Etag:
      - W/"ab1df0a22b3850846ffb907cb6114df3"
      Last-Modified:
      - Mon, 25 Jan 2016 08:13:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":41289508,"node_id":"MDEwOlJlcG9zaXRvcnk0MTI4OTUwOA==","name":"WebSiteTwo","full_name":"AgileVentures/WebSiteTwo","private":false,"owner":{"login":"AgileVentures","id":5116968,"node_id":"MDEyOk9yZ2FuaXphdGlvbjUxMTY5Njg=","avatar_url":"https://avatars0.githubusercontent.com/u/5116968?v=4","gravatar_id":"","url":"https://api.github.com/users/AgileVentures","html_url":"https://github.com/AgileVentures","followers_url":"https://api.github.com/users/AgileVentures/followers","following_url":"https://api.github.com/users/AgileVentures/following{/other_user}","gists_url":"https://api.github.com/users/AgileVentures/gists{/gist_id}","starred_url":"https://api.github.com/users/AgileVentures/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AgileVentures/subscriptions","organizations_url":"https://api.github.com/users/AgileVentures/orgs","repos_url":"https://api.github.com/users/AgileVentures/repos","events_url":"https://api.github.com/users/AgileVentures/events{/privacy}","received_events_url":"https://api.github.com/users/AgileVentures/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/AgileVentures/WebSiteTwo","description":"For
        considering AgileVentures Future Directions","fork":false,"url":"https://api.github.com/repos/AgileVentures/WebSiteTwo","forks_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/forks","keys_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/teams","hooks_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/hooks","issue_events_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/issues/events{/number}","events_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/events","assignees_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/assignees{/user}","branches_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/branches{/branch}","tags_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/tags","blobs_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/refs{/sha}","trees_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/statuses/{sha}","languages_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/languages","stargazers_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/stargazers","contributors_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/contributors","subscribers_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/subscribers","subscription_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/subscription","commits_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/commits{/sha}","git_commits_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/git/commits{/sha}","comments_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/comments{/number}","issue_comment_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/issues/comments{/number}","contents_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/contents/{+path}","compare_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/merges","archive_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/downloads","issues_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/issues{/number}","pulls_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/pulls{/number}","milestones_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/milestones{/number}","notifications_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/labels{/name}","releases_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/releases{/id}","deployments_url":"https://api.github.com/repos/AgileVentures/WebSiteTwo/deployments","created_at":"2015-08-24T07:46:05Z","updated_at":"2016-01-25T08:13:15Z","pushed_at":"2016-05-05T14:09:50Z","git_url":"git://github.com/AgileVentures/WebSiteTwo.git","ssh_url":"git@github.com:AgileVentures/WebSiteTwo.git","clone_url":"https://github.com/AgileVentures/WebSiteTwo.git","svn_url":"https://github.com/AgileVentures/WebSiteTwo","homepage":null,"size":9925,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":4,"mirror_url":null,"archived":false,"open_issues_count":8,"license":null,"forks":4,"open_issues":8,"watchers":2,"default_branch":"master","organization":{"login":"AgileVentures","id":5116968,"node_id":"MDEyOk9yZ2FuaXphdGlvbjUxMTY5Njg=","avatar_url":"https://avatars0.githubusercontent.com/u/5116968?v=4","gravatar_id":"","url":"https://api.github.com/users/AgileVentures","html_url":"https://github.com/AgileVentures","followers_url":"https://api.github.com/users/AgileVentures/followers","following_url":"https://api.github.com/users/AgileVentures/following{/other_user}","gists_url":"https://api.github.com/users/AgileVentures/gists{/gist_id}","starred_url":"https://api.github.com/users/AgileVentures/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AgileVentures/subscriptions","organizations_url":"https://api.github.com/users/AgileVentures/orgs","repos_url":"https://api.github.com/users/AgileVentures/repos","events_url":"https://api.github.com/users/AgileVentures/events{/privacy}","received_events_url":"https://api.github.com/users/AgileVentures/received_events","type":"Organization","site_admin":false},"network_count":4,"subscribers_count":13}'
  recorded_at: Tue, 18 Sep 2018 20:55:59 GMT
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1537307758'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/LocalSupport
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1537307758'
      Etag:
[...]
