---
http_interactions:
- request:
    method: post
    uri: https://www.youtube.com/ad_data_204
    body:
      encoding: UTF-8
      string: dt=1537309191118&flash=0&frm=2&u_tz=0&u_his=1&u_java=false&u_h=768&u_w=1024&u_ah=768&u_aw=1024&u_cd=32&u_nplug=0&u_nmime=0&ca_type=image&bid=ANyPxKoCCESPT6SR6P9SaelxmdNX2OlmTgbg4_DY6CFvnrUxUL743M94iy5SFVKt6khX2PQ4oCQV&bsq=0&session_token=QUFFLUhqbjJFdW5XaHdVWUNha2ZoMzNmZjdrdmxfT3B2Z3xBQ3Jtc0ttOVliWXBFR0hmZmRwMVhWQmRSV2FRTmhkSkVnWU5ybVRSdFV0Q1MtZ2JycHlSMUhPeFBKTVFZUkZaNzA4Q3pjaFJldnFzTVFPN0FSdkM5RWJMeHlhU0lJdXVqeW9DWHgwcURNZjdVUHotRkxIcXZLV1ZEOEttOEVpamZNcnp2M1djVl9EQ3FmLWRSc0xESnV2STVRSEJZQndUTnc%3D
    headers:
      X-Youtube-Client-Name:
      - '56'
      X-Youtube-Client-Version:
      - '20180425'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Feb 2014 07:00:21 GMT
- request:
    method: post
    uri: http://hn.inspectlet.com/ginit/1674848404
    body:
      encoding: UTF-8
      string: w=1674848404&uid=-1&sid=-1&pad=-1&nv=true&u=http%3A%2F%2F127.0.0.1%3A55024%2Fprojects%2Fhello-world&or=http%3A%2F%2F127.0.0.1%3A55024&ref=&title=hello+world+%7C+AgileVentures&pw=1024&ph=768&ism=false&cloc=undefined&sd=768&st=1327&dbgk=&jv=4&identity=&targcv%5Blochref%5D=http%3A%2F%2F127.0.0.1%3A55024%2Fprojects%2Fhello-world&targcv%5Bdoctitle%5D=hello+world+%7C+AgileVentures&targcv%5Blptitle%5D=hello+world+%7C+AgileVentures&targcv%5Blpurl%5D=http%3A%2F%2F127.0.0.1%3A55024%2Fprojects%2Fhello-world&targcv%5B%24browser%5D%5Bwebkit%5D=true&targcv%5B%24browser%5D%5Bversion%5D=538.1&targcv%5B%24browser%5D%5Bsafari%5D=true&targcv%5BuserAgent%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bmobchua%5D=Mozilla%2F5.0+(Macintosh%3B+Intel+Mac+OS+X)+AppleWebKit%2F538.1+(KHTML%2C+like+Gecko)+PhantomJS%2F2.1.1+Safari%2F538.1&targcv%5Bref%5D=&targcv%5Bnv%5D=true&isvp=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"noinspectlet":"crawlbot"}'
  recorded_at: Wed, 05 Feb 2014 07:13:04 GMT
- request:
    method: get
    uri: https://www.youtube.com/embed/yt_video_id_86?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="robots" content="noindex"><style name="www-roboto" >@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxPKTU1Kg.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9AMP6lQ.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzcXKMny.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsHYl4BO.ttf)format('truetype');}</style><script name="www-roboto" >if (document.fonts && document.fonts.load) {document.fonts.load("400 10pt Roboto", "");document.fonts.load("500 10pt Roboto", "");}</script>  <link rel="stylesheet" href="/s/player/c926146c/www-player.css" name="www-player">
        <style>html {overflow: hidden;        }body {font: 12px Roboto, Arial, sans-serif;background-color: #000;color: #fff;height: 100%;width: 100%;overflow: hidden;position: absolute;margin: 0;padding: 0;}#player {width: 100%;height: 100%;}h1 {text-align: center;color: #fff;}h3 {margin-top: 6px;margin-bottom: 3px;}.player-unavailable {position: absolute;top: 0;left: 0;right: 0;bottom: 0;padding: 25px;font-size: 13px;[...]
- request:
    method: get
    uri: https://www.youtube.com/embed/yt_video_id_84?enablejsapi=1&version=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><meta name="viewport" content="width=device-width, initial-scale=[...]
- request:
    method: post
    uri: https://www.youtube.com/error_204?a=logerror&client.name=56&level=ERROR&line=748&msg=null%20is%20not%20a%20constructor%20(evaluating%20%27d(a.aa,e,a.h)%27)&t=jserror&type=TypeError
    body:
      encoding: UTF-8
      string: url=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fyt_video_id_86%3Fenablejsapi%3D1&file=https%3A%2F%2Fwww.youtube.com%2Fs%2Fplayer%2Fc926146c%2Fwww-embed-player.vflset%2Fwww-embed-player.js&stack=C%40https%3A%2F%2Fwww.youtube.com%2Fs%2Fplayer%2Fc926146c%2Fwww-embed-player.vflset%2Fwww-embed-player.js%3A748%3A398%0Af%40https%3A%2F%2Fwww.youtube.com%2Fs%2Fplayer%2Fc926146c%2Fwww-embed-player.vflset%2Fwww-embed-player.js%3A464%3A303%0Ahttps%3A%2F%2Fwww.youtube.com%2Fs%2Fplayer%2Fc926146c%2Fwww-embed-player.vflset%2Fwww-embed-player.js%3A451%3A68&client.name=56&client.version=20201102&client.vendor=Apple%20Computer%2C%20Inc.&session_token=QUFFLUhqbTltX21rQlV3MUhUN2luaHY5Um1Mb2djR3U3Z3xBQ3Jtc0trUHVLN09IbEJIYzlRNm9sa3c1eUZjWjRsTHJLaEhmemxwSkRlZ04zelpIUG9sT2hmZVBaQVZpM1N5bjVrZERDTVJKdUxObmJvdlBtcHZ4RVpZUW1KQ0RqVE03Q0RjeS11NkdpY20xUzlaNGNZN1F2VG9uel9WcmFiZW45OHR4NWZReDgtb1JuLXQ1UFNZSnM5cmdRTDV0SUVCR3c%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Youtube-Utc-Offset:
      - '0'
      X-Youtube-Client-Name:
      - '56'
      X-Youtube-Client-Version:
      - '20201102'
      X-Youtube-Ad-Signals:
      - dt=1604507101956&flash=0&frm=2&u_tz&u_his=1&u_java&u_h=768&u_w=1024&u_ah=768&u_aw=1024&u_cd=32&u_nplug&u_nmime&bc=1&bih=-12245933&biw=-12245933&brdim=0%2C0%2C0%2C0%2C1024%2C0%2C0%2C0%2C0%2C0&vis=1&wgl&ca_type=image
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Feb 2014 07:05:46 GMT
recorded_with: VCR 5.0.0
