---
http_interactions:
- request:
    method: get
    uri: http://www.youtube.com/embed/yt_video_id_53?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.youtube.com/embed/yt_video_id_53?enablejsapi=1
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Apr 2016 11:30:01 GMT
- request:
    method: get
    uri: https://www.youtube.com/embed/yt_video_id_53?enablejsapi=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |2-

        <!DOCTYPE html>  <html lang="en" dir="ltr" data-cast-api-enabled="true">
        <head><title>YouTube</title><meta name="viewport" content="width=device-width, initial-scale=1"><style name="www-roboto">@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEXYhjbSpvc47ee6xR_80Hnw.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0SwlidHJgAgmTjOEEzwu1L8.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf)format('truetype');}</style><script name="www-roboto">if (document.fonts && document.fonts.load) {document.fonts.load("400 10pt Roboto", "");document.fonts.load("500 10pt Roboto", "");}</script>  <link rel="stylesheet" href="//s.ytimg.com/yts/cssbin/www-embed-player-vfl5iqOUK.css" name="www-embed-player">
        <script>__yt_experimental_now = __spf_experimental_now = true;</script><script>var ytcsi = {gt: function(n) {n = (n || '') + 'data_';return ytcsi[n] || (ytcsi[n] = {tick: {},span: {},info: {}});},now: window.performance && window.performance.timing &&window.performance.now && window['__yt_experimental_now'] ? function() {return window.performance.timing.navigationStart + window.perfor[...]
- request:
    method: get
    uri: http://www.youtube.com/v/yt_video_id_51?enablejsapi=1&version=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.youtube.com/v/yt_video_id_51?version=3&enablejsapi=1
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Apr 2016 11:30:01 GMT
- request:
    method: get
    uri: https://www.youtube.com/v/yt_video_id_51?enablejsapi=1&version=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Apr 2016 11:30:01 GMT
[...]
- request:
    method: get
    uri: https://s.ytimg.com/yts/cssbin/www-embed-player-vfleyYhyJ.css
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css
      Last-Modified:
      - Wed, 31 Aug 2016 08:01:53 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '.yt-embed-thumbnail{width:100%;height:100%;cursor:pointer;background-size:cover;background-repeat:no-repeat;background-position:center}html{overflow:hidden}body{font:12px
        Roboto,Arial,sans-serif;background-color:#000;color:#fff;height:100%;width:100%;overflow:hidden;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);margin:0;padding:0}.full-frame{width[...]
- request:
    method: get
    uri: https://s.ytimg.com/yts/jsbin/www-embed-player-vflD6qjpz/www-embed-player.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Wed, 31 Aug 2016 08:01:53 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        (function(){var g,aa=aa||{},m=this;function p(a){ret[...]
- request:
    method: get
    uri: https://googleads.g.doubleclick.net/pagead/id
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - attachment; filename="f.txt"
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        )]}'

        {"id": "ANyPxKoCCESPT6SR6P9SaelxmdNX2OlmTgbg4_DY6CFvnrUxUL743M94iy5SFVKt6khX2PQ4oCQV"}
  recorded_at: Tue, 15 Jul 2014 12:00:21 GMT
- request:
    method: get
    uri: https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/ttf
      Last-Modified:
      - Wed, 14 Jan 2015 22:48:18 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAEAAAAPAIAAAwBwR0RFRgAAAAAAAAD8AAA[...]
- request:
    method: get
    uri: https://www.google.com/js/bg/my8NWbehWSgDruVLZTgA7_ZNkkFwuB6ZNiUo77UXhyk.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Wed, 17 Aug 2016 14:03:41 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '/* Anti-spam. Want to say hello? Contact (base64) Ym90Z3VhcmQt[...]
- request:
    method: get
    uri: https://static.doubleclick.net/instream/ad_status.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Thu, 12 Dec 2013 23:40:16 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: 'window.google_ad_status = 1;

'
  recorded_at: Tue, 15 Jul 2014 12:00:21 GMT
- request:
    method: get
    uri: https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/ttf
      Last-Modified:
      - Wed, 14 Jan 2015 22:47:17 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAEAAAAOAIAAAwBgR1BPUwAAAAAAAADsAAA[...]
- request:
    method: get
    uri: https://s.ytimg.com/yts/cssbin/www-player-vflvG-b7X.css
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css
      Last-Modified:
      - Wed, 31 Aug 2016 08:01:53 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '.html5-video-player{position:relative;width:100%;height:100%;background-color:#000;overfl[...]
- request:
    method: get
    uri: https://s.ytimg.com/yts/jsbin/player-en_GB-vfl87WzCJ/base.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Wed, 31 Aug 2016 08:01:53 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        var _yt_player={};(function(g){var window=this;var h,p,q,r,v,ca,da,e[...]
