<% if @plan == 'premium' %>
    <h2 id='payment_complete'>Thanks, you're now an AgileVentures Premium Member!</h2>
    <p>You're seven day free trial has now started.  Your card will not be charged until seven days have passed.</p>
    <p>An AgileVentures mentor will be in touch shortly to help you receive all of your premium membership benefits.</p>
<% else %>
    <h2 id='payment_complete'>Thanks, you're now an AgileVentures Premium PLUS Member!</h2>
    <p>An AgileVentures mentor will be in touch shortly to help you receive all of your premium plus membership benefits.</p>
<% end %>