<%= form_tag charges_path(plan: 'premium') do %>
    <article>
      <h1>Agile Ventures Premium Membership</h1>
      <br/>
      <a href='/premium'>Further details</a>
      </p>
      <label class="amount">
        <p>The price for Premium Membership is £10.00/Month</p>
        <p>7 day free trial! No charge for 7 days</p>
      </label>
      <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
      <% end %>
      <br/>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="1000"
            data-currency="GBP"
            data-locale="auto"
            data-name="Premium Membership"
            data-label="Sign Me Up For Premium!"></script>

<% end %>