<% unless @error%>
    <h2>Your card details have been successfully updated</h2>
<%else%>
    <h2>Apologies, but something has gone wrong with changing your card details.  Please email <a href="mailto:support@agileventures.org">support@agileventures.org</a></h2>
<%end%>