<!-- Begin page content -->
<section class="bg-3" style="margin-top: -120px;">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header opacity-dark text-center">
      <h1>Crowdsourced LEARNING</h1>
    </div>
  </div>
</section>
<div class="divider"></div>
<div class="container">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1>Sub heading</h1>

    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet reprehenderit nam quod repudiandae vel animi
      neque
      fuga. Obcaecati dolorum quibusdam odit velit reiciendis asperiores nostrum voluptas commodi autem accusantium
      nihil
      itaque blanditiis molestiae suscipit hic rerum totam quasi explicabo error saepe tempora iure placeat aliquid
      magnam
      corporis esse ipsa minima. Odio ipsa velit non unde quas repellat ducimus quam explicabo assumenda minus doloribus
      vero recusandae alias optio libero consectetur aspernatur nemo facere aliquam totam nisi corporis cumque nesciunt
      eum consequuntur!
    </p>
  </div>
</div>
<div class="divider"></div>
<section class="bg-2">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header opacity-light text-center">
      <h1>COMMUNITY</h1>
    </div>
  </div>
</section>
<div class="divider"></div>
<div class="container">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1>Sub heading</h1>

    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet reprehenderit nam quod repudiandae vel animi
      neque
      fuga. Obcaecati dolorum quibusdam odit velit reiciendis asperiores nostrum voluptas commodi autem accusantium
      nihil
      itaque blanditiis molestiae suscipit hic rerum totam quasi explicabo error saepe tempora iure placeat aliquid
      magnam
      corporis esse ipsa minima. Odio ipsa velit non unde quas repellat ducimus quam explicabo assumenda minus doloribus
      vero recusandae alias optio libero consectetur aspernatur nemo facere aliquam totam nisi corporis cumque nesciunt
      eum consequuntur!
    </p>
  </div>
</div>
<div class="divider"></div>
<div class="container">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1>Mobile-first + Responsive</h1>

    <p>
      Obcaecati dolorum quibusdam odit velit reiciendis asperiores nostrum voluptas commodi autem accusantium nihil
      itaque blanditiis molestiae suscipit hic rerum totam quasi explicabo error saepe tempora iure placeat aliquid
      magnam
      corporis esse ipsa minima. Odio ipsa velit non unde quas repellat ducimus quam explicabo assumenda minus doloribus
      vero recusandae alias optio libero consectetur aspernatur nemo facere aliquam totam nisi corporis cumque nesciunt
      eum consequuntur!
    </p>
    <hr>
  </div>
</div>
<div class="divider"></div>
<section class="bg-1">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header opacity-dark text-center">
      <h1>Open Source</h1>
    </div>
  </div>
</section>
<div class="divider"></div>
<div class="continer bg-4">
  <div class="row">
    <div class="col-sm-4 col-xs-6">

      <div class="panel panel-default">
        <div><img src="//placehold.it/450X250/565656/eee" class="img-responsive"></div>
        <div class="panel-body">
          <p class="lead">Some News</p>

          <p>And a listing</p>
        </div>
      </div>
      <!--/panel-->
    </div>
    <!--/col-->

    <div class="col-sm-4 col-xs-6">

      <div class="panel panel-default">
        <div class="panel-thumbnail"><img src="//placehold.it/450X250/ffcc33/444" class="img-responsive"></div>
        <div class="panel-body">
          <p class="lead">Topic that we think is interesting</p>

          <p>Interesting content</p>
        </div>
      </div>
      <!--/panel-->
    </div>
    <!--/col-->

    <div class="col-sm-4 col-xs-6">

      <div class="panel panel-default">
        <div class="panel-thumbnail"><img src="//placehold.it/450X250/f16251/444" class="img-responsive"></div>
        <div class="panel-body">
          <p class="lead">Another topi</p>

          <p>And some content</p>

        </div>
      </div>
      <!--/panel-->

    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>


