<% if session[:cookies_accepted].nil? # don't re-render if a true/false selected %>
  <section class="cookies-banner-modal">
    <h3>We process cookies.</h3>
    <%= link_to "Accept cookies", cookies_path(cookies: true), method: :post %>
    <%= link_to "Reject cookies", cookies_path(cookies: false), method: :post %>
  </section>
<% end %>