<% if current_user %>
    <% if current_user.membership_type == 'Basic' %>
        <% path = '/premium' %>
        <% message = 'Upgrade to Associate membership and get out more from your membership' %>
    <% end %>
<% else %>
    <% path = "/about-us" %>
    <% message = 'Work The Web - Summer Camp 2021!' %>
<% end %>

<% if path && message %>
<a href="<%= path %>" class="btn btn-primary btn-block call-to-action " style="margin: auto; margin-bottom: 10px;"><span><%= message %></span></a>
<% end %>