<% if flash %>
  <div id="flash-container">
    <div id="flash-display">
      <% flash.each do |name, msg| %>
        <div id="flash_<%= "#{name}" %>" class="alert alert-<%= name == :notice ? 'success' : 'danger' %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <p style="margin: 0 auto;">
            <%= msg %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>