<div class="container">
  <div class="col-sm-7">
    <div id="upper-section" class="row">
      <div class="col-sm-4">
        <ul>
          <h3>Learn More</h3>
          <li><%= link_to 'About us', static_page_path('About Us') %></li>
          <li><%= link_to 'Getting Started', static_page_path('Getting Started') %></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <h3>Social Media</h3>
          <li>
            <a class="facebook" href="https://www.facebook.com/agileventures" target="_blank">
              <i class="fa fa-facebook fa-custom-social"></i> Facebook
            </a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/AgileVentures" target="_blank">
              <i class="fa fa-twitter fa-custom-social"></i> Twitter
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h3><a href="#"><img src="<%= image_path('av-logo-inverse.png') %>"/></a></h3>
      <p>AgileVentures - Crowdsourced Learning</p>
    </div>
  </div>

  <div class="col-sm-5">
    <%= render 'layouts/contact_form' %>
  </div>
</div>
