<!-- starts footer -->
<footer>
  <div class="container">
    <div class="row credits">
      <div class="col-md-12">
        <div class="row social">
          <div class="col-md-12">
            <a href="#">
              <img src="<%= image_path('av-logo-inverse.png') %>">
            </a>

          </div>
        </div>
        <div class="row copyright">
          <div class="col-md-12">
        <p>AgileVentures - Crowdsourced Learning</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>