<div id="require_users_profile" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Incomplete Profile</h4>
      </div>
      <div class="modal-body">
        <p>Please, complete your profile to leave other members know you.</p>
      </div>
      <div class="modal-footer" class="form-inline">
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue using the site</button>
        <%= link_to 'Take me to my profile page', edit_user_registration_url, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
