<div><h2>Level up as a Developer and Save the World!</h2>
  <p>Gain valuable software development and agile team skills working on real projects delivering real value to real charity and non-profit clients. Participate in multiple ways, regardless of skill level. Everything we do is open source making your contributions visible on Github.<p></div>
<%= render 'layouts/escalating_call_to_action' %>
<%= render partial: 'layouts/event_link', locals: {event: @event} %>