<div id="sponsorsBar">
  <div class="gold sponsorsTier text-center">
    <h3>Supporters</h3>
    <ul>
      <li>
        <a href="http://www.makersacademy.com/" target='new' class="sponsorMedal">
          <div class="sponsorStandinMedal">
            <img alt="Makers Academy" src="<%= image_path('sponsors/makers_sidebar.png') %>">
          </div>
        </a>
      </li>
      <li>
        <a href="http://www.airpair.com/" target='new' class="sponsorMedal">
          <div class="sponsorStandinMedal">
            <img alt="AirPair" src="<%= image_path('sponsors/airpair_sidebar.jpg') %>">
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="sponsorMedal">
          <div class="sponsorStandinMedal">
            <img alt="Agile Ventures" src="<%= image_path('AV205X100.png') %>">
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="sponsorsTier" id='ourSponsors'>
    <%= link_to 'Become a supporter', static_page_path('Sponsors'), class: 'btn btn-be-a-supporter'%>
  </div>
</div>
