<div id="sponsorsBar" class="hidden-sm hidden-xs hidden-md" >
  <div class="gold sponsorsTier text-center">
    <h3>Supporters</h3>
    <ul>
      <li>
        <a href="https://craftacademy.se/english" target='new' class="sponsorMedal">
          <div class="sponsorStandinMedal">
            <img alt="Craft Academy" src="<%= image_path('sponsors/craft_banner_2.png') %>">
          </div>
        </a>
      </li>
      <li>
        <a href="https://smile.amazon.co.uk/ch/1170963-0" target='new' class="sponsorMedal">
          <div class="sponsorStandinMedal">
            <img alt="Amazon Smile" src="<%= image_path('sponsors/amazon_smile.png') %>">
          </div>
        </a>
      </li>
      <li>
        <span class="sponsorStandinMedal" id='ourSponsors'>
          <%= link_to 'Become a supporter', static_page_path('Sponsors'), class: 'btn btn-be-a-supporter'%>
        </span>
      </li>
    </ul>
  </div>
</div>
