<%= content_for :content do %>
  <div id="with-sidebar-container" class="container">
    <aside id="sidebar" class="col-sm-3">
      <nav role="complementary">
        <%= render partial: 'layouts/sidebar', locals: { project: @project, document: @document } %>
      </nav>
    </aside>
    <div id="not-sidebar" class="col-sm-9 pull-right">
      <div id="not-sidebar-content" class="pull-right">
       <%= yield %>
     </div>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
