<%= content_for :content do %>

    <div id="not-sidebar" class="col-sm-9">
      <div id="not-sidebar-content">
       <%= yield %>
     </div>
    </div>
    <div class="col-sm-3 pull-right">
      <%= render partial: 'layouts/sponsors' %>
    </div>

<% end %>
<%= render template: 'layouts/application' %>
